@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    <head>
      @await Html.PartialAsync("~/Views/Partials/metaData.cshtml");
           <!-- Favicon -->
    <link rel="shortcut icon" href="../img/favicon.jpg">


    <!-- Fontawesome -->
    <link rel="stylesheet" href="../css/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../css/font-icons/font-icons.css" type="text/css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">

    

    <!-- Responsive Tabs CSS -->
    <link rel="stylesheet" href="../css/responsive-tabs/responsive-tabs.css" />

    
    <!-- Animate CSS -->
    <link rel="stylesheet" href="../css/animate/animate.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../css/responsive.css">
    </head>

    <body data-spy="scroll" data-target=".navbar" data-offset="65">
      @* @await Html.PartialAsync("~/Views/Partials/navigation.cshtml") *@
               @await Html.PartialAsync("~/Views/Partials/Header.cshtml")

      
  @RenderBody();
     

      <footer>
      @await Html.PartialAsync("~/Views/Partials/Footer.cshtml")
       </footer>
        </body>
       <!-- JQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrp JS -->
    <script src="../js/bootstrap/bootstrap.js"></script>

   
    <!-- Waypoints -->
    <script src="../js/waypoints/jquery.waypoints.min.js"></script>

    <!-- Responsive Tabs JS -->
    <script src="../js/responsive-tabs/jquery.responsiveTabs.min.js"></script>

    

    <!-- Easing -->
    <script src="../js/easing/jquery.easing.1.3.js"></script>

    <!-- wow JS -->
    <script src="../js/wow/wow.min.js"></script>

    <!-- Custom JS -->
    <script src="../js/script.js"></script>
   
</html>
