<?xml version="1.0" encoding="utf-8"?>
<Content Key="e58906a8-8ae2-4ce1-84c8-fbca2b2d75ef" Alias="Asset Monitoring and Management" Level="3">
  <Info>
    <Parent Key="a4ca40c8-cf0d-40de-82a2-9cc242542336">Industrial Automation</Parent>
    <Path>//IndustrialAutomation/AssetMonitoringAndManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>subContent</ContentType>
    <CreateDate>2022-10-23T19:14:24</CreateDate>
    <NodeName Default="Asset Monitoring and Management">
      <Name Culture="en-us">Asset Monitoring and Management</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="ebe2fa1a-5c4f-4309-8b60-9c83f1229fd3">SubContent</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "b04dfcea-ada1-4189-8fa3-879c4a2a840f",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <imag1>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "97160219-3a46-4a6d-a6ad-339b09287c06",
    "mediaKey": "9da7cdf3-1757-48af-a572-32882782c217"
  }
]]]></Value>
    </imag1>
    <imagelist1>
      <Value><![CDATA[]]></Value>
    </imagelist1>
    <imagelist2>
      <Value><![CDATA[]]></Value>
    </imagelist2>
    <imagelist3>
      <Value><![CDATA[]]></Value>
    </imagelist3>
    <label1>
      <Value><![CDATA[]]></Value>
    </label1>
    <label2>
      <Value><![CDATA[]]></Value>
    </label2>
    <label3>
      <Value><![CDATA[]]></Value>
    </label3>
    <list1>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/88b05d15320d43099531b4db4bbff2f7",
        "settingsUdi": "umb://element/1078d184e25e421692ce2de6c1860bef"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/88b05d15320d43099531b4db4bbff2f7",
      "content": "<ul>\n<li>Supply and installation</li>\n<li>Testing and integration</li>\n<li>Wireless and wired connectivity to machinery means no assets are left out.</li>\n<li>Monitoring can be done locally or off-site on computers or mobile.</li>\n</ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/1078d184e25e421692ce2de6c1860bef"
    }
  ]
}]]></Value>
    </list1>
    <list2>
      <Value><![CDATA[]]></Value>
    </list2>
    <mainBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "8ee3717a-95ac-4981-88fb-e00a47b88653",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </mainBanner>
    <paragraph1>
      <Value Culture="en-us"><![CDATA[An integrated IoT powered system that provides ongoing monitoring of machinery and equipment and visibility into the status of the assets for better management and control. ]]></Value>
    </paragraph1>
    <paragrpagh2>
      <Value><![CDATA[]]></Value>
    </paragrpagh2>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[Asset Monitoring and Management]]></Value>
    </title>
  </Properties>
</Content>