<?xml version="1.0" encoding="utf-8"?>
<Content Key="111168a9-d0dc-4cfa-972d-70a3f5ef258e" Alias="Blog" Level="2">
  <Info>
    <Parent Key="e2485701-bfec-4158-9bb1-77ac8a3ba706">الصفحة الرئيسية</Parent>
    <Path>//Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>articleList</ContentType>
    <CreateDate>2022-10-11T09:07:21</CreateDate>
    <NodeName Default="Blog">
      <Name Culture="en-us">Blog</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="false">
      <Published Culture="en-us">false</Published>
    </Published>
    <Schedule />
    <Template Key="dbd46205-d113-4fb6-a3db-f25cc91cdc5d">ArticleList</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[]]></Value>
    </headerImage>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <UmbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </UmbracoNaviHide>
  </Properties>
</Content>