<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f1361e8-6f9b-42d7-99e1-926f94019e11" Alias="City Operation Center" Level="3">
  <Info>
    <Parent Key="65118806-279d-467d-9e88-f18777130538">IOT &amp; Smart Solutions</Parent>
    <Path>//IOTSmartSolutions/CityOperationCenter</Path>
    <Trashed>false</Trashed>
    <ContentType>subContent</ContentType>
    <CreateDate>2022-10-21T15:56:42</CreateDate>
    <NodeName Default="City Operation Center">
      <Name Culture="en-us">City Operation Center</Name>
      <Name Culture="fr">City Operation Center</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="ebe2fa1a-5c4f-4309-8b60-9c83f1229fd3">SubContent</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "34b1387f-4c2f-409a-a2b9-e574877213e5",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "5a891c44-f88f-414a-9ff5-17ca42582c14",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <imag1>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "b1d54ab7-6077-4e83-949d-ffc3ffca696c",
    "mediaKey": "c413ca60-b767-4b47-8b5f-e5e9add0f8da"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "bddc39bc-f3ba-433c-84ee-08cbe851af76",
    "mediaKey": "c413ca60-b767-4b47-8b5f-e5e9add0f8da"
  }
]]]></Value>
    </imag1>
    <imagelist1>
      <Value><![CDATA[]]></Value>
    </imagelist1>
    <imagelist2>
      <Value><![CDATA[]]></Value>
    </imagelist2>
    <imagelist3>
      <Value><![CDATA[]]></Value>
    </imagelist3>
    <label1>
      <Value><![CDATA[]]></Value>
    </label1>
    <label2>
      <Value><![CDATA[]]></Value>
    </label2>
    <label3>
      <Value><![CDATA[]]></Value>
    </label3>
    <list1>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d99eca3b56514da8b4edbb16aa0da159",
        "settingsUdi": "umb://element/cab457e3dccb4ea8b13f059787830285"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/d99eca3b56514da8b4edbb16aa0da159",
      "content": "<ul>\n<li>City related information includes traffic, emergency, security, utilities, and public services.</li>\n<li>Helps serve the decision-making center, warning center, governance center, and command center.</li>\n<li>Full scope of design and implementation services including procurement, factory acceptance test, installation, commissioning, support, and maintenance.</li>\n</ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/cab457e3dccb4ea8b13f059787830285"
    }
  ]
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/11ee590d9fe24ef185bf0a95634763a1",
        "settingsUdi": "umb://element/9a3d691ba6fe4b2e852a661bba5c5f2e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/11ee590d9fe24ef185bf0a95634763a1",
      "content": "<ul>\n<li>Les informations relatives à la ville comprennent la circulation, les urgences, la sécurité, les services publics et les services d'utilité publique.</li>\n<li> Aide à desservir le centre de prise de décision, le centre d'avertissement, le centre de gouvernance et le centre de commandement.</li>\n<li>Services complets de conception et de mise en œuvre, y compris l'approvisionnement, les essais de réception en usine, l'installation, la mise en service, le soutien et la maintenance.</li>\n</ul>\n<p> </p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/9a3d691ba6fe4b2e852a661bba5c5f2e"
    }
  ]
}]]></Value>
    </list1>
    <list2>
      <Value><![CDATA[]]></Value>
    </list2>
    <mainBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "db2028e6-a9bb-4667-8a0e-0d314930a171",
    "mediaKey": "abb5aa44-21ee-46ff-aff4-324655e266cb"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "66e77917-213b-4779-8161-b9d201431330",
    "mediaKey": "abb5aa44-21ee-46ff-aff4-324655e266cb"
  }
]]]></Value>
    </mainBanner>
    <paragraph1>
      <Value Culture="en-us"><![CDATA[<p>Serves as the central nervous system of smart cities, where all city related information is collected, displayed, interconnected, and analyzed in addition to being where city assets and services are managed and controlled.</p>]]></Value>
      <Value Culture="fr"><![CDATA[<p>Il sert de système nerveux central aux villes intelligentes, où toutes les informations relatives à la ville sont collectées, affichées, interconnectées et analysées, en plus d’être l’endroit où sont gérés et contrôlés les biens et services de la ville.</p>]]></Value>
    </paragraph1>
    <paragrpagh2>
      <Value><![CDATA[]]></Value>
    </paragrpagh2>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[City Operation Center]]></Value>
      <Value Culture="fr"><![CDATA[Centre d'opérations de ville]]></Value>
    </title>
  </Properties>
</Content>