<?xml version="1.0" encoding="utf-8"?>
<Content Key="929d3ac2-582d-43cb-8190-f29d2e53b24b" Alias="Command and Control System" Level="3">
  <Info>
    <Parent Key="65118806-279d-467d-9e88-f18777130538">IOT &amp; Smart Solutions</Parent>
    <Path>//IOTSmartSolutions/CommandAndControlSystem</Path>
    <Trashed>false</Trashed>
    <ContentType>subContent</ContentType>
    <CreateDate>2022-10-21T15:52:17</CreateDate>
    <NodeName Default="Command and Control System">
      <Name Culture="en-us">Command and Control System</Name>
      <Name Culture="fr">Command and Control System</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="ebe2fa1a-5c4f-4309-8b60-9c83f1229fd3">SubContent</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "c5432d53-90cc-4df7-b5c4-bf212866236a",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "13a7eb38-56fa-45b8-9a1c-cd108a0bff76",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <imag1>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "d45b66e6-5ef0-430f-9ee6-0b25081cddc1",
    "mediaKey": "3e9ce164-cc93-4b73-8885-1a50383eb0b7"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "eb65703c-4039-418d-89e3-c87dcc8db7f5",
    "mediaKey": "3e9ce164-cc93-4b73-8885-1a50383eb0b7"
  }
]]]></Value>
    </imag1>
    <imagelist1>
      <Value><![CDATA[]]></Value>
    </imagelist1>
    <imagelist2>
      <Value><![CDATA[]]></Value>
    </imagelist2>
    <imagelist3>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "ea3293e4-07b3-4a0a-b834-9a914ceebbe9",
    "name": "DUBAI METRO OPERATION CONTROL CENTERS (OCC), AND BACKUP OPERATION CONTROL CENTERS (BOCC)",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"35c5f365-231e-48b8-b1d1-d33647e66e99\",\r\n    \"mediaKey\": \"8301de6b-020c-454b-8e80-d3f5f16e616f\"\r\n  }\r\n]",
    "title": "DUBAI METRO OPERATION CONTROL CENTERS (OCC), AND BACKUP OPERATION CONTROL CENTERS (BOCC) ",
    "textarea": "<ul>\n<li>Operation control center for Dubai metro and backup solution.</li>\n<li>Solution includes building a layer of cyber security system at    the perimeter of the Multi Service Network.</li>\n<li>Project valued at $1,000,000.</li>\n<li>Main Technology Partners: Fortinet and Palo Alto.</li>\n</ul>",
    "link": null
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "4fda765f-89a9-48f7-a6b3-9f16b210ef8a",
    "name": "CENTRES DE CONTRÔLE DES OPÉRATIONS DU MÉTRO DE DUBAI (OCC), ET CENTRES DE CONTRÔLE DES OPÉRATIONS DE SECOURS (OCC)",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"35c5f365-231e-48b8-b1d1-d33647e66e99\",\r\n    \"mediaKey\": \"8301de6b-020c-454b-8e80-d3f5f16e616f\"\r\n  }\r\n]",
    "title": "CENTRES DE CONTRÔLE DES OPÉRATIONS DU MÉTRO DE DUBAI (OCC), ET CENTRES DE CONTRÔLE DES OPÉRATIONS DE SECOURS (OCC) ",
    "textarea": "<ul>\n<li>Centre de contrôle des opérations pour le métro de Dubaï et solution de secours.</li>\n<li>La solution comprend la mise en place d'une couche de système de cybersécurité au périmètre du réseau multiservice.</li>\n<li>Projet évalué à 1 000 000$.</li>\n<li>Principaux partenaires technologiques : Fortinet et Palo Alto.</li>\n</ul>",
    "link": null
  }
]]]></Value>
    </imagelist3>
    <label1>
      <Value Culture="en-us"><![CDATA[Projects]]></Value>
      <Value Culture="fr"><![CDATA[Projets]]></Value>
    </label1>
    <label2>
      <Value><![CDATA[]]></Value>
    </label2>
    <label3>
      <Value><![CDATA[]]></Value>
    </label3>
    <list1>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/43b3f1a45b0749fb9e3ad8c9ca5e56c8",
        "settingsUdi": "umb://element/3d2d9614792a410ebb29be3d91b1e0b5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/43b3f1a45b0749fb9e3ad8c9ca5e56c8",
      "content": "<ul>\n<li>In-depth analysis for customized implementation.</li>\n<li>Full deployment on-site or cloud based for remote access and control.</li>\n<li>All solutions are complemented with backup/ recovery, cyber security, and analytics dashboards.</li>\n<li>Proactive and automated incident management.</li>\n<li>Interactive real-time analytics dashboard.</li>\n<li>Open architecture platform for Integration with independent subsystems.</li>\n</ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/3d2d9614792a410ebb29be3d91b1e0b5"
    }
  ]
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3232c9b7d9bf4ef2a80c63b801998897",
        "settingsUdi": "umb://element/d3fb58e024384946be86e4f52d094572"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/3232c9b7d9bf4ef2a80c63b801998897",
      "content": "<ul>\n<li>Analyse approfondie pour une mise en œuvre personnalisée.</li>\n<li>Déploiement complet sur site ou dans le Cloud pour un accès et un contrôle à distance.</li>\n<li>Toutes les solutions sont complétées par des tableaux de bord de sauvegarde/récupération, de cybersécurité et d'analyse.</li>\n<li>Gestion proactive et automatisée des incidents.</li>\n<li>  Tableau de bord analytique interactif en temps réel.</li>\n<li> Plateforme d'architecture ouverte pour l’intégration avec les sous-systèmes indépendants.</li>\n</ul>\n<p> </p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/d3fb58e024384946be86e4f52d094572"
    }
  ]
}]]></Value>
    </list1>
    <list2>
      <Value><![CDATA[]]></Value>
    </list2>
    <mainBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "795cbb27-7e5a-4ced-83e1-570f0a736d2d",
    "mediaKey": "51299534-075a-4158-93ef-6b780f019324"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "4aba3978-1f61-418c-b883-60100ab8b57c",
    "mediaKey": "51299534-075a-4158-93ef-6b780f019324"
  }
]]]></Value>
    </mainBanner>
    <paragraph1>
      <Value Culture="en-us"><![CDATA[<p>Command and control solutions help integrate all communication channels, IoT devices, sensors, and the components of smart systems for better monitoring, control, and management.</p>]]></Value>
      <Value Culture="fr"><![CDATA[<p>Les solutions de contrôle permettent d'intégrer tous les canaux de communication, les dispositifs d’internet des objets, les capteurs et tous les composants des systèmes intelligents pour un meilleur suivi, contrôle et gestion.</p>]]></Value>
    </paragraph1>
    <paragrpagh2>
      <Value><![CDATA[]]></Value>
    </paragrpagh2>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[Command and Control System]]></Value>
      <Value Culture="fr"><![CDATA[Système de contrôle]]></Value>
    </title>
  </Properties>
</Content>