<?xml version="1.0" encoding="utf-8"?>
<Content Key="1cb2c520-55ec-4bf8-91a0-8573ceeb0a16" Alias="ContentPage" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ContentPage</Path>
    <Trashed Parent="e2485701-bfec-4158-9bb1-77ac8a3ba706">true</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2022-10-16T13:56:00</CreateDate>
    <NodeName Default="ContentPage">
      <Name Culture="en-us">ContentPage</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="c3ba7a80-ee5b-46eb-ad25-3b8ef5adf9ee">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "e61e763b-21e8-4c97-8e30-21e398b3f734",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <mainContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/418f019872dc49b8904a2fddb2811359",
        "settingsUdi": "umb://element/db5a919615914afeab5996988574ffec"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/418f019872dc49b8904a2fddb2811359",
      "content": "<p>Elsewedy Digital is a global system integrator and solutions provider offering end-to-end turnkey solutions for multiple sectors through a network of companies and business units.</p>\n<p> </p>\n<p>Elsewedy Digital brings together the expertise of different companies: 3W Networks, Elsewedy Technology, and Elsewedy Industrial and Grid Solutions.</p>\n<p> </p>\n<p>Our solutions combine hardware and software applications utilizing the latest technologies that enable the smart digital transformation of enterprises, utilities, governments, and cities.</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/db5a919615914afeab5996988574ffec"
    }
  ]
}]]></Value>
    </mainContent>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[Home]]></Value>
    </title>
    <UmbracoNaviHide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </UmbracoNaviHide>
  </Properties>
</Content>