<?xml version="1.0" encoding="utf-8"?>
<Content Key="700daf43-6758-446d-b3d8-b3ad9ddc02fd" Alias="Contacts" Level="2">
  <Info>
    <Parent Key="e2485701-bfec-4158-9bb1-77ac8a3ba706">الصفحة الرئيسية</Parent>
    <Path>//Contacts</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2022-10-11T09:07:09</CreateDate>
    <NodeName Default="Contacts">
      <Name Culture="en-us">Contacts</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="20866336-4a2a-4dee-a940-e5ed42335a41">ContactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value Culture="ar-eg"><![CDATA[[
  {
    "key": "0eff5235-0c81-43aa-b253-300449ac0a02",
    "mediaKey": "76b0778d-9d79-4cd7-9152-6e6844deec3f"
  }
]]]></Value>
    </headerImage>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <UmbracoNaviHide>
      <Value Culture="ar-eg"><![CDATA[0]]></Value>
    </UmbracoNaviHide>
  </Properties>
</Content>