<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf852efe-2726-4446-97c1-200d9a9a7ec7" Alias="Core Banking Solution" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CoreBankingSolution</Path>
    <Trashed>false</Trashed>
    <ContentType>coreBankingSolution</ContentType>
    <CreateDate>2022-10-17T20:36:54</CreateDate>
    <NodeName Default="Core Banking Solution">
      <Name Culture="en-us">Core Banking Solution</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="6b80c7bc-d9e5-4185-8045-855df36d2bc2">CoreBankingSolution</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[<p style="text-align: left;"><strong>A well-tailored suite of banking products aimed at efficiently processing diverse banking operations and offering optimized performance.</strong></p>]]></Value>
    </description>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "453c542b-6d95-4cb8-aa32-ec7c31114511",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "83d88e34-4f7f-4a2d-9fe4-92c985fec517",
    "mediaKey": "c6ae0611-4f99-4a80-94b8-955424159023"
  },
  {
    "key": "871e4f6d-c71a-485d-b849-e79753885fe4",
    "mediaKey": "22bc131c-a9dc-4884-9051-f941704367d2"
  },
  {
    "key": "266c3a8f-534e-4c5c-b119-4db25a25dd6f",
    "mediaKey": "fef8f5ef-ccab-4351-85b6-55356b38b6b3"
  },
  {
    "key": "01d6ac86-be0a-48ce-957c-315cede4c5af",
    "mediaKey": "9c2b072b-af87-4afc-8813-f66e3c0756ec"
  },
  {
    "key": "bed6bd05-0d8c-4f51-96db-6dc49ab15a55",
    "mediaKey": "6f3d45f0-5ab7-4c91-8a86-4adc6a383114"
  },
  {
    "key": "5389606f-f4fe-46d3-a41e-bfe128cbaf99",
    "mediaKey": "3b81de24-8d2e-4965-ba2b-583f56830f22"
  },
  {
    "key": "62593c8a-d50f-407a-a61f-0b2202fc1b8d",
    "mediaKey": "d17074d5-fa66-4d64-8cbb-c973eb0f46b5"
  },
  {
    "key": "77f79b25-8087-43c9-9275-82209c999bfc",
    "mediaKey": "5fc95e47-d832-4974-b973-d470635342c7"
  },
  {
    "key": "d6f32e17-032d-4dec-b53b-bb1778bb7943",
    "mediaKey": "a1eafc66-c3d8-4f1c-9480-e62fa18ed884"
  },
  {
    "key": "c0ae5c3c-eaaa-42ce-bb7d-d64753d5131c",
    "mediaKey": "c3618120-71fc-40d1-a3e5-7e4fd5c6d43f"
  },
  {
    "key": "dfc2af39-6b6a-426e-afb6-7c04300266c2",
    "mediaKey": "1e36aef2-1e6c-4a98-81a2-cdbc0b86e758"
  }
]]]></Value>
    </images>
    <rich1>
      <Value Culture="en-us"><![CDATA[<ul>
<li style="text-align: left;"><strong>Bank Plus</strong>: The backbone system that processes all banking transactions either for commercial or Islamic banking products.</li>
<li style="text-align: left;"><strong>e-bank Plus</strong>: Secure and robust comprehensive internet banking solution for both retail and corporate customers.</li>
<li style="text-align: left;"><strong>Cheque Plus</strong>: Complete solution for managing, processing, clearing, and reconciling cheques.</li>
<li style="text-align: left;"><strong>Facta Plus</strong>: A lightweight, robust, and flexible solution for FATCA reporting compliance</li>
<li style="text-align: left;"><strong>Wallet Plus</strong>: Virtual mobile wallet</li>
<li style="text-align: left;"><strong>AML Plus</strong>: A solution for banks offering a 360° view of financial activity and customer risk to transparently detect and investigate potential money laundering behavior.</li>
<li style="text-align: left;"><strong>Regulatory Plus</strong>: An open, scalable, and robust regulatory reporting framework, optimized regulatory calculations and reporting engine.</li>
<li style="text-align: left;"><strong>Credit Scoring</strong>: A solution to identify the eligibility of prospect customers for lending decision.</li>
</ul>]]></Value>
    </rich1>
    <rich2>
      <Value Culture="en-us"><![CDATA[<ul>
<li style="text-align: left;">Implementation of OFSA4.5 for strategic decision support and performance management prior to a 2013 upgrade to the latest OFSA releases.</li>
<li style="text-align: left;">System included funds transfer, pricing, profitability management as well as asset &amp; liability management</li>
<li style="text-align: left;">In addition to OFSAA analytical power, OFSAA data model is now the main source used for management reporting, key performance indicators reporting, and operational reporting.</li>
</ul>]]></Value>
    </rich2>
    <rich3>
      <Value Culture="en-us"><![CDATA[<ul>
<li style="text-align: left;">System included funds transfer pricing as well as asset &amp; liability management</li>
<li style="text-align: left;">Implementation of waterfall cost allocation model for profitability model for profitability management allocating expenses for both head office and branches from GL level to customer account levels through cost and profit centersز</li>
</ul>]]></Value>
    </rich3>
    <rich4>
      <Value Culture="en-us"><![CDATA[<table border="0">
<tbody>
<tr>
<td>
<p style="text-align: left;">Implementation of multiple models including:</p>
<p style="text-align: left;">Funds transfer pricing platform Multidimensional profitability and performance analysis in Jordan:</p>
<ol>
<li style="text-align: left;">Multidimensional profitability and performance analysis in Iraq</li>
<li style="text-align: left;">Central Bank of Jordan regulatory reporting</li>
<li style="text-align: left;">Central bank of Iraq regulatory reporting</li>
</ol>
</td>
</tr>
</tbody>
</table>]]></Value>
    </rich4>
    <richs>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b402194d7fa64d8996e98d34dea53ffa",
        "settingsUdi": "umb://element/b15b1a43b9a6480bb4d45f467274a651"
      },
      {
        "contentUdi": "umb://element/a341e23d1c104c94b4e52a727db3a82a",
        "settingsUdi": "umb://element/1899265d4a8e4ef2a6debba718b2149a"
      },
      {
        "contentUdi": "umb://element/724645a032cd40648e2a677b9aa6b168",
        "settingsUdi": "umb://element/ccbfceb455f6492fb750e161c09aeb73"
      },
      {
        "contentUdi": "umb://element/4b37bd27384c4fe983f43abb7fb6dc2d",
        "settingsUdi": "umb://element/77c2e39d1103475ba8c9da42dd5b3bc4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/b402194d7fa64d8996e98d34dea53ffa",
      "content": "<table border=\"0\" width=\"624\">\n<tbody>\n<tr>\n<td width=\"291\"> </td>\n</tr>\n</tbody>\n</table>"
    },
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/a341e23d1c104c94b4e52a727db3a82a",
      "content": "<table border=\"0\" height=\"192\" style=\"width: 458px;\">\n<tbody>\n<tr>\n<td style=\"width: 475px;\"> </td>\n</tr>\n</tbody>\n</table>\n<p> </p>"
    },
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/724645a032cd40648e2a677b9aa6b168",
      "content": "<table border=\"0\">\n<tbody>\n<tr>\n<td> </td>\n</tr>\n</tbody>\n</table>\n<ul></ul>"
    },
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/4b37bd27384c4fe983f43abb7fb6dc2d",
      "content": "<p> </p>\n<table border=\"0\" width=\"394\" height=\"110\">\n<tbody>\n<tr>\n<td> </td>\n</tr>\n<tr>\n<td> </td>\n</tr>\n</tbody>\n</table>\n<ul></ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/b15b1a43b9a6480bb4d45f467274a651"
    },
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/1899265d4a8e4ef2a6debba718b2149a"
    },
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/ccbfceb455f6492fb750e161c09aeb73"
    },
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/77c2e39d1103475ba8c9da42dd5b3bc4"
    }
  ]
}]]></Value>
    </richs>
    <strings>
      <Value><![CDATA[Projects
CIB- EGYPT
NOOR ISLAMIC BANK- UAE
CAPITAL BANK OF JORDAN – JORAN & IRAQ]]></Value>
    </strings>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <tblHeader>
      <Value><![CDATA[Main Banner ]]></Value>
    </tblHeader>
    <title>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>