<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe98d3c6-620b-4a71-87ce-b92b35d3157e" Alias="Custom Software Application" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CustomSoftwareApplication</Path>
    <Trashed>false</Trashed>
    <ContentType>customSoftwareApplication</ContentType>
    <CreateDate>2022-10-17T19:09:03</CreateDate>
    <NodeName Default="Custom Software Application">
      <Name Culture="en-us">Custom Software Application</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="d2b77790-34f6-4952-8ca2-2643339687c1">CustomSoftwareApplication</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[<p style="text-align: left;"><strong>Elsewedy Digital provides premium custom application development that helps solve your most difficult challenges</strong></p>]]></Value>
    </description>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "f31ca10c-5a97-4ca2-837c-1d890a374223",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "ff2d4d11-0b32-47c6-8ead-298a5b60a10e",
    "mediaKey": "66764712-5cf1-4f50-bd86-a3cf7ec3bddc"
  }
]]]></Value>
    </images>
    <rich1>
      <Value Culture="en-us"><![CDATA[<ul>
<li style="text-align: left;">Technology agnostic - .net and open source</li>
<li style="text-align: left;">Competitive SLAs</li>
<li style="text-align: left;">Expert resources (architects, engineers, developers, and testers) with strong technical knowledge</li>
<li style="text-align: left;">Utilization of latest development practices and tools</li>
</ul>]]></Value>
    </rich1>
    <rich2>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich2>
    <rich3>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich3>
    <rich4>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich4>
    <richs>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/74aac4eb722a4496ba708c13c7efcb7a",
        "settingsUdi": "umb://element/2e332fd1d90c46129bf2d28c124634c1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/74aac4eb722a4496ba708c13c7efcb7a",
      "content": "<table border=\"0\">\n<tbody>\n<tr>\n<td> </td>\n</tr>\n</tbody>\n</table>\n<ul></ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/2e332fd1d90c46129bf2d28c124634c1"
    }
  ]
}]]></Value>
    </richs>
    <strings>
      <Value><![CDATA[]]></Value>
    </strings>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <tblHeader>
      <Value><![CDATA[Main Banner ]]></Value>
    </tblHeader>
    <title>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>