<?xml version="1.0" encoding="utf-8"?>
<Content Key="08c53bea-6020-4b27-909b-64af442517d8" Alias="Cyber Security" Level="3">
  <Info>
    <Parent Key="63cf6a18-75d6-4bb7-bcde-49d0a1347a95">ICT Infrastructure</Parent>
    <Path>//ICTInfrastructure/CyberSecurity</Path>
    <Trashed>false</Trashed>
    <ContentType>subContent</ContentType>
    <CreateDate>2022-10-21T03:34:18</CreateDate>
    <NodeName Default="Cyber Security">
      <Name Culture="en-us">Cyber Security</Name>
      <Name Culture="fr">Cyber Security</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="ebe2fa1a-5c4f-4309-8b60-9c83f1229fd3">SubContent</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "4703e436-660d-4edf-b19c-670a134c13ce",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "e3883b22-2e1a-4257-b41c-2e384650fc4f",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <imag1>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "edc9d444-7b27-4372-98d7-799a641c093a",
    "mediaKey": "689c4156-e98b-4b67-85da-259dfdfaf0b7"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "39eb8b32-483e-48c3-a79b-a8a332130916",
    "mediaKey": "689c4156-e98b-4b67-85da-259dfdfaf0b7"
  }
]]]></Value>
    </imag1>
    <imagelist1>
      <Value><![CDATA[]]></Value>
    </imagelist1>
    <imagelist2>
      <Value><![CDATA[]]></Value>
    </imagelist2>
    <imagelist3>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "27a95018-2065-4f1b-a593-a2426b584728",
    "name": "TANZANIA HYDROPOWER PROJECT",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"abc5de60-4fda-4fa6-96da-e2e91bc70fae\",\r\n    \"mediaKey\": \"cf7ffc0e-6be7-47c2-9816-3e684665a880\"\r\n  }\r\n]",
    "title": "TANZANIA HYDROPOWER PROJECT",
    "textarea": "<ul>\n<li>Complete infrastructure and firewall security setup for plant which includes two locations that are connected to HQ in Egypt.</li>\n<li>Main Partners: Cisco and Palo Alto.</li>\n<li>Project Includes: Switches, routers, WIFI solutions, and two-stage firewall.</li>\n<li>Project management, detailed design and engineering, supply, installation, and testing &amp; commissioning.</li>\n</ul>",
    "link": null
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "48affa7a-035b-415e-aad4-7bc1615998a2",
    "name": "PROJET HYDROÉLECTRIQUE EN TANZANIE",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"f2de899a-9368-4f5c-92a5-8836d959ef32\",\r\n    \"mediaKey\": \"cf7ffc0e-6be7-47c2-9816-3e684665a880\"\r\n  }\r\n]",
    "title": "PROJET HYDROÉLECTRIQUE EN TANZANIE",
    "textarea": "<ul>\n<li>Mise en place complète des infrastructures et de la sécurité du pare-feu pour l'usine, qui comprend deux sites reliés au Siège en Égypte.</li>\n<li>Principaux partenaires : Cisco et Palo Alto</li>\n<li>Le projet comprend : Commutateurs, routeurs, solution WIFI et pare-feu à deux niveaux.</li>\n<li>Gestion de projet, conception et ingénierie détaillées, fourniture, installation, test et mise en service.</li>\n</ul>",
    "link": null
  }
]]]></Value>
    </imagelist3>
    <label1>
      <Value Culture="en-us"><![CDATA[Projects]]></Value>
      <Value Culture="fr"><![CDATA[Projets]]></Value>
    </label1>
    <label2>
      <Value><![CDATA[]]></Value>
    </label2>
    <label3>
      <Value><![CDATA[]]></Value>
    </label3>
    <list1>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d7880573944844a89cd675e17be3555c",
        "settingsUdi": "umb://element/57fc210d19d14b3bac7081c025b2ed25"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/d7880573944844a89cd675e17be3555c",
      "content": "<ul>\n<li>Cyber Risk assessment.</li>\n<li>Penetration testing.</li>\n<li>Vulnerability assessment.</li>\n<li>Instant recovery.</li>\n<li>Data loss &amp; leak prevention.</li>\n</ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/57fc210d19d14b3bac7081c025b2ed25"
    }
  ]
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/80d963e25fb540fa9975a3c52e1f7640",
        "settingsUdi": "umb://element/a3b70bcbd6954f9cb6d8d1123b835b87"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/80d963e25fb540fa9975a3c52e1f7640",
      "content": "<ul>\n<li> Évaluation du risque cybernétique.</li>\n<li> Tests de pénétration.</li>\n<li> Évaluation des vulnérabilités.</li>\n<li> Récupération instantanée.<br />Prévention des pertes et fuites de données.</li>\n</ul>\n<p> </p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/a3b70bcbd6954f9cb6d8d1123b835b87"
    }
  ]
}]]></Value>
    </list1>
    <list2>
      <Value><![CDATA[]]></Value>
    </list2>
    <mainBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "028042c7-cd48-45ff-b1a9-875f01675d80",
    "mediaKey": "6ba4f723-e4f3-42b4-b91a-8ad0325c7c46"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "232a1ecc-f1e4-406c-bb95-545d6b30a2e0",
    "mediaKey": "6ba4f723-e4f3-42b4-b91a-8ad0325c7c46"
  }
]]]></Value>
    </mainBanner>
    <paragraph1>
      <Value Culture="en-us"><![CDATA[<p>Multi-level cyber security services to ensure your enterprise is protected from all threats and vulnerabilities.</p>]]></Value>
      <Value Culture="fr"><![CDATA[<p>Services de cybersécurité à plusieurs niveaux pour garantir que votre entreprise est protégée contre toutes les menaces et vulnérabilités.</p>]]></Value>
    </paragraph1>
    <paragrpagh2>
      <Value><![CDATA[]]></Value>
    </paragrpagh2>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[Cyber Security]]></Value>
      <Value Culture="fr"><![CDATA[Cybersécurité]]></Value>
    </title>
  </Properties>
</Content>