<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e9e79c7-ab88-4aee-ad8c-347f380ec2e6" Alias="Digital Government Solutions (G2G/ G2B/ G2C)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DigitalGovernmentSolutionsG2GG2BG2C</Path>
    <Trashed>false</Trashed>
    <ContentType>digitalGovernmentSolutionsG2GG2BG2C</ContentType>
    <CreateDate>2022-10-17T18:59:12</CreateDate>
    <NodeName Default="Digital Government Solutions (G2G/ G2B/ G2C)">
      <Name Culture="en-us">Digital Government Solutions (G2G/ G2B/ G2C)</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="05451da7-4f94-4f65-b0e3-fd29867868d3">DigitalGovernmentSolutionsG2GG2BG2C</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[<table border="0" width="1300">
<tbody>
<tr>
<td width="1300">
<p style="text-align: left;"><strong>Powerful G2G, G2B, and G2C solutions that provide governments with innovative ways to provide services by utilizing the power of latest technologies. Elsewedy Digital has implemented countless projects with several ministries that include MOI, MOJ, and MOF that enabled back office and business process automation along with workflow management for enriched citizen experience and improved business outcomes.</strong></p>
</td>
</tr>
</tbody>
</table>
<p> </p>]]></Value>
    </description>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "8f9f90ab-95a2-4e0e-ae04-e85af69de37f",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "d5785445-f3e2-4c58-b093-3b8e80e5b891",
    "mediaKey": "910db2e2-692d-4731-938d-8af870df84d1"
  },
  {
    "key": "0338b3d5-f071-498f-9913-525dc2932b24",
    "mediaKey": "ab1cd579-16e4-4291-b0bb-df90c1cf822b"
  },
  {
    "key": "7b575a68-1db6-4007-bc10-cf441c2f8a02",
    "mediaKey": "bcee5270-0473-4164-8387-b16599f3c7b5"
  }
]]]></Value>
    </images>
    <rich1>
      <Value Culture="en-us"><![CDATA[<ul>
<li style="text-align: left;">Omni channel portals</li>
<li style="text-align: left;">Easy integration with other systems and backend</li>
<li style="text-align: left;">GIS integration</li>
<li style="text-align: left;">Mobile app</li>
<li style="text-align: left;">Intelligent analytics and dashboards</li>
</ul>]]></Value>
    </rich1>
    <rich2>
      <Value Culture="en-us"><![CDATA[<ul>
<li style="text-align: left;">An interoperable system that integrates between the police station automation, public prosecution automation, and court automation</li>
<li style="text-align: left;">Also integrates with external forensic medicine and document archival systems</li>
<li style="text-align: left;">GIS enabled</li>
<li style="text-align: left;">Analytics and BI</li>
</ul>]]></Value>
    </rich2>
    <rich3>
      <Value Culture="en-us"><![CDATA[<ul>
<li style="text-align: left;">Database that registers:</li>
</ul>
<ol style="text-align: left;">
<li>Death and birth</li>
<li>Digital marriage</li>
<li>Marriage and divorce</li>
</ol>
<ul>
<li style="text-align: left;">Integrates with external entities such as hospitals for information collection and to lessen pressure on health units</li>
<li style="text-align: left;">Statistical and analytical reports on national level</li>
<li style="text-align: left;">Digital fingerprint collection</li>
<li style="text-align: left;">Marriage registrar can run on handheld device</li>
<li style="text-align: left;">Legacy records archiving</li>
</ul>]]></Value>
    </rich3>
    <rich4>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich4>
    <richs>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </richs>
    <strings>
      <Value><![CDATA[Projects 
EGYPT LAW ENFORCEMENT PROGRAM 
EGYPT CIVIL REGISTRY DATABASE]]></Value>
    </strings>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <tblHeader>
      <Value><![CDATA[Main Banner ]]></Value>
    </tblHeader>
    <title>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>