<?xml version="1.0" encoding="utf-8"?>
<Content Key="d8afbe6d-2657-493f-83a5-1f6a164793e2" Alias="Digital Government Solutions (G2G/ G2B/ G2C)" Level="3">
  <Info>
    <Parent Key="6840e026-38d4-4abb-be68-37e469c66aad">Software Solutions</Parent>
    <Path>//SoftwareSolutions/DigitalGovernmentSolutionsG2GG2BG2C</Path>
    <Trashed>false</Trashed>
    <ContentType>subContent</ContentType>
    <CreateDate>2022-10-23T17:25:17</CreateDate>
    <NodeName Default="Digital Government Solutions (G2G/ G2B/ G2C)">
      <Name Culture="en-us">Digital Government Solutions (G2G/ G2B/ G2C)</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="ebe2fa1a-5c4f-4309-8b60-9c83f1229fd3">SubContent</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "ee7db222-c728-428e-9ceb-804d3e332051",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <imag1>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "07755c98-4a08-43b6-a0ae-f4019630738a",
    "mediaKey": "c9167450-2fec-455a-8b9b-ec664e32899f"
  }
]]]></Value>
    </imag1>
    <imagelist1>
      <Value><![CDATA[]]></Value>
    </imagelist1>
    <imagelist2>
      <Value><![CDATA[]]></Value>
    </imagelist2>
    <imagelist3>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "c16a55f0-486a-435d-a844-23d7e1bd4697",
    "name": "EGYPT LAW ENFORCEMENT PROGRAM",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"c00223bd-a31f-477f-a27c-cad05c7cff22\",\r\n    \"mediaKey\": \"a0199340-1328-4a7f-82cb-3729525f8b1e\"\r\n  }\r\n]",
    "title": "EGYPT LAW ENFORCEMENT PROGRAM ",
    "textarea": "<ul>\n<li>An interoperable system that integrates between the police station automation, public prosecution automation, and court automation</li>\n<li>Also integrates with external forensic medicine and document archival systems</li>\n<li>GIS enabled</li>\n<li>Analytics and BI</li>\n</ul>",
    "link": null
  },
  {
    "key": "0aaa2ca9-c182-4112-a0fd-18d21ab77e7d",
    "name": "EGYPT CIVIL REGISTRY DATABASE",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"a0520c5e-c3b5-4127-a6cb-94ae5d9a311b\",\r\n    \"mediaKey\": \"9dfed7af-0ab1-4c93-835c-e8b7e62b192d\"\r\n  }\r\n]",
    "title": "EGYPT CIVIL REGISTRY DATABASE",
    "textarea": "<ul>\n<li>Database that registers:   </li>\n</ul>\n<ul style=\"list-style-type: circle;\">\n<li>   Death and birth</li>\n<li>   Digital marriage</li>\n<li>   Marriage and divorce</li>\n</ul>\n<ul>\n<li>Integrates with external entities such as hospitals for information collection and to lessen pressure on health units</li>\n<li>Statistical and analytical reports on national level</li>\n<li>Digital fingerprint collection</li>\n<li>Marriage registrar can run on handheld device</li>\n<li>Legacy records archiving</li>\n</ul>",
    "link": null
  }
]]]></Value>
    </imagelist3>
    <label1>
      <Value Culture="en-us"><![CDATA[Projects ]]></Value>
    </label1>
    <label2>
      <Value><![CDATA[]]></Value>
    </label2>
    <label3>
      <Value><![CDATA[]]></Value>
    </label3>
    <list1>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d09be2c7effc468495ede52520873f27",
        "settingsUdi": "umb://element/612ac712b452415eba883080d50ab859"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/d09be2c7effc468495ede52520873f27",
      "content": "<p>Omni channel portals</p>\n<p>Easy integration with other systems and backend</p>\n<p>GIS integration</p>\n<p>Mobile app</p>\n<p>Intelligent analytics and dashboards</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/612ac712b452415eba883080d50ab859"
    }
  ]
}]]></Value>
    </list1>
    <list2>
      <Value><![CDATA[]]></Value>
    </list2>
    <mainBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "13a72e27-4581-493b-b92a-bb6715a0e725",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </mainBanner>
    <paragraph1>
      <Value Culture="en-us"><![CDATA[Powerful G2G, G2B, and G2C solutions that provide governments with innovative ways to provide services by utilizing the power of latest technologies. Elsewedy Digital has implemented countless projects with several ministries that include MOI, MOJ, and MOF that enabled back office and business process automation along with workflow management for enriched citizen experience and improved business outcomes.]]></Value>
    </paragraph1>
    <paragrpagh2>
      <Value><![CDATA[]]></Value>
    </paragrpagh2>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[Digital Government Solutions (G2G/ G2B/ G2C)]]></Value>
    </title>
  </Properties>
</Content>