<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea13f381-8cf9-45e9-ae81-5809813c7bed" Alias="ELV System" Level="2">
  <Info>
    <Parent Key="e2485701-bfec-4158-9bb1-77ac8a3ba706">الصفحة الرئيسية</Parent>
    <Path>//ELVSystem</Path>
    <Trashed>false</Trashed>
    <ContentType>eLVSystem</ContentType>
    <CreateDate>2022-10-21T11:04:29</CreateDate>
    <NodeName Default="ELV System">
      <Name Culture="en-us">ELV System</Name>
      <Name Culture="fr">ELV System</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="b66c6aed-4926-4f5a-b387-6858365c915e">ELVSystem</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "4273595a-6c94-487f-9ebd-4dd40d71015b",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "adb5c20d-f5fb-49b2-9fa2-5d0c3bfae888",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <imag1>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "274233dc-98ac-43af-8ddf-9d7c753fa8a4",
    "mediaKey": "7a124251-d48c-4101-b79d-b5a483ea5d75"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "ab544c10-3be7-4f03-8b5d-bf7555adbe37",
    "mediaKey": "7a124251-d48c-4101-b79d-b5a483ea5d75"
  }
]]]></Value>
    </imag1>
    <imagelist1>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "3b57c9bc-1916-4122-b53c-f460f0396355",
    "name": "CCTV",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"431f3087-f3d8-4608-af0f-f092670c4eec\",\r\n    \"mediaKey\": \"2705d71c-bc32-4ad2-bfea-ab1976cf280c\"\r\n  }\r\n]",
    "title": "CCTV",
    "link": null
  },
  {
    "key": "1aa2fd16-7c42-433f-a4dc-99203412e2d5",
    "name": "Access Control and Security Management",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"2185036d-ce6e-4ac5-abcc-5f21cc1c1795\",\r\n    \"mediaKey\": \"223a91c5-485a-4c48-8067-abd9c7b007c2\"\r\n  }\r\n]",
    "title": "Access Control and Security Management",
    "link": null
  },
  {
    "key": "cbeb1a40-0035-421a-af1e-15000b7d5e13",
    "name": "Perimeter Intrusion",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"778bf913-2098-49b9-98c5-1ec663ca4531\",\r\n    \"mediaKey\": \"40b16fb9-9221-4981-a93b-3f9fa99796a4\"\r\n  }\r\n]",
    "title": "Perimeter Intrusion",
    "link": null
  },
  {
    "key": "a0b65fbb-38a6-4939-a158-dc544c4138d0",
    "name": "Public Address & General Alarm",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"17ccfa47-19ed-48ab-9f8d-a46d74798ccd\",\r\n    \"mediaKey\": \"ba0b61a9-5bb3-4060-bd26-ee489e630af2\"\r\n  }\r\n]",
    "title": "Public Address & General Alarm",
    "link": null
  },
  {
    "key": "360f1520-d2dd-47c4-9e62-134bb173ffc3",
    "name": "Intercom & Paging",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"b499005e-b49d-4fd4-aa7f-210de146e531\",\r\n    \"mediaKey\": \"ce58f6b7-80aa-4c80-9c52-9ab94f441216\"\r\n  }\r\n]",
    "title": "Intercom & Paging",
    "link": null
  },
  {
    "key": "324e5b9a-af34-4a52-9c41-250c3a11dc62",
    "name": "Fire Alarm & General Alarm",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"7b2b2f60-c24b-406a-b469-725dcae6ef53\",\r\n    \"mediaKey\": \"db798758-940f-42fa-95a0-b93deb1b79be\"\r\n  }\r\n]",
    "title": "Fire Alarm & General Alarm ",
    "link": null
  },
  {
    "key": "86e8f35d-5a00-41b3-a700-d282329b2d7e",
    "name": "X-Ray, Road Blocker, Arm Barrier",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"e63e45c5-ac9f-4845-9f36-d9c9711b4570\",\r\n    \"mediaKey\": \"4b6fdba2-6ba9-4969-bebb-26ab1aca3f57\"\r\n  }\r\n]",
    "title": "X-Ray, Road Blocker, Arm Barrier",
    "link": null
  },
  {
    "key": "19b7ff20-b35a-4f39-9cb1-c377ce4e519f",
    "name": "Meteorological Systems",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"56d73781-8344-456d-a7a2-57277d84ec5f\",\r\n    \"mediaKey\": \"9727c3ea-6fb2-4248-a882-5c4ac603cb49\"\r\n  }\r\n]",
    "title": "Meteorological Systems",
    "link": null
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "187021b0-84d8-4b13-b329-58b0e538e839",
    "name": "CCTV",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"431f3087-f3d8-4608-af0f-f092670c4eec\",\r\n    \"mediaKey\": \"2705d71c-bc32-4ad2-bfea-ab1976cf280c\"\r\n  }\r\n]",
    "title": "CCTV",
    "link": null
  },
  {
    "key": "161ea84a-3f65-4ec0-b837-8924b6422230",
    "name": "Contrôle d'accès et gestion de sécurité",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"2185036d-ce6e-4ac5-abcc-5f21cc1c1795\",\r\n    \"mediaKey\": \"223a91c5-485a-4c48-8067-abd9c7b007c2\"\r\n  }\r\n]",
    "title": "Contrôle d'accès et gestion de sécurité",
    "link": null
  },
  {
    "key": "869f5a9d-7211-464f-b618-6795eb1224b9",
    "name": "Intrusion dans le périmètre",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"778bf913-2098-49b9-98c5-1ec663ca4531\",\r\n    \"mediaKey\": \"40b16fb9-9221-4981-a93b-3f9fa99796a4\"\r\n  }\r\n]",
    "title": "Intrusion dans le périmètre",
    "link": null
  },
  {
    "key": "f65024cc-bc5b-4d78-9a22-a6f7fdd711ea",
    "name": "Alarme générale et communication avec le public",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"17ccfa47-19ed-48ab-9f8d-a46d74798ccd\",\r\n    \"mediaKey\": \"ba0b61a9-5bb3-4060-bd26-ee489e630af2\"\r\n  }\r\n]",
    "title": "Alarme générale et communication avec le public",
    "link": null
  },
  {
    "key": "70880769-f161-4033-809e-a4887ebff89a",
    "name": "Interphone & radiomessagerie",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"b499005e-b49d-4fd4-aa7f-210de146e531\",\r\n    \"mediaKey\": \"ce58f6b7-80aa-4c80-9c52-9ab94f441216\"\r\n  }\r\n]",
    "title": "Interphone & radiomessagerie",
    "link": null
  },
  {
    "key": "cd8fe3a2-c666-4bec-8f05-6347b8b7c4d9",
    "name": "Alarme incendie et alarme générale",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"7b2b2f60-c24b-406a-b469-725dcae6ef53\",\r\n    \"mediaKey\": \"db798758-940f-42fa-95a0-b93deb1b79be\"\r\n  }\r\n]",
    "title": "Alarme incendie et alarme générale ",
    "link": null
  },
  {
    "key": "496e5585-0498-44ac-b89b-bcc886c56827",
    "name": "Rayons X, barrière de route, barrière à lisse",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"e63e45c5-ac9f-4845-9f36-d9c9711b4570\",\r\n    \"mediaKey\": \"4b6fdba2-6ba9-4969-bebb-26ab1aca3f57\"\r\n  }\r\n]",
    "title": "Rayons X, barrière de route, barrière à lisse",
    "link": null
  },
  {
    "key": "2f2dd6af-418a-4bb5-8fdc-004b213d419c",
    "name": "Système météorologique",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"56d73781-8344-456d-a7a2-57277d84ec5f\",\r\n    \"mediaKey\": \"9727c3ea-6fb2-4248-a882-5c4ac603cb49\"\r\n  }\r\n]",
    "title": "Système météorologique",
    "link": null
  }
]]]></Value>
    </imagelist1>
    <imagelist2>
      <Value><![CDATA[]]></Value>
    </imagelist2>
    <imagelist3>
      <Value><![CDATA[]]></Value>
    </imagelist3>
    <label1>
      <Value Culture="en-us"><![CDATA[Sub-Solutions]]></Value>
      <Value Culture="fr"><![CDATA[Solutions secondaires]]></Value>
    </label1>
    <label2>
      <Value Culture="en-us"><![CDATA[Partners in Success]]></Value>
      <Value Culture="fr"><![CDATA[Partenaires dans la réussite]]></Value>
    </label2>
    <label3>
      <Value><![CDATA[]]></Value>
    </label3>
    <list1>
      <Value><![CDATA[]]></Value>
    </list1>
    <list2>
      <Value><![CDATA[]]></Value>
    </list2>
    <mainBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "9f184c32-9dc1-48ee-98cb-535149f7a66f",
    "mediaKey": "feb4c5a4-7c4c-4fc0-b114-300892bec67a"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "3ad8673e-06d7-4708-acfe-cccfa8c6db68",
    "mediaKey": "feb4c5a4-7c4c-4fc0-b114-300892bec67a"
  }
]]]></Value>
    </mainBanner>
    <paragraph1>
      <Value Culture="en-us"><![CDATA[<p>Comprehensive portfolio of ELV solutions that ensure utmost control and operational efficiency of any facility. We are partnered with top ELV suppliers that cover a vast collection of ELV solutions to cater to our clients’ diverse needs for indoor and outdoor surveillance. We have implemented more than 250 projects across the Middle East and Africa in various sectors. All our systems are tested at our state-of-the-art integration center before delivery to guarantee impeccable solutions. All ELV solutions are connected to a centralized control and monitoring extension for easy and improved management. Our services cover integration, project management and maintenance and support.</p>]]></Value>
      <Value Culture="fr"><![CDATA[<p>Un portefeuille complet de solutions ELV qui assurent un contrôle optimal et l'efficacité opérationnelle de toute installation. Nous sommes en partenariat avec les meilleurs fournisseurs de ELV qui couvrent une vaste collection de solutions VLE pour répondre aux divers besoins de nos clients en matière de surveillance intérieure et extérieure. Nous avons mis en œuvre plus de 250 projets à travers le Moyen-Orient et l'Afrique dans divers secteurs. Tous nos systèmes sont testés dans notre centre d'intégration ultramoderne avant d'être livrés afin de garantir des solutions impeccables. Toutes les solutions ELV sont connectées à une extension de contrôle et de surveillance centralisée pour une gestion facile et améliorée. Nos services couvrent l'intégration, la gestion de projet, la maintenance et le support.</p>]]></Value>
    </paragraph1>
    <paragrpagh2>
      <Value><![CDATA[]]></Value>
    </paragrpagh2>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[ELV System]]></Value>
      <Value Culture="fr"><![CDATA[Système ELV]]></Value>
    </title>
  </Properties>
</Content>