<?xml version="1.0" encoding="utf-8"?>
<Content Key="36655302-9750-470c-9703-c8f5cd042e79" Alias="Enterprise Content Management" Level="3">
  <Info>
    <Parent Key="b4fde7fc-d816-4a78-aeab-ee4e7a803a6c">Enterprise Solutions</Parent>
    <Path>//EnterpriseSolutions/EnterpriseContentManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>subContent</ContentType>
    <CreateDate>2022-10-23T17:45:43</CreateDate>
    <NodeName Default="Enterprise Content Management">
      <Name Culture="en-us">Enterprise Content Management</Name>
      <Name Culture="fr">Enterprise Content Management</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="ebe2fa1a-5c4f-4309-8b60-9c83f1229fd3">SubContent</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "566d3a19-26a4-4fa3-b909-ca7bd47f6584",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "bf1e0a65-56d3-4862-927b-10b489e6b9a8",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <imag1>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "ffc02f84-5d89-45f1-82d9-edd2eb1e957b",
    "mediaKey": "5305984f-e0ed-4e90-8d4b-cd09758a9883"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "3e8abdd7-6d43-4a22-a7cf-a8e6945e6263",
    "mediaKey": "5305984f-e0ed-4e90-8d4b-cd09758a9883"
  }
]]]></Value>
    </imag1>
    <imagelist1>
      <Value><![CDATA[]]></Value>
    </imagelist1>
    <imagelist2>
      <Value><![CDATA[]]></Value>
    </imagelist2>
    <imagelist3>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "00cc13bb-c875-4f3e-a67e-08678c5336f8",
    "name": "ECM OF GENERAL AUTHORITY OF CIVIL AVIATION KSA",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"14bd9a4f-da90-41c5-bd36-8c03462106b7\",\r\n    \"mediaKey\": \"fcc574cb-72e4-4d51-ae38-7ccf174499ab\"\r\n  }\r\n]",
    "title": "ECM OF GENERAL AUTHORITY OF CIVIL AVIATION KSA",
    "textarea": "<ul>\n<li>ECM implementation of all 30 GACA departments</li>\n<li>Integration with 6 tailored systems</li>\n<li>Integration with Oracle EBS 12c</li>\n<li>Technologies used include Webcenter Content, Webcenter Capture, Weblogic Server, and Oracle Database.</li>\n</ul>",
    "link": null
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "2b1582cc-1f23-4e60-a84e-b25eb251b9c7",
    "name": "ECM DE LA GENERAL AUTHORITY OF CIVIL AVIATION Arabie Saoudite",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"14bd9a4f-da90-41c5-bd36-8c03462106b7\",\r\n    \"mediaKey\": \"fcc574cb-72e4-4d51-ae38-7ccf174499ab\"\r\n  }\r\n]",
    "title": "ECM DE LA GENERAL AUTHORITY OF CIVIL AVIATION Arabie Saoudite",
    "textarea": "<ul>\n<li>  Mise en œuvre de l'ECM dans les 30 départements de la GACA</li>\n<li>Intégration avec 6 systèmes sur mesure</li>\n<li>Intégration avec Oracle EBS 12c</li>\n<li>Les technologies utilisées comprennent : Webcenter Content, Webcenter Capture, Weblogic Server, et Oracle Database.</li>\n</ul>\n<p> </p>",
    "link": null
  }
]]]></Value>
    </imagelist3>
    <label1>
      <Value Culture="en-us"><![CDATA[Projects]]></Value>
      <Value Culture="fr"><![CDATA[Projets]]></Value>
    </label1>
    <label2>
      <Value><![CDATA[]]></Value>
    </label2>
    <label3>
      <Value><![CDATA[]]></Value>
    </label3>
    <list1>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a0e74b3a65704d43bad3e77fefb738a2",
        "settingsUdi": "umb://element/1efb9c3f98df470a8c190dd9a5e42b08"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/a0e74b3a65704d43bad3e77fefb738a2",
      "content": "<ul>\n<li>Partnered with top ECM vendors (Oracle and SAP).</li>\n<li>Customized solutions for unique customer needs.</li>\n<li>Strong security standards and compliance measures</li>\n<li>On-site or cloud implementations</li>\n</ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/1efb9c3f98df470a8c190dd9a5e42b08"
    }
  ]
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9b705a96bf3946b79099b04890d5c716",
        "settingsUdi": "umb://element/a44d1974a66e4069b6f4d4754ece5039"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/9b705a96bf3946b79099b04890d5c716",
      "content": "<ul>\n<li>Partenariat avec les principaux fournisseurs d'ECM (Oracle et SAP).</li>\n<li>Solutions personnalisées pour les besoins uniques des clients.</li>\n<li>Normes de sécurité et mesures de conformité strictes.</li>\n<li>Implantations sur site ou dans le Cloud</li>\n</ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/a44d1974a66e4069b6f4d4754ece5039"
    }
  ]
}]]></Value>
    </list1>
    <list2>
      <Value><![CDATA[]]></Value>
    </list2>
    <mainBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "860fa8f2-7e5d-4e08-9b29-ba2d1480c28d",
    "mediaKey": "ed5641b9-f4b1-4c41-aecd-aab1252261c2"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "19513c11-67f5-4690-83a2-7152da468815",
    "mediaKey": "ed5641b9-f4b1-4c41-aecd-aab1252261c2"
  }
]]]></Value>
    </mainBanner>
    <paragraph1>
      <Value Culture="en-us"><![CDATA[<p>A software solution that makes an organization’s documents easily accessible from anywhere to designated personnel providing a secured repository for an organization's data.</p>]]></Value>
      <Value Culture="fr"><![CDATA[<p>Une solution logicielle qui rend les documents d'une organisation facilement accessibles de n'importe où au personnel désigné, fournissant un référentiel sécurisé pour les données d’une organisation.</p>]]></Value>
    </paragraph1>
    <paragrpagh2>
      <Value><![CDATA[]]></Value>
    </paragrpagh2>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[Enterprise Content Management ]]></Value>
      <Value Culture="fr"><![CDATA[Enterprise Content Management ]]></Value>
    </title>
  </Properties>
</Content>