<?xml version="1.0" encoding="utf-8"?>
<Content Key="fff658d4-a44b-4a00-b17b-ff8eac6ee6b2" Alias="Enterprise Resource Planning (ERP)" Level="3">
  <Info>
    <Parent Key="b4fde7fc-d816-4a78-aeab-ee4e7a803a6c">Enterprise Solutions</Parent>
    <Path>//EnterpriseSolutions/EnterpriseResourcePlanningERP</Path>
    <Trashed>false</Trashed>
    <ContentType>subContent</ContentType>
    <CreateDate>2022-10-23T17:40:41</CreateDate>
    <NodeName Default="Enterprise Resource Planning (ERP)">
      <Name Culture="en-us">Enterprise Resource Planning (ERP)</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="ebe2fa1a-5c4f-4309-8b60-9c83f1229fd3">SubContent</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "bb0ab3b0-8aa8-4dd9-a489-cbfc0285ef96",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <imag1>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "bd3962d8-aa7b-4478-aae1-9e9378beca20",
    "mediaKey": "cb7071c4-9a56-4f3c-8d59-46608466ec21"
  }
]]]></Value>
    </imag1>
    <imagelist1>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </imagelist1>
    <imagelist2>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </imagelist2>
    <imagelist3>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </imagelist3>
    <label1>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </label1>
    <label2>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </label2>
    <label3>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </label3>
    <list1>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a4ba9041b5444dcfa7a822130a633540",
        "settingsUdi": "umb://element/de9a9fd51b4743d5a96b9fb3196d5d96"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/a4ba9041b5444dcfa7a822130a633540",
      "content": "<ul>\n<li>Partnered with top ERP vendors like Oracle and SAP</li>\n<li>Intuitive user interface</li>\n<li>Powerful dashboards</li>\n<li>Real-time analytics</li>\n<li>Automated updates and processes</li>\n<li>On-site or cloud implementations</li>\n</ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/de9a9fd51b4743d5a96b9fb3196d5d96"
    }
  ]
}]]></Value>
    </list1>
    <list2>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </list2>
    <mainBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "87ba0ddc-a91d-44f8-8468-175fcf5d1cdd",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </mainBanner>
    <paragraph1>
      <Value Culture="en-us"><![CDATA[A software solution that automates important business functions such as accounting, human resources, sales, and production.]]></Value>
    </paragraph1>
    <paragrpagh2>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </paragrpagh2>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[Enterprise Resource Planning (ERP)]]></Value>
    </title>
  </Properties>
</Content>