<?xml version="1.0" encoding="utf-8"?>
<Content Key="fff658d4-a44b-4a00-b17b-ff8eac6ee6b2" Alias="Enterprise Resource Planning (ERP)" Level="3">
  <Info>
    <Parent Key="b4fde7fc-d816-4a78-aeab-ee4e7a803a6c">Enterprise Solutions</Parent>
    <Path>//EnterpriseSolutions/EnterpriseResourcePlanningERP</Path>
    <Trashed>false</Trashed>
    <ContentType>subContent</ContentType>
    <CreateDate>2022-10-23T17:40:41</CreateDate>
    <NodeName Default="Enterprise Resource Planning (ERP)">
      <Name Culture="en-us">Enterprise Resource Planning (ERP)</Name>
      <Name Culture="fr">Enterprise Resource Planning (ERP)</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="ebe2fa1a-5c4f-4309-8b60-9c83f1229fd3">SubContent</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "bb0ab3b0-8aa8-4dd9-a489-cbfc0285ef96",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "5a04805b-a526-447c-a793-dc7b356a6084",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <imag1>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "bd3962d8-aa7b-4478-aae1-9e9378beca20",
    "mediaKey": "cb7071c4-9a56-4f3c-8d59-46608466ec21"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "34530127-86ae-4c8a-bd35-009d76c08905",
    "mediaKey": "cb7071c4-9a56-4f3c-8d59-46608466ec21"
  }
]]]></Value>
    </imag1>
    <imagelist1>
      <Value><![CDATA[]]></Value>
    </imagelist1>
    <imagelist2>
      <Value><![CDATA[]]></Value>
    </imagelist2>
    <imagelist3>
      <Value><![CDATA[]]></Value>
    </imagelist3>
    <label1>
      <Value><![CDATA[]]></Value>
    </label1>
    <label2>
      <Value><![CDATA[]]></Value>
    </label2>
    <label3>
      <Value><![CDATA[]]></Value>
    </label3>
    <list1>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a4ba9041b5444dcfa7a822130a633540",
        "settingsUdi": "umb://element/de9a9fd51b4743d5a96b9fb3196d5d96"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/a4ba9041b5444dcfa7a822130a633540",
      "content": "<ul>\n<li>Partnered with top ERP vendors like Oracle and SAP</li>\n<li>Intuitive user interface</li>\n<li>Powerful dashboards</li>\n<li>Real-time analytics</li>\n<li>Automated updates and processes</li>\n<li>On-site or cloud implementations</li>\n</ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/de9a9fd51b4743d5a96b9fb3196d5d96"
    }
  ]
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e3b136d906e4486eb3823ff0d3d6bffc",
        "settingsUdi": "umb://element/25492ea20e274cc186d21ebb782188f6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/e3b136d906e4486eb3823ff0d3d6bffc",
      "content": "<ul>\n<li>Partenariat avec les principaux fournisseurs d'ERP comme Oracle et SAP.</li>\n<li>Interface utilisateur intuitive</li>\n<li>Tableaux de bord puissants</li>\n<li>Analyses en temps réel</li>\n<li> Mises à jour et processus automatisés</li>\n<li>Implantations sur site ou dans le Cloud</li>\n</ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/25492ea20e274cc186d21ebb782188f6"
    }
  ]
}]]></Value>
    </list1>
    <list2>
      <Value><![CDATA[]]></Value>
    </list2>
    <mainBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "d6bfa463-5249-4f1c-8027-90c678020c07",
    "mediaKey": "9799d2e1-dab2-4431-a04f-73c73d388e36"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "2c6df511-d43c-43ad-92d9-0a6c41afa3b8",
    "mediaKey": "9799d2e1-dab2-4431-a04f-73c73d388e36"
  }
]]]></Value>
    </mainBanner>
    <paragraph1>
      <Value Culture="en-us"><![CDATA[<p>A software solution that automates important business functions such as accounting, human resources, sales, and production.</p>]]></Value>
      <Value Culture="fr"><![CDATA[<p>Une solution logicielle qui automatise d'importantes fonctions commerciales telles que la comptabilité, les ressources humaines, les ventes et la production, etc.</p>]]></Value>
    </paragraph1>
    <paragrpagh2>
      <Value><![CDATA[]]></Value>
    </paragrpagh2>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[Enterprise Resource Planning (ERP)]]></Value>
      <Value Culture="fr"><![CDATA[Enterprise Resource Planning (ERP)]]></Value>
    </title>
  </Properties>
</Content>