<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4fde7fc-d816-4a78-aeab-ee4e7a803a6c" Alias="Enterprise Solutions" Level="2">
  <Info>
    <Parent Key="e2485701-bfec-4158-9bb1-77ac8a3ba706">الصفحة الرئيسية</Parent>
    <Path>//EnterpriseSolutions</Path>
    <Trashed>false</Trashed>
    <ContentType>enterpriseSolutions</ContentType>
    <CreateDate>2022-10-23T17:37:22</CreateDate>
    <NodeName Default="Enterprise Solutions">
      <Name Culture="en-us">Enterprise Solutions</Name>
    </NodeName>
    <SortOrder>13</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="caca6867-f207-4c52-84bf-5e428307eb9b">EnterpriseSolutions</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "5b415caa-768b-4bc5-8f5f-354263a566a3",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <imag1>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </imag1>
    <imagelist1>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "5aa65bbb-da07-49e0-839f-98a10c35b9c1",
    "name": "Enterprise Resource Planning (ERP)",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"a3899b36-97e4-4dca-9d39-78739104f62f\",\r\n    \"mediaKey\": \"fa1fdb6e-4b1e-44df-874f-3c065c621433\"\r\n  }\r\n]",
    "title": "Enterprise Resource Planning (ERP)",
    "link": "[{\"name\":\"Enterprise Resource Planning (ERP)\",\"udi\":\"umb://document/fff658d4a44b4a00b17bff8eac6ee6b2\"}]"
  },
  {
    "key": "774ea7d7-c7d4-45c9-a917-bbda61543a10",
    "name": "Enterprise Content Management (ECM)",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"bc78dcab-35fc-4c96-9510-74781627cc7f\",\r\n    \"mediaKey\": \"fa1fdb6e-4b1e-44df-874f-3c065c621433\"\r\n  }\r\n]",
    "title": "Enterprise Content Management (ECM)",
    "link": "[{\"name\":\"Enterprise Content Management\",\"udi\":\"umb://document/366553029750470c9703c8f5cd042e79\"}]"
  },
  {
    "key": "566468cd-2c0d-4a01-ad66-a44b0b934aca",
    "name": "Enterprise Performance Management (EPM)",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"6b49f08c-6468-4042-be8f-5e84d8dfd8a1\",\r\n    \"mediaKey\": \"fa1fdb6e-4b1e-44df-874f-3c065c621433\"\r\n  }\r\n]",
    "title": "Enterprise Performance Management (EPM)",
    "link": "[{\"name\":\"Enterprise Performance Management\",\"udi\":\"umb://document/1ab13954b15e4c24b764b693de100561\"}]"
  },
  {
    "key": "7987267d-40b0-49c0-87ff-6ddcc97c3537",
    "name": "Warehouse Management System (WMS)",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"a226435b-9b6f-46c9-af36-cab6752e6c5f\",\r\n    \"mediaKey\": \"fa1fdb6e-4b1e-44df-874f-3c065c621433\"\r\n  }\r\n]",
    "title": "Warehouse Management System (WMS)",
    "link": "[{\"name\":\"Warehouse Management System\",\"udi\":\"umb://document/e2961a355eec49238cade0a9945ea5c9\"}]"
  }
]]]></Value>
    </imagelist1>
    <imagelist2>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "e7fa7eae-b4a2-41e0-8a3f-cc1ce283a46e",
    "name": "Item 1",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"73dfad67-d500-416c-8408-48c172a1a132\",\r\n    \"mediaKey\": \"7a8b11da-c42f-4d50-90e2-987c23a89de4\"\r\n  }\r\n]",
    "title": "",
    "link": null
  },
  {
    "key": "c0be2259-532f-4cae-8170-04674436dfd3",
    "name": "Item 2",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"846a1ff7-fba8-4d8a-944e-20a9bb31a002\",\r\n    \"mediaKey\": \"7e6b67e7-307b-4261-9943-697aec7170b6\"\r\n  }\r\n]",
    "title": "",
    "link": null
  },
  {
    "key": "4d7359cd-2140-4f06-b692-fb742b262cdb",
    "name": "Item 3",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"a7afdbae-4e1d-4e15-96a4-ab459189727d\",\r\n    \"mediaKey\": \"7e4e030c-ab0e-4c5d-9b6b-31d43422377b\"\r\n  }\r\n]",
    "title": "",
    "link": null
  },
  {
    "key": "092796b7-3805-408f-8414-064def3b192e",
    "name": "Item 4",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"1a232561-3665-4386-9424-9ac3878b8f8c\",\r\n    \"mediaKey\": \"fcc2fd7a-10cf-410f-a220-86bdf384baf5\"\r\n  }\r\n]",
    "title": "",
    "link": null
  },
  {
    "key": "a692e766-62cc-4069-818f-c37ce8539fd1",
    "name": "Item 5",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"1dc8825c-ff34-4111-8b9a-2192a25af9d7\",\r\n    \"mediaKey\": \"a32f35ec-1356-4831-9ed8-e360779e7bcf\"\r\n  }\r\n]",
    "title": "",
    "link": null
  },
  {
    "key": "0583501e-c1b6-4f11-bbad-f5e2ebbfc994",
    "name": "Item 6",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"4df61f06-a586-43b8-9133-5105b40fd946\",\r\n    \"mediaKey\": \"62210ade-47f9-4baf-ace2-504cf1926d5f\"\r\n  }\r\n]",
    "title": "",
    "link": null
  }
]]]></Value>
    </imagelist2>
    <imagelist3>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </imagelist3>
    <label1>
      <Value Culture="en-us"><![CDATA[Sub-Solutions]]></Value>
    </label1>
    <label2>
      <Value Culture="en-us"><![CDATA[Partners in Success]]></Value>
    </label2>
    <label3>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </label3>
    <list1>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </list1>
    <list2>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </list2>
    <mainBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "804d8579-5627-48f9-bccd-4fff3e4578ad",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </mainBanner>
    <paragraph1>
      <Value Culture="en-us"><![CDATA[With the digitization trend taking over, it has become adamant that institutions invest in enterprise software that automates business processes and enhances the operational efficiency. Partnered with leading vendors Oracle and SAP, Elsewedy digital offers ERP, ECM, EPM and WMS applications that are guaranteed to improve business outcomes, reduce costs and facilitate intelligent decision making.  ]]></Value>
    </paragraph1>
    <paragrpagh2>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </paragrpagh2>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[Enterprise Solutions]]></Value>
    </title>
  </Properties>
</Content>