<?xml version="1.0" encoding="utf-8"?>
<Content Key="6844f501-d9c9-42cf-8313-e6d2d3d561a3" Alias="Enterprise Resource Planning (ERP)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EnterpriseResourcePlanningERP</Path>
    <Trashed>false</Trashed>
    <ContentType>enterpriseResourcePlanningERP</ContentType>
    <CreateDate>2022-10-17T19:14:28</CreateDate>
    <NodeName Default="Enterprise Resource Planning (ERP)">
      <Name Culture="en-us">Enterprise Resource Planning (ERP)</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="68456399-313f-4062-a2fa-cbc6ddbc62f5">EnterpriseResourcePlanningERP</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[<p style="text-align: left;"><strong>A software solution that automates important business functions such as accounting, human resources, sales, and production.</strong></p>]]></Value>
    </description>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "de29d51f-7971-4155-b0f3-43503872d918",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "62606dd9-a786-4d16-a7d4-0fb8f801b90d",
    "mediaKey": "e2fd7851-2268-46c4-8296-012932ee713b"
  }
]]]></Value>
    </images>
    <rich1>
      <Value Culture="en-us"><![CDATA[<table border="0">
<tbody>
<tr>
<td>
<ul>
<li style="text-align: left;">Partnered with top ERP vendors like Oracle and SAP</li>
<li style="text-align: left;">Intuitive user interface</li>
<li style="text-align: left;">Powerful dashboards</li>
<li style="text-align: left;">Real-time analytics</li>
<li style="text-align: left;">Automated updates and processes</li>
<li style="text-align: left;">On-site or cloud implementations</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p> </p>]]></Value>
    </rich1>
    <rich2>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich2>
    <rich3>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich3>
    <rich4>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich4>
    <richs>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </richs>
    <strings>
      <Value><![CDATA[]]></Value>
    </strings>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <tblHeader>
      <Value><![CDATA[Main Banner ]]></Value>
    </tblHeader>
    <title>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>