<?xml version="1.0" encoding="utf-8"?>
<Content Key="017e579a-c52d-48c2-9822-29337ba70491" Alias="Enterprise Solutions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EnterpriseSolutions</Path>
    <Trashed>false</Trashed>
    <ContentType>enterpriseSolutions</ContentType>
    <CreateDate>2022-10-17T19:12:39</CreateDate>
    <NodeName Default="Enterprise Solutions">
      <Name Culture="en-us">Enterprise Solutions</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="8d339005-51ea-4890-86f9-4996ec4fbb6c">EnterpriseSolutions</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[<p style="text-align: left;"><strong>With the digitization trend taking over, it has become adamant that institutions invest in enterprise software that automates business processes and enhances the operational efficiency. Partnered with leading vendors Oracle and SAP, Elsewedy digital offers ERP, ECM, EPM and WMS applications that are guaranteed to improve business outcomes, reduce costs and facilitate intelligent decision making. </strong></p>]]></Value>
    </description>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "531de07e-7ebf-45c7-8e3a-766122ba938a",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "bf5b3219-f049-469b-8fa0-cff1be325e84",
    "mediaKey": "f3327e22-8b7a-4437-87b4-4e3670139572"
  },
  {
    "key": "734579aa-0e7d-41b2-99e6-98a5363ebf7a",
    "mediaKey": "9a117e28-dbc2-47bd-9a77-96abdb039040"
  },
  {
    "key": "66b3e070-5646-4061-994c-e62d92d6544a",
    "mediaKey": "68c57f2b-c0db-4c53-843b-1642b95d666d"
  },
  {
    "key": "6d8643e8-9b5f-4255-9014-967dc5fab3f6",
    "mediaKey": "b8f8a263-6806-478b-a532-a1f8b095bbe7"
  },
  {
    "key": "b6684f6f-4f80-4df1-b67d-d6089ed099f5",
    "mediaKey": "cc702b80-4aa4-4435-9b07-dd1835d927cc"
  },
  {
    "key": "3c5954c2-dea5-4c71-b18d-229cb7b9ec46",
    "mediaKey": "af2bd486-f9f8-4683-a869-42d4caa92b95"
  }
]]]></Value>
    </images>
    <rich1>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich1>
    <rich2>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich2>
    <rich3>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich3>
    <rich4>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich4>
    <richs>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </richs>
    <strings>
      <Value><![CDATA[Sub-Solutions
Enterprise Resource Planning (ERP)
Enterprise Content Management (ECM)
Enterprise Performance Management (EPM)

Warehouse Management System (WMS)
Partners in Success]]></Value>
    </strings>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <tblHeader>
      <Value><![CDATA[Main Banner ]]></Value>
    </tblHeader>
    <title>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>