<?xml version="1.0" encoding="utf-8"?>
<Content Key="d85e1dfb-a972-47b5-9e24-aa5b6f454edc" Alias="Enterprise Content Management" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EnterpriseContentManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>enterpriseContentManagementECM</ContentType>
    <CreateDate>2022-10-17T19:21:13</CreateDate>
    <NodeName Default="Enterprise Content Management">
      <Name Culture="en-us">Enterprise Content Management</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="f296785c-10e5-4fd1-b387-c0b56eda4b30">EnterpriseContentManagementECM</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[<p style="text-align: left;"><strong>A software solution that makes an organization’s documents easily accessible from anywhere to designated personnel providing a secured repository for an organization's data.</strong></p>]]></Value>
    </description>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "e87ceded-e62b-4776-8a4f-005eac26b208",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "be4b80b4-d4fe-44bb-a010-d0d1d1031742",
    "mediaKey": "cb9fc0e7-ae50-4611-8bbe-adc5a34d9b81"
  },
  {
    "key": "4e62d407-776c-4d39-af75-411b321cf8ac",
    "mediaKey": "ead4ab56-70ed-4efc-9ace-0b5e4ed30933"
  }
]]]></Value>
    </images>
    <rich1>
      <Value Culture="en-us"><![CDATA[<ul>
<li style="text-align: left;">Partnered with top ECM vendors (Oracle and SAP).</li>
<li style="text-align: left;">Customized solutions for unique customer needs.</li>
<li style="text-align: left;">Strong security standards and compliance measures.</li>
<li style="text-align: left;">On-site or cloud implementations</li>
</ul>]]></Value>
    </rich1>
    <rich2>
      <Value Culture="en-us"><![CDATA[<ul>
<li style="text-align: left;">ECM implementation of all 30 GACA departments</li>
<li style="text-align: left;">Integration with 6 tailored systems</li>
<li style="text-align: left;">Integration with Oracle EBS 12c</li>
<li style="text-align: left;">Technologies used include Webcenter Content, Webcenter Capture, Weblogic Server, and Oracle Database.</li>
</ul>]]></Value>
    </rich2>
    <rich3>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich3>
    <rich4>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich4>
    <richs>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/31e73c8cb83a4d50ae9174802f95adb5",
        "settingsUdi": "umb://element/e598e471669f4ba3b9b4f7c7ddf435b4"
      },
      {
        "contentUdi": "umb://element/11c270c5bc9f4efabddd755387684f4e",
        "settingsUdi": "umb://element/0b1963275c3041d0877e45d51cbd0e68"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/31e73c8cb83a4d50ae9174802f95adb5",
      "content": "<table border=\"0\" style=\"width: 458px;\">\n<tbody>\n<tr>\n<td style=\"width: 458px;\"> </td>\n</tr>\n</tbody>\n</table>\n<ul></ul>"
    },
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/11c270c5bc9f4efabddd755387684f4e",
      "content": "<table border=\"0\">\n<tbody>\n<tr>\n<td> </td>\n</tr>\n</tbody>\n</table>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/e598e471669f4ba3b9b4f7c7ddf435b4"
    },
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/0b1963275c3041d0877e45d51cbd0e68"
    }
  ]
}]]></Value>
    </richs>
    <strings>
      <Value><![CDATA[Projects
ECM OF GENERAL AUTHORITY OF CIVIL AVIATION KSA]]></Value>
    </strings>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <tblHeader>
      <Value><![CDATA[Main Banner ]]></Value>
    </tblHeader>
    <title>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>