<?xml version="1.0" encoding="utf-8"?>
<Content Key="01afa16f-6139-493d-ac6e-a02ba6455542" Alias="Enterprise Performance Management" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EnterprisePerformanceManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>enterprisePerformanceManagementEPM</ContentType>
    <CreateDate>2022-10-17T19:28:34</CreateDate>
    <NodeName Default="Enterprise Performance Management">
      <Name Culture="en-us">Enterprise Performance Management</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="6bd596a0-ef5c-4a7f-a77e-028c6998fcf4">EnterprisePerformanceManagementEPM</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[<table border="0" width="624">
<tbody>
<tr>
<td width="624">
<p style="text-align: left;"><strong>Software that collects and monitors performance data across the enterprise with the goal of improving business performance.</strong></p>
</td>
</tr>
</tbody>
</table>]]></Value>
    </description>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "085874ba-efb4-49b0-9e39-c3f953c92e79",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "2c09a707-eda9-45b3-a97f-4d1969bb54c1",
    "mediaKey": "a6934855-a7d3-473b-b7c4-147b7a5aade3"
  },
  {
    "key": "389de841-3124-4f8f-a0e0-e95ed43d7c11",
    "mediaKey": "ee922c01-c1a3-4197-9d02-101b88ff9197"
  }
]]]></Value>
    </images>
    <rich1>
      <Value Culture="en-us"><![CDATA[<table border="0">
<tbody>
<tr>
<td>
<ul>
<li style="text-align: left;">Partnered with top EPM vendors (Oracle and SAP)</li>
<li style="text-align: left;">Customized solutions for unique customer needs</li>
<li style="text-align: left;">Insightful analytics</li>
<li style="text-align: left;">On-site or cloud implementations</li>
</ul>
</td>
</tr>
</tbody>
</table>]]></Value>
    </rich1>
    <rich2>
      <Value Culture="en-us"><![CDATA[<ol>
<li style="text-align: left;">Access data across all business units</li>
<li style="text-align: left;">Create strategic plan</li>
<li style="text-align: left;">Budget</li>
<li style="text-align: left;">Track and report</li>
<li style="text-align: left;">Assess and analyze</li>
</ol>]]></Value>
    </rich2>
    <rich3>
      <Value Culture="en-us"><![CDATA[<ul>
<li style="text-align: left;">Flexible web and Microsoft Office based planning application for the public sector.</li>
<li style="text-align: left;">Pre-built position and employee planning models combined with sophisticated planning and budgeting process management features.</li>
<li style="text-align: left;">Rollout for more than 675 budget units.</li>
<li style="text-align: left;">Helps project and evaluate the impact of employee compensation and benefits on overall budgets while supporting accurate forecasting.</li>
</ul>]]></Value>
    </rich3>
    <rich4>
      <Value Culture="en-us"><![CDATA[<ul>
<li style="text-align: left;">Oracle EPM Cloud</li>
<li style="text-align: left;">Integration with operational planning process.</li>
<li style="text-align: left;">Extraction of financial information from multiple sources.</li>
<li style="text-align: left;">Full automation of financial cycle.</li>
</ul>]]></Value>
    </rich4>
    <richs>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3debbbd97d794fe78fd4b0104d7617fb",
        "settingsUdi": "umb://element/788da0c21ae54d03baec07c2eb5a4e59"
      },
      {
        "contentUdi": "umb://element/23fda8cce5554c84aa892e3a16081b64",
        "settingsUdi": "umb://element/bba6011f031e48da883c864062f24cbb"
      },
      {
        "contentUdi": "umb://element/cef3ccc2d56446829902e0b9a7a8772d",
        "settingsUdi": "umb://element/c403b74adb764f0b8552695396d33e84"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/3debbbd97d794fe78fd4b0104d7617fb",
      "content": ""
    },
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/23fda8cce5554c84aa892e3a16081b64",
      "content": "<table border=\"0\">\n<tbody>\n<tr>\n<td> </td>\n</tr>\n</tbody>\n</table>"
    },
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/cef3ccc2d56446829902e0b9a7a8772d",
      "content": "<table border=\"0\" style=\"width: 469px;\">\n<tbody>\n<tr>\n<td style=\"width: 469px;\"> </td>\n</tr>\n</tbody>\n</table>\n<ul></ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/788da0c21ae54d03baec07c2eb5a4e59"
    },
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/bba6011f031e48da883c864062f24cbb"
    },
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/c403b74adb764f0b8552695396d33e84"
    }
  ]
}]]></Value>
    </richs>
    <strings>
      <Value><![CDATA[Projects
EGYPT MINISTRY OF FINANCE ORACLE HYPERION PUBLIC SECTOR PLANNING AND BUDGETING
57357 CHILDREN CANCER HOSPITAL ORACLE EPM CLOUD]]></Value>
    </strings>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <tblHeader>
      <Value><![CDATA[Main Banner ]]></Value>
    </tblHeader>
    <title>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>