<?xml version="1.0" encoding="utf-8"?>
<Content Key="0cd52e15-1ebb-40f9-a1c8-eb147624f6fc" Alias="Financial solutions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FinancialSolutions</Path>
    <Trashed>false</Trashed>
    <ContentType>financialSolutions</ContentType>
    <CreateDate>2022-10-17T19:39:16</CreateDate>
    <NodeName Default="Financial solutions">
      <Name Culture="en-us">Financial solutions</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="7bc597d4-2966-4dee-bb88-1da7983d4aad">FinancialSolutions</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[<table border="0" width="1300">
<tbody>
<tr>
<td width="1300">
<p style="text-align: left;"><strong>Elsewedy Digital provides core and noncore banking solutions to leading financial institutions inside Egypt and across the Middle East and Africa. </strong></p>
</td>
</tr>
</tbody>
</table>]]></Value>
    </description>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "449b8347-26d2-4cd3-817b-205fa52b8a5e",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "4ac3a2d1-6220-49bb-9707-9194fc79ccbd",
    "mediaKey": "b8f8a263-6806-478b-a532-a1f8b095bbe7"
  },
  {
    "key": "32e99a31-c400-40c8-994e-be89f7c067bc",
    "mediaKey": "68c57f2b-c0db-4c53-843b-1642b95d666d"
  },
  {
    "key": "9c2f60a9-826b-494a-a6c2-baeb8ec0d9b2",
    "mediaKey": "9a117e28-dbc2-47bd-9a77-96abdb039040"
  },
  {
    "key": "2d6affa7-fae5-4a0b-82b0-df3e7a490ea1",
    "mediaKey": "f3327e22-8b7a-4437-87b4-4e3670139572"
  },
  {
    "key": "993b213a-edb8-495d-84ca-0032c8dbffdc",
    "mediaKey": "cc702b80-4aa4-4435-9b07-dd1835d927cc"
  },
  {
    "key": "d71f21e3-a468-44b9-bb85-50d094da7d92",
    "mediaKey": "af2bd486-f9f8-4683-a869-42d4caa92b95"
  },
  {
    "key": "a8225ca9-aa50-4e7c-81d7-7f8e6648bd4f",
    "mediaKey": "7d90445b-8819-4838-bfc7-4a0d6cd09484"
  }
]]]></Value>
    </images>
    <rich1>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich1>
    <rich2>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich2>
    <rich3>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich3>
    <rich4>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich4>
    <richs>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </richs>
    <strings>
      <Value><![CDATA[Sub-Solutions
Core Banking Solutions
Non-Banking financial solutions
Partners in Success]]></Value>
    </strings>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <tblHeader>
      <Value><![CDATA[Main Banner ]]></Value>
    </tblHeader>
    <title>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>