<?xml version="1.0" encoding="utf-8"?>
<Content Key="abc2f8cf-7b35-4206-bb4e-ddca330025a8" Alias="GIS (Geographical Information System)" Level="3">
  <Info>
    <Parent Key="6840e026-38d4-4abb-be68-37e469c66aad">Software Solutions</Parent>
    <Path>//SoftwareSolutions/GISGeographicalInformationSystem</Path>
    <Trashed>false</Trashed>
    <ContentType>subContent</ContentType>
    <CreateDate>2022-10-23T17:28:29</CreateDate>
    <NodeName Default="GIS (Geographical Information System)">
      <Name Culture="en-us">GIS (Geographical Information System)</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="ebe2fa1a-5c4f-4309-8b60-9c83f1229fd3">SubContent</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "b8dbbe18-ebfd-45fe-9ac3-4f0664ea8fe1",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <imag1>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "da4473ae-564e-4cbf-b727-c9a6199e95bc",
    "mediaKey": "9dbbe1b8-821d-471f-ada3-4f4b1c691e5c"
  }
]]]></Value>
    </imag1>
    <imagelist1>
      <Value><![CDATA[]]></Value>
    </imagelist1>
    <imagelist2>
      <Value><![CDATA[]]></Value>
    </imagelist2>
    <imagelist3>
      <Value><![CDATA[]]></Value>
    </imagelist3>
    <label1>
      <Value><![CDATA[]]></Value>
    </label1>
    <label2>
      <Value><![CDATA[]]></Value>
    </label2>
    <label3>
      <Value><![CDATA[]]></Value>
    </label3>
    <list1>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f10e23638ddb4980a09d88385156461f",
        "settingsUdi": "umb://element/e15b622c5e66434da61598cac7b1d257"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/f10e23638ddb4980a09d88385156461f",
      "content": "<ul>\n<li>Partnered with ESRI</li>\n<li>Easily integrated with other applications and systems</li>\n<li>Strong imagery analysis features</li>\n<li>Location based services and mapping</li>\n</ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/e15b622c5e66434da61598cac7b1d257"
    }
  ]
}]]></Value>
    </list1>
    <list2>
      <Value><![CDATA[]]></Value>
    </list2>
    <mainBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "ae3621b6-bb06-48a7-8c13-a6363623a582",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </mainBanner>
    <paragraph1>
      <Value Culture="en-us"><![CDATA[A common feature in applications and smart solutions that allows for capturing, storing, and displaying geographical information, it connects data to a map, and integrates location data to other information in an application.]]></Value>
    </paragraph1>
    <paragrpagh2>
      <Value><![CDATA[]]></Value>
    </paragrpagh2>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[GIS (Geographical Information System)]]></Value>
    </title>
  </Properties>
</Content>