<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a6be46d-c94e-461a-a7c9-db3aca670e60" Alias="GIS (Geographical Information System)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GISGeographicalInformationSystem</Path>
    <Trashed>false</Trashed>
    <ContentType>gISGeographicalInformationSystem</ContentType>
    <CreateDate>2022-10-17T19:04:20</CreateDate>
    <NodeName Default="GIS (Geographical Information System)">
      <Name Culture="en-us">GIS (Geographical Information System)</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="d2af8fc0-8f29-48e6-958b-f8027da26ef2">GISGeographicalInformationSystem</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[<p style="text-align: left;"><strong>A common feature in applications and smart solutions that allows for capturing, storing, and displaying geographical information, it connects data to a map, and integrates location data to other information in an application.</strong></p>]]></Value>
    </description>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "69a43c1e-cc2e-411f-9452-5364e46741b1",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "db6298a9-8d16-422e-8483-d8895530a343",
    "mediaKey": "6c64b4cd-fac5-4bab-9f23-0eb1b2021bb6"
  }
]]]></Value>
    </images>
    <rich1>
      <Value Culture="en-us"><![CDATA[<ul>
<li style="text-align: left;">Partnered with ESRI</li>
<li style="text-align: left;">Easily integrated with other applications and systems</li>
<li style="text-align: left;">Strong imagery analysis features</li>
<li style="text-align: left;">Location based services and mapping</li>
</ul>]]></Value>
    </rich1>
    <rich2>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich2>
    <rich3>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich3>
    <rich4>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich4>
    <richs>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/dfb5c5a24f87492c906ec82fa82ddc97",
        "settingsUdi": "umb://element/cfff1401789043889da7d42a2bf8d8ab"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/dfb5c5a24f87492c906ec82fa82ddc97",
      "content": "<table border=\"0\">\n<tbody>\n<tr>\n<td> </td>\n</tr>\n</tbody>\n</table>\n<ul></ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/cfff1401789043889da7d42a2bf8d8ab"
    }
  ]
}]]></Value>
    </richs>
    <strings>
      <Value><![CDATA[]]></Value>
    </strings>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <tblHeader>
      <Value><![CDATA[Main Banner ]]></Value>
    </tblHeader>
    <title>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>