<?xml version="1.0" encoding="utf-8"?>
<Content Key="d97e2a68-76b1-4d5a-a251-d47b15e84e4b" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>arabichome</ContentType>
    <CreateDate>2022-11-19T14:59:36</CreateDate>
    <NodeName Default="Home">
      <Name Culture="ar-eg">Home</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
    </Published>
    <Schedule />
    <Template Key="e89fe2f7-7fde-4c37-b005-7d1fbf2b9c6d">arabichome</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </bodyText>
    <firstLabel>
      <Value Culture="ar-eg"><![CDATA[الرئيسية]]></Value>
    </firstLabel>
    <footerSocialLinks>
      <Value Culture="ar-eg"><![CDATA[[
  {
    "network": "facebook",
    "name": "Facebook",
    "url": "https://facebook.com/"
  },
  {
    "network": "twitter",
    "name": "Twitter",
    "url": "https://twitter.com/"
  },
  {
    "network": "instagram",
    "name": "Instagram",
    "url": "https://instagram.com/"
  },
  {
    "network": "youtube",
    "name": "YouTube",
    "url": "https://www.youtube.com/channel/"
  },
  {
    "network": "linkedin",
    "name": "LinkedIn",
    "url": "https://linkedin.com/in/"
  }
]]]></Value>
    </footerSocialLinks>
    <headerImage>
      <Value Culture="ar-eg"><![CDATA[[
  {
    "key": "41e00670-3a6f-414a-9d4b-be05fac12ac8",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <homepagelink>
      <Value Culture="ar-eg"><![CDATA[[
  {
    "name": "Home",
    "udi": "umb://document/d97e2a6876b14d5aa251d47b15e84e4b"
  }
]]]></Value>
    </homepagelink>
    <mainContent>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </mainContent>
    <mainNavigation>
      <Value Culture="ar-eg"><![CDATA[[
  {
    "key": "15d73a34-c1f1-4fcf-b4bb-75193cfa3e42",
    "name": "الحل الاول",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "الحل الاول",
    "link": "[{\"name\":\"Home\",\"udi\":\"umb://document/d97e2a6876b14d5aa251d47b15e84e4b\"}]",
    "childrenLinks": "[{\"name\":\"Home\",\"udi\":\"umb://document/d97e2a6876b14d5aa251d47b15e84e4b\"},{\"name\":\"Home\",\"udi\":\"umb://document/d97e2a6876b14d5aa251d47b15e84e4b\"}]"
  },
  {
    "key": "689de7df-9277-4ec0-80d5-8a78b61ed3cd",
    "name": "الحل الثانى",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "الحل الثانى",
    "link": "[{\"name\":\"Home\",\"udi\":\"umb://document/d97e2a6876b14d5aa251d47b15e84e4b\"}]",
    "childrenLinks": "[{\"name\":\"Home\",\"udi\":\"umb://document/d97e2a6876b14d5aa251d47b15e84e4b\"}]"
  },
  {
    "key": "41f7ef14-6fc6-4814-ab0a-71c2af131661",
    "name": "الحل الثالث",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "الحل الثالث",
    "link": "[{\"name\":\"Home\",\"udi\":\"umb://document/d97e2a6876b14d5aa251d47b15e84e4b\"}]",
    "childrenLinks": "[{\"name\":\"Home\",\"udi\":\"umb://document/d97e2a6876b14d5aa251d47b15e84e4b\"}]"
  },
  {
    "key": "5ad2b008-2420-4838-9772-3bd29c2b0a1e",
    "name": "الحل الرابع",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "الحل الرابع",
    "link": "[{\"name\":\"Home\",\"udi\":\"umb://document/d97e2a6876b14d5aa251d47b15e84e4b\"}]",
    "childrenLinks": "[{\"name\":\"Home\",\"udi\":\"umb://document/d97e2a6876b14d5aa251d47b15e84e4b\"}]"
  },
  {
    "key": "5c62f6e7-d858-4db7-8b37-09ceb4366d47",
    "name": "الحل الخامس",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "الحل الخامس",
    "link": "[{\"name\":\"Home\",\"udi\":\"umb://document/d97e2a6876b14d5aa251d47b15e84e4b\"}]",
    "childrenLinks": "[{\"name\":\"Home\",\"udi\":\"umb://document/d97e2a6876b14d5aa251d47b15e84e4b\"}]"
  },
  {
    "key": "e7eb7b75-1d10-414f-8c65-bb4d8d96e383",
    "name": "الحل السادس",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "الحل السادس",
    "link": "[{\"name\":\"Home\",\"udi\":\"umb://document/d97e2a6876b14d5aa251d47b15e84e4b\"}]",
    "childrenLinks": "[{\"name\":\"Home\",\"udi\":\"umb://document/d97e2a6876b14d5aa251d47b15e84e4b\"}]"
  },
  {
    "key": "49692530-4076-4d88-919f-10d8e10f650c",
    "name": "الحل السابع",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "الحل السابع",
    "link": "[{\"name\":\"Home\",\"udi\":\"umb://document/d97e2a6876b14d5aa251d47b15e84e4b\"}]",
    "childrenLinks": "[{\"name\":\"Home\",\"udi\":\"umb://document/d97e2a6876b14d5aa251d47b15e84e4b\"}]"
  },
  {
    "key": "84f468cb-d907-4147-9a39-ef900a353e48",
    "name": "الحل الثامن",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "الحل الثامن",
    "link": "[{\"name\":\"Home\",\"udi\":\"umb://document/d97e2a6876b14d5aa251d47b15e84e4b\"}]",
    "childrenLinks": "[{\"name\":\"Home\",\"udi\":\"umb://document/d97e2a6876b14d5aa251d47b15e84e4b\"}]"
  },
  {
    "key": "50c2dd75-bb98-4091-9107-6db307c00c6f",
    "name": "الحل التاسع",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "الحل التاسع",
    "link": "[{\"name\":\"Home\",\"udi\":\"umb://document/d97e2a6876b14d5aa251d47b15e84e4b\"}]",
    "childrenLinks": "[{\"name\":\"Home\",\"udi\":\"umb://document/d97e2a6876b14d5aa251d47b15e84e4b\"}]"
  },
  {
    "key": "b33c4074-5546-4cd6-b425-1312b9d4397a",
    "name": "الحل العاشر",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "الحل العاشر",
    "link": "[{\"name\":\"Home\",\"udi\":\"umb://document/d97e2a6876b14d5aa251d47b15e84e4b\"}]",
    "childrenLinks": "[{\"name\":\"Home\",\"udi\":\"umb://document/d97e2a6876b14d5aa251d47b15e84e4b\"}]"
  }
]]]></Value>
    </mainNavigation>
    <secondlabel>
      <Value Culture="ar-eg"><![CDATA[الحلول]]></Value>
    </secondlabel>
    <subtitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="ar-eg"><![CDATA[Home]]></Value>
    </title>
  </Properties>
</Content>