<?xml version="1.0" encoding="utf-8"?>
<Content Key="1bf65b5e-1ad0-4019-be71-f664be096edd" Alias="Industrial Automation" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IndustrialAutomation</Path>
    <Trashed>false</Trashed>
    <ContentType>industrialAutomation</ContentType>
    <CreateDate>2022-10-17T20:51:18</CreateDate>
    <NodeName Default="Industrial Automation">
      <Name Culture="en-us">Industrial Automation</Name>
    </NodeName>
    <SortOrder>13</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="2ab3efc9-ef54-4183-969f-07d4b2997b44">IndustrialAutomation</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[<p style="text-align: left;"><strong>By utilizing high grade automatic control devices and set technologies, we offer solutions that limit human intervention leading to tight control, improved and streamlined management, and superior performance. Our industrial automation services cover the complete lifecycle of production staring with process automation, instrumentation, installation of programable controllers, implementation of SCADA and other management software. Our solutions have helped diverse industries maximize plant production, reduce costs, improve management, and extend machinery life span.</strong></p>]]></Value>
    </description>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "01dfaa56-3994-4559-939f-f72f03c60b83",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "527c7f55-3dd4-45ca-9b27-2aa1bdacb37b",
    "mediaKey": "ddb0c7db-9c84-4596-b820-7aa7d542d7ef"
  },
  {
    "key": "3c585f3a-0642-45e6-9a58-63291334ffb4",
    "mediaKey": "795fac51-3e1d-45d4-b63e-4ace40585eea"
  },
  {
    "key": "74baf0e8-caef-4699-be75-490c168c5f7e",
    "mediaKey": "92c15577-126f-4ea4-9d09-c2f9b57b7664"
  }
]]]></Value>
    </images>
    <rich1>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich1>
    <rich2>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich2>
    <rich3>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich3>
    <rich4>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich4>
    <richs>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </richs>
    <strings>
      <Value><![CDATA[Sub-Solutions
Process Automation
Instrumentation
PLC and DC
SCADA
Asset Monitoring and Management

Partners in Success]]></Value>
    </strings>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <tblHeader>
      <Value><![CDATA[Main Banner ]]></Value>
    </tblHeader>
    <title>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>