<?xml version="1.0" encoding="utf-8"?>
<Content Key="a4ca40c8-cf0d-40de-82a2-9cc242542336" Alias="Industrial Automation" Level="2">
  <Info>
    <Parent Key="e2485701-bfec-4158-9bb1-77ac8a3ba706">الصفحة الرئيسية</Parent>
    <Path>//IndustrialAutomation</Path>
    <Trashed>false</Trashed>
    <ContentType>industrialAutomation</ContentType>
    <CreateDate>2022-10-23T18:46:23</CreateDate>
    <NodeName Default="Industrial Automation">
      <Name Culture="en-us">Industrial Automation</Name>
      <Name Culture="fr">Industrial Automation</Name>
    </NodeName>
    <SortOrder>15</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="e532ceb7-220f-457a-87f2-8cd5475ce145">IndustrialAutomation</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "7c063452-8135-41ff-97ac-3cfd8fd23fd7",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "ce8a2809-c793-4695-b810-dd7665204e65",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <imag1>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
      <Value Culture="fr"><![CDATA[[]]]></Value>
    </imag1>
    <imagelist1>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "22853d21-42ed-41ff-a33c-97a73fae4806",
    "name": "Process Automation",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"2e41c0ae-0855-42c2-8fff-d84483dcfbe0\",\r\n    \"mediaKey\": \"018e948b-45fe-4436-8ab6-238bb04c8bc9\"\r\n  }\r\n]",
    "title": "Process Automation",
    "link": "[{\"name\":\"Process Automation\",\"udi\":\"umb://document/b4159edeada04f568a3e6930a7ca6380\"}]"
  },
  {
    "key": "c5803fd4-5274-4693-8594-131e2b95c780",
    "name": "Instrumentation",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"e4276dbc-b9e7-4294-8e35-6c075d1eb18f\",\r\n    \"mediaKey\": \"0ef98ff2-3919-4a97-90ac-ab3950c576fd\"\r\n  }\r\n]",
    "title": "Instrumentation",
    "link": "[{\"name\":\"Instrumentation\",\"udi\":\"umb://document/5d863e31eccd41ccbacf195b3b4d2e80\"}]"
  },
  {
    "key": "26294774-d23d-4bed-899f-0b077e52275e",
    "name": "PLC and DC",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"de50281f-93ce-441a-811f-95332f079781\",\r\n    \"mediaKey\": \"11cdcc47-b576-4f74-83fc-6fb7294316a7\"\r\n  }\r\n]",
    "title": "PLC and DC",
    "link": "[{\"name\":\"PLC and DC\",\"udi\":\"umb://document/7bf37372437d4b679e6c89539cb15b22\"}]"
  },
  {
    "key": "801a0c03-a1bb-4c4a-a23f-b665f14e9f97",
    "name": "SCADA",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"0693588b-6723-4a12-aec2-d0193049196c\",\r\n    \"mediaKey\": \"4233f329-a2bd-435c-96b8-f3de0bb47132\"\r\n  }\r\n]",
    "title": "SCADA",
    "link": "[{\"name\":\"SCADA\",\"udi\":\"umb://document/a0935d266754492dbd63f382809ddb25\"}]"
  },
  {
    "key": "94660905-3ade-4a71-9268-4cabd03635a2",
    "name": "Asset Monitoring and Management",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"9594be2a-9e44-4f00-b7f1-ce91740973fa\",\r\n    \"mediaKey\": \"eb162e50-46e1-4850-9b37-4f1c69a1284c\"\r\n  }\r\n]",
    "title": "Asset Monitoring and Management",
    "link": "[{\"name\":\"Asset Monitoring and Management\",\"udi\":\"umb://document/e58906a88ae24ce184c8fbca2b2d75ef\"}]"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "c97f6865-18f6-4c5d-9942-3347bacba83a",
    "name": "Automatisation de processus",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"2e41c0ae-0855-42c2-8fff-d84483dcfbe0\",\r\n    \"mediaKey\": \"018e948b-45fe-4436-8ab6-238bb04c8bc9\"\r\n  }\r\n]",
    "title": "Automatisation de processus",
    "link": "[{\"name\":\"Process Automation\",\"udi\":\"umb://document/b4159edeada04f568a3e6930a7ca6380\"}]"
  },
  {
    "key": "29d595c3-65f6-4b6d-b0c2-0c325b8c1b38",
    "name": "Instrumentation",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"e4276dbc-b9e7-4294-8e35-6c075d1eb18f\",\r\n    \"mediaKey\": \"0ef98ff2-3919-4a97-90ac-ab3950c576fd\"\r\n  }\r\n]",
    "title": "Instrumentation",
    "link": "[{\"name\":\"Instrumentation\",\"udi\":\"umb://document/5d863e31eccd41ccbacf195b3b4d2e80\"}]"
  },
  {
    "key": "da3e56eb-0d8c-4c4c-b7d2-268010b783b8",
    "name": "PLC et DC",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"de50281f-93ce-441a-811f-95332f079781\",\r\n    \"mediaKey\": \"11cdcc47-b576-4f74-83fc-6fb7294316a7\"\r\n  }\r\n]",
    "title": "PLC et DC",
    "link": "[{\"name\":\"PLC and DC\",\"udi\":\"umb://document/7bf37372437d4b679e6c89539cb15b22\"}]"
  },
  {
    "key": "9250ed25-8d9a-492f-b63e-8557c2635c9b",
    "name": "SCADA",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"0693588b-6723-4a12-aec2-d0193049196c\",\r\n    \"mediaKey\": \"4233f329-a2bd-435c-96b8-f3de0bb47132\"\r\n  }\r\n]",
    "title": "SCADA",
    "link": "[{\"name\":\"SCADA\",\"udi\":\"umb://document/a0935d266754492dbd63f382809ddb25\"}]"
  },
  {
    "key": "9f4eca8b-3ce2-43b8-b8e8-03b4f912841c",
    "name": "Surveillance et gestion des actifs",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"9594be2a-9e44-4f00-b7f1-ce91740973fa\",\r\n    \"mediaKey\": \"eb162e50-46e1-4850-9b37-4f1c69a1284c\"\r\n  }\r\n]",
    "title": "Surveillance et gestion des actifs",
    "link": "[{\"name\":\"Asset Monitoring and Management\",\"udi\":\"umb://document/e58906a88ae24ce184c8fbca2b2d75ef\"}]"
  }
]]]></Value>
    </imagelist1>
    <imagelist2>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "c3431672-f4ff-42f1-a9f4-f77a752a00e9",
    "name": "Item 1",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"c061de65-c29e-4f6e-b43b-0b9fdf987901\",\r\n    \"mediaKey\": \"d4d570ab-4d04-43ab-89e1-fcf2b1ced28c\"\r\n  }\r\n]",
    "title": "",
    "link": null
  },
  {
    "key": "2c55f87e-ea44-429d-b7e9-56342b0350b4",
    "name": "Item 2",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"201fb131-2739-4233-8fda-770dcc2279f1\",\r\n    \"mediaKey\": \"28448bc7-23d5-4fdb-b82f-1be4ece8c795\"\r\n  }\r\n]",
    "title": "",
    "link": null
  },
  {
    "key": "bbebdea1-5eda-4c14-af1a-3f005287aad4",
    "name": "Item 3",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"a08e10f7-dfb6-41f3-a3b2-84fa3b475804\",\r\n    \"mediaKey\": \"e9464385-7459-4e29-aec0-fab53ade498f\"\r\n  }\r\n]",
    "title": "",
    "link": null
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "f9d9a68b-1f62-4f8e-b573-82019d186978",
    "name": "Item 1",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"c061de65-c29e-4f6e-b43b-0b9fdf987901\",\r\n    \"mediaKey\": \"d4d570ab-4d04-43ab-89e1-fcf2b1ced28c\"\r\n  }\r\n]",
    "title": "",
    "link": null
  },
  {
    "key": "cd067e51-9e40-4bc8-9a13-c33f5c40d6a5",
    "name": "Item 2",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"201fb131-2739-4233-8fda-770dcc2279f1\",\r\n    \"mediaKey\": \"28448bc7-23d5-4fdb-b82f-1be4ece8c795\"\r\n  }\r\n]",
    "title": "",
    "link": null
  },
  {
    "key": "a2247f97-8a5c-4a1d-845e-e418afe5a92c",
    "name": "Item 3",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"a08e10f7-dfb6-41f3-a3b2-84fa3b475804\",\r\n    \"mediaKey\": \"e9464385-7459-4e29-aec0-fab53ade498f\"\r\n  }\r\n]",
    "title": "",
    "link": null
  }
]]]></Value>
    </imagelist2>
    <imagelist3>
      <Value><![CDATA[]]></Value>
    </imagelist3>
    <label1>
      <Value Culture="en-us"><![CDATA[Sub-Solutions]]></Value>
      <Value Culture="fr"><![CDATA[Solutions secondaires]]></Value>
    </label1>
    <label2>
      <Value Culture="en-us"><![CDATA[Partners in Success]]></Value>
      <Value Culture="fr"><![CDATA[Partenaires dans la réussite]]></Value>
    </label2>
    <label3>
      <Value><![CDATA[]]></Value>
    </label3>
    <list1>
      <Value><![CDATA[]]></Value>
    </list1>
    <list2>
      <Value><![CDATA[]]></Value>
    </list2>
    <mainBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "c6b3523c-057f-4e67-8b60-e06b28e15e85",
    "mediaKey": "dc0939c4-3428-44a9-b07e-29406aa85067"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "14011463-c97c-4b23-8396-89c030226be4",
    "mediaKey": "dc0939c4-3428-44a9-b07e-29406aa85067"
  }
]]]></Value>
    </mainBanner>
    <paragraph1>
      <Value Culture="en-us"><![CDATA[<p>By utilizing high grade automatic control devices and set technologies, we offer solutions that limit human intervention leading to tight control, improved and streamlined management, and superior performance. Our industrial automation services cover the complete lifecycle of production staring with process automation, instrumentation, installation of programable controllers, implementation of SCADA and other management software. Our solutions have helped diverse industries maximize plant production, reduce costs, improve management, and extend machinery life span.</p>]]></Value>
      <Value Culture="fr"><![CDATA[<p>En utilisant des dispositifs de contrôle automatique et des technologies de pointe, nous offrons des solutions qui limitent l'intervention humaine, ce qui permet un contrôle étroit, une gestion améliorée et rationalisée et des performances supérieures. Nos services d'automatisation industrielle couvrent le cycle de vie complet de la production en fixant l'automatisation des processus, l'instrumentation, l'installation d'automates programmables, la mise en œuvre de SCADA et d'autres logiciels de gestion. Nos solutions ont aidé diverses industries à maximiser la production des usines, à réduire les coûts, à améliorer la gestion et à prolonger la durée de vie des machines.</p>]]></Value>
    </paragraph1>
    <paragrpagh2>
      <Value><![CDATA[]]></Value>
    </paragrpagh2>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[Industrial Automation]]></Value>
      <Value Culture="fr"><![CDATA[Automatisation industrielle]]></Value>
    </title>
  </Properties>
</Content>