<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d863e31-eccd-41cc-bacf-195b3b4d2e80" Alias="Instrumentation" Level="3">
  <Info>
    <Parent Key="a4ca40c8-cf0d-40de-82a2-9cc242542336">Industrial Automation</Parent>
    <Path>//IndustrialAutomation/Instrumentation</Path>
    <Trashed>false</Trashed>
    <ContentType>subContent</ContentType>
    <CreateDate>2022-10-23T18:56:23</CreateDate>
    <NodeName Default="Instrumentation">
      <Name Culture="en-us">Instrumentation</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="ebe2fa1a-5c4f-4309-8b60-9c83f1229fd3">SubContent</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "c6453af5-e4c2-48f5-8930-2fe1103c745c",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <imag1>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "82b3dcba-8694-4fc2-98c9-07141a16c8c5",
    "mediaKey": "78a5a025-4025-46e4-8d15-bcaab0f52ec2"
  }
]]]></Value>
    </imag1>
    <imagelist1>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </imagelist1>
    <imagelist2>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </imagelist2>
    <imagelist3>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "34e2eb27-b25d-4fee-af8b-ad376e4ece8c",
    "name": "CPA TREATMENT FOR ABU ZAABAL FERTILIZER AND CHEMICAL CO.",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"043b2717-389b-4d68-84cd-94d222d5f81c\",\r\n    \"mediaKey\": \"0f10979a-f408-44ed-9ccd-ab9d5df8cfd2\"\r\n  }\r\n]",
    "title": "CPA TREATMENT FOR ABU ZAABAL FERTILIZER AND CHEMICAL CO. ",
    "textarea": "<ul>\n<li>Engineering, procurement, and construction of DCS (distributed control system) &amp; instrumentations.</li>\n<li>Implementation of SCADA system</li>\n<li>Solution is based on SIEMENS PCS7 hardware and relevant devices for network connection, Modbus TCP &amp; RTU interface.</li>\n<li>Instrumentation scope includes flowmeter, level transmitter, level switch, pressure gauge, pressure transmitter, pressure switch, temperature transmitter, control valve with pneumatic actuator (installation only), on/off valve (installation only) &amp; pressure safety valve (installation only).</li>\n</ul>",
    "link": null
  }
]]]></Value>
    </imagelist3>
    <label1>
      <Value Culture="en-us"><![CDATA[Projects]]></Value>
    </label1>
    <label2>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </label2>
    <label3>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </label3>
    <list1>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c70efc52b3e343e58ebd4293f36f5ce3",
        "settingsUdi": "umb://element/5db6f210cb1c4b15bcb1f1460eabadfb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/c70efc52b3e343e58ebd4293f36f5ce3",
      "content": "<ul>\n<li>Supply and installation of transmitters, switches, and gauges.</li>\n<li>Supply and installation of PLC, DC, and SCADA.</li>\n<li>Supply and installation of cabling.</li>\n<li>Calibration and predictive maintenance.</li>\n</ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/5db6f210cb1c4b15bcb1f1460eabadfb"
    }
  ]
}]]></Value>
    </list1>
    <list2>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </list2>
    <mainBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "6050dbf6-2a70-4c97-b2b5-4f469b56992e",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </mainBanner>
    <paragraph1>
      <Value Culture="en-us"><![CDATA[The science and art of creating, constructing, and maintaining the measuring and control devices in a manufacturing plant.]]></Value>
    </paragraph1>
    <paragrpagh2>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </paragrpagh2>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[Instrumentation]]></Value>
    </title>
  </Properties>
</Content>