<?xml version="1.0" encoding="utf-8"?>
<Content Key="e1204438-152c-4c6d-8c74-47816eb4fcf9" Alias="Instrumentation" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Instrumentation</Path>
    <Trashed>false</Trashed>
    <ContentType>instrumentation</ContentType>
    <CreateDate>2022-10-17T20:56:51</CreateDate>
    <NodeName Default="Instrumentation">
      <Name Culture="en-us">Instrumentation</Name>
    </NodeName>
    <SortOrder>15</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="bd2aab6e-4ca7-4715-9125-022317ee28bf">Instrumentation</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[<p style="text-align: left;"><strong>The science and art of creating, constructing, and maintaining the measuring and control devices in a manufacturing plant.</strong></p>]]></Value>
    </description>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "a7d7ba5c-de17-4c52-afbf-bd6ace6eabd4",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "111a0306-5a02-4298-8910-0abd4dfe198c",
    "mediaKey": "08ea9d3d-fd67-4b4b-904f-34cc50fd9193"
  },
  {
    "key": "2898bb8e-df53-4974-9568-e024fae6c55d",
    "mediaKey": "6e00951f-ff72-4329-b102-9f5ffa5aeb46"
  }
]]]></Value>
    </images>
    <rich1>
      <Value Culture="en-us"><![CDATA[<ul>
<li style="text-align: left;">Supply and installation of transmitters, switches, and gauges.</li>
<li style="text-align: left;">Supply and installation of PLC, DC, and SCADA.</li>
<li style="text-align: left;">Supply and installation of cabling.</li>
<li style="text-align: left;">Calibration and predictive maintenance.</li>
</ul>]]></Value>
    </rich1>
    <rich2>
      <Value Culture="en-us"><![CDATA[<ul>
<li style="text-align: left;">Engineering, procurement, and construction of DCS (distributed control system) &amp; instrumentations.</li>
<li style="text-align: left;">Implementation of SCADA system</li>
<li style="text-align: left;">Solution is based on SIEMENS PCS7 hardware and relevant devices for network connection, Modbus TCP &amp; RTU interface.</li>
<li style="text-align: left;">Instrumentation scope includes flowmeter, level transmitter, level switch, pressure gauge, pressure transmitter, pressure switch, temperature transmitter, control valve with pneumatic actuator (installation only), on/off valve (installation only) &amp; pressure safety valve (installation only).</li>
</ul>]]></Value>
    </rich2>
    <rich3>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich3>
    <rich4>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich4>
    <richs>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d175b057859948a8ae509460eb195802",
        "settingsUdi": "umb://element/147354781ecb48d5a143a21fd1c79f59"
      },
      {
        "contentUdi": "umb://element/84bc1a7e5cb14a8191fb2c2d2e525557",
        "settingsUdi": "umb://element/54b40aa2ecf244b2bef622cfe9bcc3e7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/d175b057859948a8ae509460eb195802",
      "content": "<table border=\"0\" width=\"624\">\n<tbody>\n<tr>\n<td width=\"291\"> </td>\n</tr>\n</tbody>\n</table>"
    },
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/84bc1a7e5cb14a8191fb2c2d2e525557",
      "content": "<table border=\"0\">\n<tbody>\n<tr>\n<td> </td>\n</tr>\n</tbody>\n</table>\n<ul></ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/147354781ecb48d5a143a21fd1c79f59"
    },
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/54b40aa2ecf244b2bef622cfe9bcc3e7"
    }
  ]
}]]></Value>
    </richs>
    <strings>
      <Value><![CDATA[Projects
CPA TREATMENT FOR ABU ZAABAL FERTILIZER AND CHEMICAL CO. ]]></Value>
    </strings>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <tblHeader>
      <Value><![CDATA[Main Banner ]]></Value>
    </tblHeader>
    <title>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>