<?xml version="1.0" encoding="utf-8"?>
<Content Key="202f0e7c-ae40-4ff8-af49-3b850d86dc93" Alias="Microwave, Radio &amp; Satellite Communications" Level="3">
  <Info>
    <Parent Key="ea13f381-8cf9-45e9-ae81-5809813c7bed">ELV System</Parent>
    <Path>//ELVSystem/MicrowaveRadioSatelliteCommunications</Path>
    <Trashed>false</Trashed>
    <ContentType>subContent</ContentType>
    <CreateDate>2022-10-21T15:10:32</CreateDate>
    <NodeName Default="Microwave, Radio &amp; Satellite Communications">
      <Name Culture="en-us">Microwave, Radio &amp; Satellite Communications</Name>
      <Name Culture="fr">Microwave, Radio &amp; Satellite Communications</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="ebe2fa1a-5c4f-4309-8b60-9c83f1229fd3">SubContent</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "ca424b75-5e02-4e32-816b-29485b918ca9",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "69e33c81-4432-4c42-a93c-e1ad33bd8418",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <imag1>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "70f1aa21-4da1-4edd-9de5-681f721409d5",
    "mediaKey": "6b0f0a83-8288-4b09-932a-0953c65f694f"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "6aa7277c-9ea2-4109-b4bd-ae1f0ff2f93b",
    "mediaKey": "6b0f0a83-8288-4b09-932a-0953c65f694f"
  }
]]]></Value>
    </imag1>
    <imagelist1>
      <Value><![CDATA[]]></Value>
    </imagelist1>
    <imagelist2>
      <Value><![CDATA[]]></Value>
    </imagelist2>
    <imagelist3>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "815e3876-9d46-4f9b-956d-2d64cd386396",
    "name": "BIDA AL QEMZAN OIL FIELD STATION - UAE",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"b2d2b892-7481-47f4-a0ad-281068ed8a69\",\r\n    \"mediaKey\": \"52386916-b196-4cdd-b0cd-e98fe23e0890\"\r\n  }\r\n]",
    "title": "BIDA AL QEMZAN OIL FIELD STATION - UAE",
    "textarea": "<ul>\n<li>Construction of Bida Al Qemzan station facilities, RDS-1 and 16” transfer line (Package -A)</li>\n<li>SDH/PTN, ODH, PMP wireless broadband, VHF/UHF land mobile radio, trunked radio, CCTV, PA/GA paging/ intercom, PBX/telephony, hotline, DECT, SCS, OSP, UPS, solar power, power generator, active/passive, and hybrid cooling shelter.</li>\n</ul>",
    "link": null
  },
  {
    "key": "30a99504-d0be-4fad-a322-546ece0fd7fe",
    "name": "SOUTH YOLOTEN GAS FIELD DEVELOPMENT - TURKMENISTAN",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"488baf07-23d3-4759-83b1-4b1c728e7d49\",\r\n    \"mediaKey\": \"a2c33a83-2806-4125-ac08-23f928ce099e\"\r\n  }\r\n]",
    "title": "SOUTH YOLOTEN GAS FIELD DEVELOPMENT - TURKMENISTAN",
    "textarea": "<ul>\n<li>Initial design and feasibility studies for facilities to produce 20. BCMA of sales gas.</li>\n<li>PTP MW Radio.</li>\n<li>VHF/UHF land mobile radio, trunked radio.</li>\n<li>NDB, navigational aid.</li>\n<li>HF-SSB radio.</li>\n<li>PA/GA, paging/intercom.</li>\n<li>Tower and pole.</li>\n</ul>",
    "link": null
  },
  {
    "key": "212ef913-f04d-418e-99fd-7335161478d0",
    "name": "ABU DHABI CRUDE OIL PIPELINE (ADCOP) - UAE",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"b6984c67-3aa0-4684-beeb-23eca7919bf2\",\r\n    \"mediaKey\": \"7a53065e-5d79-4bad-a895-5021bfff3e69\"\r\n  }\r\n]",
    "title": "ABU DHABI CRUDE OIL PIPELINE (ADCOP) - UAE",
    "textarea": "<ul>\n<li>Complete telecom infrastructure solution including wireless  communication </li>\n<li>PA/GA, paging/intercom</li>\n<li>LAN/WAN</li>\n<li>PBX/telephony, hotline, DECT</li>\n<li>SCS, OSP</li>\n<li>Network monitoring &amp; management</li>\n<li>Earthing/grounding</li>\n<li>SDH/PDH, OTN</li>\n<li>PTP MW radio</li>\n<li>VHF/UHF land mobile radio, trunked radio</li>\n<li>CCTV</li>\n<li>ACS</li>\n</ul>",
    "link": null
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "776a5a45-b238-4d1a-bec3-3ba6923af88e",
    "name": "STATION DU CHAMP PÉTROLIER BIDA AL QEMZAN- EAU",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"b2d2b892-7481-47f4-a0ad-281068ed8a69\",\r\n    \"mediaKey\": \"52386916-b196-4cdd-b0cd-e98fe23e0890\"\r\n  }\r\n]",
    "title": "STATION DU CHAMP PÉTROLIER BIDA AL QEMZAN- EAU",
    "textarea": "<ul>\n<li>Construction des installations de la station de Bida Al Qemzan, RDS-1 et ligne de transfert 16\" (lot -A)</li>\n<li>SDH/PTN, ODH, PMP haut débit sans fil, radio mobile terrestre VHF/UHF, radio à ressources partagées, CCTV, PA/GA radiomessagerie/Interphone, PBX/téléphonie, ligne directe, DECT, SCS, OSP, UPS, énergie solaire, groupe électrogène, actif/passif, et abri de refroidissement hybride.</li>\n</ul>",
    "link": null
  },
  {
    "key": "bb955f5c-1faf-496a-86c5-3c0affb09a08",
    "name": "DÉVELOPPEMENT DU CHAMP GAZIER DE YOLOTEN SUD- TURKMENISTAN",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"488baf07-23d3-4759-83b1-4b1c728e7d49\",\r\n    \"mediaKey\": \"a2c33a83-2806-4125-ac08-23f928ce099e\"\r\n  }\r\n]",
    "title": " DÉVELOPPEMENT DU CHAMP GAZIER DE YOLOTEN SUD- TURKMENISTAN",
    "textarea": "<ul>\n<li>Conception initiale et études de faisabilité pour des installations destinées à produire 20 BCMA de gaz à la vente.</li>\n<li>PTP MW radio</li>\n<li>Radio mobile terrestre VHF/UHF, radio à ressources partagées</li>\n<li>NDB, aide à la navigation</li>\n<li>Radio HF-SSB</li>\n<li>PA/GA, radiomessagerie/Interphone</li>\n<li>Pylône et poteau</li>\n</ul>",
    "link": null
  },
  {
    "key": "cba849c0-4807-4dfd-b906-7c97737dcac1",
    "name": "OLÉODUC DE PÉTROLE BRUT D'ABU DHABI (ADCOP) - EAU",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"b6984c67-3aa0-4684-beeb-23eca7919bf2\",\r\n    \"mediaKey\": \"7a53065e-5d79-4bad-a895-5021bfff3e69\"\r\n  }\r\n]",
    "title": "OLÉODUC DE PÉTROLE BRUT D'ABU DHABI (ADCOP) - EAU",
    "textarea": "<ul>\n<li>\n<p>Solution complète d'infrastructures de télécommunications, y compris communication sans fil.</p>\n</li>\n<li>\n<p>PA/GA, radiomessagerie/Interphone.</p>\n</li>\n<li>\n<p>LAN / WAN.</p>\n</li>\n<li>\n<p>PBX/Téléphonie, Ligne directe, DECT.</p>\n</li>\n<li>\n<p>SCS, OSP.</p>\n</li>\n<li>\n<p>Surveillance et gestion de réseau.</p>\n</li>\n<li>\n<p>Mise à la terre.</p>\n</li>\n<li>\n<p>SDH/PDH, OTN.</p>\n</li>\n<li>\n<p>PTP MW radio</p>\n</li>\n</ul>",
    "link": null
  }
]]]></Value>
    </imagelist3>
    <label1>
      <Value Culture="en-us"><![CDATA[Projects]]></Value>
      <Value Culture="fr"><![CDATA[Projets]]></Value>
    </label1>
    <label2>
      <Value><![CDATA[]]></Value>
    </label2>
    <label3>
      <Value><![CDATA[]]></Value>
    </label3>
    <list1>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8c4cfc63dfd345839d31b379aa0fb6cc",
        "settingsUdi": "umb://element/f93828b20646441796e6b0ce209c4348"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/8c4cfc63dfd345839d31b379aa0fb6cc",
      "content": "<ul>\n<li>Providing variety of network topology like Point-to-Point “PTP”, Point-to-Multipoint “PMP” and Mesh network</li>\n<li>Create converged network over license-exempted frequency band and license frequency band using Microwave, Broadband license exempted band, VHF/UHF</li>\n</ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/f93828b20646441796e6b0ce209c4348"
    }
  ]
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1f7c9bbcf6f84adf9f45c69a014e79ea",
        "settingsUdi": "umb://element/05f8713c9a304cf09bccd99f75f6361e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/1f7c9bbcf6f84adf9f45c69a014e79ea",
      "content": "<ul>\n<li>\n<p>Fournir une variété de topologies de réseau comme Point-à-Point \"PTP\", Point-à-Multipoint \"PMP\" et réseau en maille.</p>\n</li>\n<li>\n<p>Création de réseaux convergents sur des bandes de fréquences exemptées de licence et des bandes de fréquences sous licence utilisant des micro-ondes, des bandes à large bande exemptées de licence, des VHF/UHF.</p>\n</li>\n</ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/05f8713c9a304cf09bccd99f75f6361e"
    }
  ]
}]]></Value>
    </list1>
    <list2>
      <Value><![CDATA[]]></Value>
    </list2>
    <mainBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "743ba910-0975-4a5f-b694-206391bb5bb3",
    "mediaKey": "8a6ce43a-7231-442f-b05a-786f087a91b5"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "6a62a998-3b33-4530-9e0d-0b29d6cbf0e3",
    "mediaKey": "8a6ce43a-7231-442f-b05a-786f087a91b5"
  }
]]]></Value>
    </mainBanner>
    <paragraph1>
      <Value Culture="en-us"><![CDATA[<p>Wireless communication solutions cover microwave, radio and satellite communications that are utilized in multiple sectors such as petroleum, utility, and telecom where implementing wired connections is not possible due to their distant and isolated environments. Elsewedy Digital builds highly secure and reliable wireless communication networks that improve real time monitoring and operations capabilities.</p>]]></Value>
      <Value Culture="fr"><![CDATA[<p>Les solutions de communication sans fil couvrent les communications micro-ondes, radio et satellite qui sont utilisées dans de nombreux secteurs tels que le pétrole, les services publics et les télécommunications, où la mise en œuvre de connexions câblées n'est pas possible en raison de leurs environnements éloignés et isolés. Elsewedy Digital construit des réseaux de communication sans fil hautement sécurisés et fiables qui améliorent les capacités de surveillance et d'exploitation en temps réel.</p>]]></Value>
    </paragraph1>
    <paragrpagh2>
      <Value><![CDATA[]]></Value>
    </paragrpagh2>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[Microwave, Radio & Satellite Communications]]></Value>
      <Value Culture="fr"><![CDATA[Communications micro-ondes, radio et satellite]]></Value>
    </title>
  </Properties>
</Content>