<?xml version="1.0" encoding="utf-8"?>
<Content Key="59008965-e78b-4c00-b9e4-384e7b552605" Alias="Non-Banking Financial Solutions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NonBankingFinancialSolutions</Path>
    <Trashed>false</Trashed>
    <ContentType>nonBankingFinancialSolutions</ContentType>
    <CreateDate>2022-10-17T20:47:05</CreateDate>
    <NodeName Default="Non-Banking Financial Solutions">
      <Name Culture="en-us">Non-Banking Financial Solutions</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="9a763d53-0864-42d6-8bff-aacea835b186">NonBankingFinancialSolutions</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[<table border="0" width="624">
<tbody>
<tr>
<td width="624">
<p style="text-align: left;"><strong>Elsewedy Digital diverse portfolio of non-banking financial products assists the process automation of investment banking. All solutions are easily integrated with other banking systems.</strong></p>
</td>
</tr>
</tbody>
</table>]]></Value>
    </description>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "01c6c0a4-4748-4257-949e-09615ff075a5",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "1f89b45a-b367-4c31-b793-183b7be59d5e",
    "mediaKey": "c5754c54-b58f-465d-a456-69ff8d6f6981"
  }
]]]></Value>
    </images>
    <rich1>
      <Value Culture="en-us"><![CDATA[<ul>
<li style="text-align: left;"><strong>Microfinance</strong>: An integrated software solution for banks and microfinancing institutions of all sizes.</li>
<li style="text-align: left;"><strong>Mortgage</strong>: A solution that automated the entire cycle of mortgage lending.</li>
<li style="text-align: left;"><strong>Leasing</strong>: end-to-end automation for lease management.</li>
<li style="text-align: left;"><strong>Consumer Finance</strong>: A solution that identifies the eligibility of prospect customers for lending decisions.</li>
<li style="text-align: left;"><strong>Factoring</strong>: A solution that manages and controls the full lifecycle of receivables.</li>
</ul>]]></Value>
    </rich1>
    <rich2>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich2>
    <rich3>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich3>
    <rich4>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich4>
    <richs>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/37f21de55600476eb23f8a396d45b219",
        "settingsUdi": "umb://element/15d9e85579824259ab96a3089402cd18"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/37f21de55600476eb23f8a396d45b219",
      "content": "<table border=\"0\">\n<tbody>\n<tr>\n<td> </td>\n</tr>\n</tbody>\n</table>\n<ul></ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/15d9e85579824259ab96a3089402cd18"
    }
  ]
}]]></Value>
    </richs>
    <strings>
      <Value><![CDATA[]]></Value>
    </strings>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <tblHeader>
      <Value><![CDATA[Main Banner ]]></Value>
    </tblHeader>
    <title>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>