<?xml version="1.0" encoding="utf-8"?>
<Content Key="1480f5e1-c656-4d72-b7cf-7d2f9f7bb1b7" Alias="Non-Banking Financial Solutions" Level="3">
  <Info>
    <Parent Key="4c9d5591-ec2a-4908-ac24-f853f34ec1a7">Financial Solutions</Parent>
    <Path>//FinancialSolutions/NonBankingFinancialSolutions</Path>
    <Trashed>false</Trashed>
    <ContentType>subContent</ContentType>
    <CreateDate>2022-10-23T18:29:36</CreateDate>
    <NodeName Default="Non-Banking Financial Solutions">
      <Name Culture="en-us">Non-Banking Financial Solutions</Name>
      <Name Culture="fr">Non-Banking Financial Solutions</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="ebe2fa1a-5c4f-4309-8b60-9c83f1229fd3">SubContent</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "21bc81a9-cf9a-44f5-a2e5-8eabb15d274b",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "dbfd6690-848a-47c9-9b32-5b435ad5687e",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <imag1>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "a5cdae61-3f39-4bdd-b33a-c5bc20125bc8",
    "mediaKey": "c02ce460-7118-4d48-b1fa-44494d0c6c23"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "fa07994a-b4a5-4ba0-86c0-4548fc39dc82",
    "mediaKey": "c02ce460-7118-4d48-b1fa-44494d0c6c23"
  }
]]]></Value>
    </imag1>
    <imagelist1>
      <Value><![CDATA[]]></Value>
    </imagelist1>
    <imagelist2>
      <Value><![CDATA[]]></Value>
    </imagelist2>
    <imagelist3>
      <Value><![CDATA[]]></Value>
    </imagelist3>
    <label1>
      <Value><![CDATA[]]></Value>
    </label1>
    <label2>
      <Value><![CDATA[]]></Value>
    </label2>
    <label3>
      <Value><![CDATA[]]></Value>
    </label3>
    <list1>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4a331a4443454bdd87d4dd7e61a7ac01",
        "settingsUdi": "umb://element/813cb96e43374aa4803eb6b77c4833ac"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/4a331a4443454bdd87d4dd7e61a7ac01",
      "content": "<ul>\n<li><strong>Microfinance</strong>: An integrated software solution for banks and microfinancing institutions of all sizes.</li>\n<li><strong>Mortgage</strong>: A solution that automated the entire cycle of mortgage lending.</li>\n<li><strong>Leasing</strong>: end-to-end automation for lease management.</li>\n<li><strong>Consumer Finance</strong>: A solution that identifies the eligibility of prospect customers for lending decisions.</li>\n<li><strong>Factoring</strong>: A solution that manages and controls the full lifecycle of receivables.</li>\n</ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/813cb96e43374aa4803eb6b77c4833ac"
    }
  ]
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6f73dae89d3e4fb18ac181e967605ff0",
        "settingsUdi": "umb://element/239ce787b1a84fea8294077c8884d5a8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/6f73dae89d3e4fb18ac181e967605ff0",
      "content": "<ul>\n<li><strong>Microfinance</strong> : Une solution logicielle intégrée pour les banques et les institutions de microfinancement de toutes tailles.</li>\n<li><strong>Hypothèque :</strong> Une solution qui automatise l'ensemble du cycle des prêts hypothécaires.</li>\n<li><strong>Crédit-bail :</strong> automatisation de bout en bout de la gestion des crédits-bails</li>\n<li><strong>Crédit à la consommation :</strong> Une solution qui identifie l'éligibilité des clients potentiels pour les décisions de prêt.</li>\n<li><strong>Affacturage :</strong> Une solution qui gère et contrôle le cycle de vie complet des créances.</li>\n</ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/239ce787b1a84fea8294077c8884d5a8"
    }
  ]
}]]></Value>
    </list1>
    <list2>
      <Value><![CDATA[]]></Value>
    </list2>
    <mainBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "3f407c25-c004-432e-95e4-b4e7ea0fa8ae",
    "mediaKey": "6f6af02f-f15c-4c88-a561-50d7784138d5"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "9231903d-f6d9-471d-bfcf-8455042b599f",
    "mediaKey": "6f6af02f-f15c-4c88-a561-50d7784138d5"
  }
]]]></Value>
    </mainBanner>
    <paragraph1>
      <Value Culture="en-us"><![CDATA[<p>Elsewedy Digital diverse portfolio of non-banking financial products assists the process automation of investment banking. All solutions are easily integrated with other banking systems.</p>]]></Value>
      <Value Culture="fr"><![CDATA[<p>Le portefeuille diversifié de produits financiers non bancaires d’Elsewedy Digital aide à l’automatisation des processus de services bancaires d’investissement. Toutes les solutions font facilement intégrées avec les autres systèmes bancaires.</p>]]></Value>
    </paragraph1>
    <paragrpagh2>
      <Value><![CDATA[]]></Value>
    </paragrpagh2>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[Non-Banking Financial Solutions]]></Value>
      <Value Culture="fr"><![CDATA[Solutions financières non bancaires]]></Value>
    </title>
  </Properties>
</Content>