<?xml version="1.0" encoding="utf-8"?>
<Content Key="7bf37372-437d-4b67-9e6c-89539cb15b22" Alias="PLC and DC" Level="3">
  <Info>
    <Parent Key="a4ca40c8-cf0d-40de-82a2-9cc242542336">Industrial Automation</Parent>
    <Path>//IndustrialAutomation/PLCAndDC</Path>
    <Trashed>false</Trashed>
    <ContentType>subContent</ContentType>
    <CreateDate>2022-10-23T19:03:00</CreateDate>
    <NodeName Default="PLC and DC">
      <Name Culture="en-us">PLC and DC</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="ebe2fa1a-5c4f-4309-8b60-9c83f1229fd3">SubContent</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "eee24c35-6cad-450b-a621-8da1cd35bf5c",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <imag1>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "8494fb97-6466-4c21-a8ea-2ee43e1b5e50",
    "mediaKey": "803eb9b8-2a66-4eed-b645-88fd6a28944e"
  }
]]]></Value>
    </imag1>
    <imagelist1>
      <Value><![CDATA[]]></Value>
    </imagelist1>
    <imagelist2>
      <Value><![CDATA[]]></Value>
    </imagelist2>
    <imagelist3>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "d072d2fc-c531-4bf5-b2e8-12fc5c08409f",
    "name": "ELSEWEDY CABLES FACTORY IIoT",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"5f768358-9bf1-414a-a15a-9794ea54964c\",\r\n    \"mediaKey\": \"f80d6d1c-7d47-41ef-a3a4-89f19640de29\"\r\n  }\r\n]",
    "title": "ELSEWEDY CABLES FACTORY IIoT",
    "textarea": "<ul>\n<li>IIoT (Industrial Internet of Things) connectivity of PLC and integration with corporate ERP</li>\n<li>IIOT connectivity of PLCs for more than 330 units of machinery in three cable plants which will provide real time monitoring, synchronization and proper data storage, and customized dashboards and charts.</li>\n<li>Integration with corporate ERP (ORACLE) to monitor planned work order, and compare with actual work for optimized performance.</li>\n<li>Provision of industrial rugged tablet in front of each machine with user-friendly interface for operators. This will enhance monitoring of machinery and simplify recording and analysis of stoppage instances.</li>\n<li>Analytical reporting dashboard of operational data.</li>\n<li>Main Technology Partner: Clobbi</li>\n</ul>",
    "link": null
  }
]]]></Value>
    </imagelist3>
    <label1>
      <Value><![CDATA[]]></Value>
    </label1>
    <label2>
      <Value><![CDATA[]]></Value>
    </label2>
    <label3>
      <Value><![CDATA[]]></Value>
    </label3>
    <list1>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d387a953c2be46149ca9b107192f0b0b",
        "settingsUdi": "umb://element/e0d3fe2bff7c4ebe9ecdd41456372bd2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/d387a953c2be46149ca9b107192f0b0b",
      "content": "<ul>\n<li>Analysis of processes and requirements.</li>\n<li>Installation supervision and site management.</li>\n<li>Instrument installation and field calibration.</li>\n<li>Pre‐commissioning and commissioning activities.</li>\n<li>Integration</li>\n<li>Device or cloud connectivity</li>\n</ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/e0d3fe2bff7c4ebe9ecdd41456372bd2"
    }
  ]
}]]></Value>
    </list1>
    <list2>
      <Value><![CDATA[]]></Value>
    </list2>
    <mainBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "c9002f19-deed-4035-bb2a-3baaf66b467f",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </mainBanner>
    <paragraph1>
      <Value Culture="en-us"><![CDATA[Programable components used in industrial automation which continuously monitor the state of input devices and make decisions based on custom programs to control output devices.

]]></Value>
    </paragraph1>
    <paragrpagh2>
      <Value><![CDATA[]]></Value>
    </paragrpagh2>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[PLC and DC]]></Value>
    </title>
  </Properties>
</Content>