<?xml version="1.0" encoding="utf-8"?>
<Content Key="155bfeeb-94dc-4934-a9d5-f7108bedaa7e" Alias="PLC and DC" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PLCAndDC</Path>
    <Trashed>false</Trashed>
    <ContentType>pLCAndDC</ContentType>
    <CreateDate>2022-10-17T21:00:51</CreateDate>
    <NodeName Default="PLC and DC">
      <Name Culture="en-us">PLC and DC</Name>
    </NodeName>
    <SortOrder>16</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="6cb122a3-0cf1-4cc6-a778-a69e90649254">PLCAndDC</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[<table border="0" width="1300">
<tbody>
<tr>
<td width="1300">
<p style="text-align: left;"><strong>Programable components used in industrial automation which continuously monitor the state of input devices and make decisions based on custom programs to control output devices.</strong></p>
<p> </p>
</td>
</tr>
</tbody>
</table>]]></Value>
    </description>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "f8617276-e216-45bc-ba8c-470dc457616d",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "8a0a559a-c6e9-4f4b-b95c-23982c45a881",
    "mediaKey": "a0c5e460-3a04-400e-b5b5-3e1fb2c85acb"
  },
  {
    "key": "82df6e05-e9f7-4dcd-905d-d132b2e2a5f5",
    "mediaKey": "5555818a-f5b5-4c1c-85ae-f2f960e0d432"
  }
]]]></Value>
    </images>
    <rich1>
      <Value Culture="en-us"><![CDATA[<ul>
<li style="text-align: left;">Analysis of processes and requirements.</li>
<li style="text-align: left;">Installation supervision and site management.</li>
<li style="text-align: left;">Instrument installation and field calibration.</li>
<li style="text-align: left;">Pre‐commissioning and commissioning activities.</li>
<li style="text-align: left;">Integration Device or cloud connectivity</li>
</ul>]]></Value>
    </rich1>
    <rich2>
      <Value Culture="en-us"><![CDATA[<ul>
<li style="text-align: left;">IIoT (Industrial Internet of Things) connectivity of PLC and integration with corporate ERP</li>
<li style="text-align: left;">IIOT connectivity of PLCs for more than 330 units of machinery in three cable plants which will provide real time monitoring, synchronization and proper data storage, and customized dashboards and charts.</li>
<li style="text-align: left;">Integration with corporate ERP (ORACLE) to monitor planned work order, and compare with actual work for optimized performance.</li>
<li style="text-align: left;">Provision of industrial rugged tablet in front of each machine with user-friendly interface for operators. This will enhance monitoring of machinery and simplify recording and analysis of stoppage instances.</li>
<li style="text-align: left;">Analytical reporting dashboard of operational data.</li>
<li style="text-align: left;">Main Technology Partner: Clobbi</li>
</ul>]]></Value>
    </rich2>
    <rich3>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich3>
    <rich4>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich4>
    <richs>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f2897f28763745caa50855d3acb00d09",
        "settingsUdi": "umb://element/a14e2a07818a4a5e99807456937d55c7"
      },
      {
        "contentUdi": "umb://element/5b5cff7e442244ca8cb1abd981de0145",
        "settingsUdi": "umb://element/5e788114bb334e028f13fd4ce91d6d98"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/f2897f28763745caa50855d3acb00d09",
      "content": "<table border=\"0\">\n<tbody>\n<tr>\n<td> </td>\n</tr>\n</tbody>\n</table>\n<p> </p>"
    },
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/5b5cff7e442244ca8cb1abd981de0145",
      "content": "<table border=\"0\">\n<tbody>\n<tr>\n<td> </td>\n</tr>\n</tbody>\n</table>\n<ul></ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/a14e2a07818a4a5e99807456937d55c7"
    },
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/5e788114bb334e028f13fd4ce91d6d98"
    }
  ]
}]]></Value>
    </richs>
    <strings>
      <Value><![CDATA[Projects
ELSEWEDY CABLES FACTORY IIoT]]></Value>
    </strings>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <tblHeader>
      <Value><![CDATA[Main Banner ]]></Value>
    </tblHeader>
    <title>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>