<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4159ede-ada0-4f56-8a3e-6930a7ca6380" Alias="Process Automation" Level="3">
  <Info>
    <Parent Key="a4ca40c8-cf0d-40de-82a2-9cc242542336">Industrial Automation</Parent>
    <Path>//IndustrialAutomation/ProcessAutomation</Path>
    <Trashed>false</Trashed>
    <ContentType>subContent</ContentType>
    <CreateDate>2022-10-23T18:52:08</CreateDate>
    <NodeName Default="Process Automation">
      <Name Culture="en-us">Process Automation</Name>
      <Name Culture="fr">Process Automation</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="ebe2fa1a-5c4f-4309-8b60-9c83f1229fd3">SubContent</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "8f90517d-a49f-40f2-815c-d283add0e71e",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "221e98f5-3635-4613-a055-206254eeb73d",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <imag1>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "ac492379-2ecb-4bff-9111-08428f829c90",
    "mediaKey": "8ac7f333-13b5-4c6d-9915-0e5a989a6022"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "53fe5285-37b7-4664-9003-41623ceedb44",
    "mediaKey": "8ac7f333-13b5-4c6d-9915-0e5a989a6022"
  }
]]]></Value>
    </imag1>
    <imagelist1>
      <Value><![CDATA[]]></Value>
    </imagelist1>
    <imagelist2>
      <Value><![CDATA[]]></Value>
    </imagelist2>
    <imagelist3>
      <Value><![CDATA[]]></Value>
    </imagelist3>
    <label1>
      <Value><![CDATA[]]></Value>
    </label1>
    <label2>
      <Value><![CDATA[]]></Value>
    </label2>
    <label3>
      <Value><![CDATA[]]></Value>
    </label3>
    <list1>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a9a732c8f94e4b57a2d396d5d6714a1d",
        "settingsUdi": "umb://element/be94bfce1bbc4eb6b1ee58813a6ac704"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/a9a732c8f94e4b57a2d396d5d6714a1d",
      "content": "<ul>\n<li>Design and commissioning of hardware and software components from top automation partners.</li>\n<li>Integration of multiple technologies to ensure the optimum design for automation.</li>\n<li>Testing, support, and maintenance</li>\n</ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/be94bfce1bbc4eb6b1ee58813a6ac704"
    }
  ]
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c8a599295adb46269123eec0e27e4e80",
        "settingsUdi": "umb://element/f7258d1633be4490a04b6a25af642bf4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/c8a599295adb46269123eec0e27e4e80",
      "content": "<ul>\n<li>Conception et mise en service de composants matériels et logiciels provenant des meilleurs partenaires en matière d'automatisation.</li>\n<li>Intégration de plusieurs technologies pour garantir une conception optimale de l'automatisation.</li>\n<li>Test, support et maintenance</li>\n</ul>\n<p> </p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/f7258d1633be4490a04b6a25af642bf4"
    }
  ]
}]]></Value>
    </list1>
    <list2>
      <Value><![CDATA[]]></Value>
    </list2>
    <mainBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "8971b0c4-b345-4506-8c57-3ca5a4309811",
    "mediaKey": "a2d0ca48-b38b-4007-a456-32ffc36f6462"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "b23e6fb3-c8eb-46b3-9302-1d36d81f5914",
    "mediaKey": "a2d0ca48-b38b-4007-a456-32ffc36f6462"
  }
]]]></Value>
    </mainBanner>
    <paragraph1>
      <Value Culture="en-us"><![CDATA[<p>Process automation refers to the use of sensors, actuators, computer technology, and software engineering to automate manufacturing processes.</p>]]></Value>
      <Value Culture="fr"><![CDATA[<p>L'automatisation des processus fait référence à l'utilisation de capteurs, d'actionneurs, de la technologie informatique et du génie logiciel pour automatiser les processus de fabrication.</p>]]></Value>
    </paragraph1>
    <paragrpagh2>
      <Value><![CDATA[]]></Value>
    </paragrpagh2>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[Process Automation]]></Value>
      <Value Culture="fr"><![CDATA[Automatisation des processus]]></Value>
    </title>
  </Properties>
</Content>