<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a492a5f-6289-4403-831a-76a6a71b75c9" Alias="Process Automation" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProcessAutomation</Path>
    <Trashed>false</Trashed>
    <ContentType>processAutomation</ContentType>
    <CreateDate>2022-10-17T20:53:18</CreateDate>
    <NodeName Default="Process Automation">
      <Name Culture="en-us">Process Automation</Name>
    </NodeName>
    <SortOrder>14</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="de15d6a2-6b7c-486a-be41-488e3b578d67">ProcessAutomation</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[<p style="text-align: left;"><strong>Process automation refers to the use of sensors, actuators, computer technology, and software engineering to automate manufacturing processes.</strong></p>]]></Value>
    </description>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "2df30856-7a8c-4f71-b2e6-00894706a3fe",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "8e3f10fa-1131-4c7a-89b6-0921b9c1e168",
    "mediaKey": "05322680-e1b0-40dd-96e3-4bd301157429"
  }
]]]></Value>
    </images>
    <rich1>
      <Value Culture="en-us"><![CDATA[<ul>
<li style="text-align: left;">Design and commissioning of hardware and software components from top automation partners.</li>
<li style="text-align: left;">Integration of multiple technologies to ensure the optimum design for automation.</li>
<li style="text-align: left;">Testing, support, and maintenance</li>
</ul>]]></Value>
    </rich1>
    <rich2>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich2>
    <rich3>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich3>
    <rich4>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich4>
    <richs>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3ed4d877d7cb4213996c60ed6446d105",
        "settingsUdi": "umb://element/9d3fae96cdac4e45b29a51ac02d16343"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/3ed4d877d7cb4213996c60ed6446d105",
      "content": "<table border=\"0\">\n<tbody>\n<tr>\n<td> </td>\n</tr>\n</tbody>\n</table>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/9d3fae96cdac4e45b29a51ac02d16343"
    }
  ]
}]]></Value>
    </richs>
    <strings>
      <Value><![CDATA[]]></Value>
    </strings>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <tblHeader>
      <Value><![CDATA[Main Banner ]]></Value>
    </tblHeader>
    <title>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>