<?xml version="1.0" encoding="utf-8"?>
<Content Key="063a51ca-7dda-4f76-beb2-fe8408d3cfec" Alias="Protection and Control System" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProtectionAndControlSystem</Path>
    <Trashed>false</Trashed>
    <ContentType>protectionAndControlSystem</ContentType>
    <CreateDate>2022-10-17T21:22:32</CreateDate>
    <NodeName Default="Protection and Control System">
      <Name Culture="en-us">Protection and Control System</Name>
    </NodeName>
    <SortOrder>21</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="2380e980-f7df-435d-b003-ea569c7095fc">ProtectionAndControlSystem</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[<table border="0" width="1300">
<tbody>
<tr>
<td width="1300">
<p style="text-align: left;"><strong>Through the utilization of smart controllers, high grade technology and integrated substations, power grids are digitized to offer elevated levels of control and safety.</strong></p>
</td>
</tr>
</tbody>
</table>]]></Value>
    </description>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "9ccc9b21-7e46-4840-aae3-fd288d10128e",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "f85955d6-582d-4f54-887a-6328c059fb9a",
    "mediaKey": "2b196848-cb51-4642-ad2c-bf03fd4acf97"
  }
]]]></Value>
    </images>
    <rich1>
      <Value Culture="en-us"><![CDATA[<table border="0">
<tbody>
<tr>
<td>
<ul>
<li style="text-align: left;">Comprehensive design and implementation cycle.</li>
<li style="text-align: left;">Advanced fault management</li>
<li style="text-align: left;">Time synchronization</li>
<li style="text-align: left;">Support a wide range of inputs, outputs, and communication protocols on electrical assets.</li>
<li style="text-align: left;">Post-event support and predictive diagnosis.</li>
<li style="text-align: left;">24/7 support</li>
</ul>
</td>
</tr>
</tbody>
</table>]]></Value>
    </rich1>
    <rich2>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich2>
    <rich3>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich3>
    <rich4>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich4>
    <richs>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1d0671cba5694a50a856b80cc3c7b6b4",
        "settingsUdi": "umb://element/b21976d469d749ccb61491b7410e0974"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/1d0671cba5694a50a856b80cc3c7b6b4",
      "content": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/b21976d469d749ccb61491b7410e0974"
    }
  ]
}]]></Value>
    </richs>
    <strings>
      <Value><![CDATA[]]></Value>
    </strings>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <tblHeader>
      <Value><![CDATA[Main Banner ]]></Value>
    </tblHeader>
    <title>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>