<?xml version="1.0" encoding="utf-8"?>
<Content Key="128b2591-9fd6-4d0b-ac0c-a387e6e838b1" Alias="Protection and Control System" Level="3">
  <Info>
    <Parent Key="0185b272-7367-4f9a-8a28-caaafe5b3f91">Grid Automation</Parent>
    <Path>//GridAutomation/ProtectionAndControlSystem</Path>
    <Trashed>false</Trashed>
    <ContentType>subContent</ContentType>
    <CreateDate>2022-10-23T19:34:06</CreateDate>
    <NodeName Default="Protection and Control System">
      <Name Culture="en-us">Protection and Control System</Name>
      <Name Culture="fr">Protection and Control System</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="ebe2fa1a-5c4f-4309-8b60-9c83f1229fd3">SubContent</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "571afab3-a4f1-4481-8c5c-93bfe4d2966e",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "d0f71344-7934-4463-98c0-62a2c0ef8f10",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <imag1>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "04603737-6e60-4478-8182-da0b8f38107f",
    "mediaKey": "1f0bc83c-e15f-41a5-8fa4-27fc1c67fd23"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "32d8c73d-7e40-4026-909b-056eda17df12",
    "mediaKey": "1f0bc83c-e15f-41a5-8fa4-27fc1c67fd23"
  }
]]]></Value>
    </imag1>
    <imagelist1>
      <Value><![CDATA[]]></Value>
    </imagelist1>
    <imagelist2>
      <Value><![CDATA[]]></Value>
    </imagelist2>
    <imagelist3>
      <Value><![CDATA[]]></Value>
    </imagelist3>
    <label1>
      <Value><![CDATA[]]></Value>
    </label1>
    <label2>
      <Value><![CDATA[]]></Value>
    </label2>
    <label3>
      <Value><![CDATA[]]></Value>
    </label3>
    <list1>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/aaafbadce4694a7b8fadc2f467304912",
        "settingsUdi": "umb://element/99f56f8e3ff74c05a2cdd267c0bd9d26"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/aaafbadce4694a7b8fadc2f467304912",
      "content": "<ul>\n<li>Comprehensive design and implementation cycle.</li>\n<li>Advanced fault management</li>\n<li>Time synchronization</li>\n<li>Support a wide range of inputs, outputs, and communication protocols on electrical assets.</li>\n<li>Post-event support and predictive diagnosis.</li>\n<li>24/7 support</li>\n</ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/99f56f8e3ff74c05a2cdd267c0bd9d26"
    }
  ]
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/76ee57f2da794963a80815e4f82c4f33",
        "settingsUdi": "umb://element/4ba2103563b24433be49f010aafb8c7a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/76ee57f2da794963a80815e4f82c4f33",
      "content": "<ul>\n<li>Cycle complet de conception et de mise en œuvre.</li>\n<li>Gestion avancée des défaillances</li>\n<li>Synchronisation du temps</li>\n<li>Prise en charge d'un large éventail d'entrées, de sorties et de protocoles de communication sur les équipements électriques.</li>\n<li>Assistance après événement et diagnostic prédictif.</li>\n<li>Prise en charge 24h/24, 7j/7</li>\n</ul>\n<p> </p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/4ba2103563b24433be49f010aafb8c7a"
    }
  ]
}]]></Value>
    </list1>
    <list2>
      <Value><![CDATA[]]></Value>
    </list2>
    <mainBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "19b63ed2-eec9-467f-a7b9-ccc2e940cbca",
    "mediaKey": "3c745431-6794-47e7-ba9e-c30df8e2bb42"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "7c1826dd-3f01-4f40-9251-f4b938f63832",
    "mediaKey": "3c745431-6794-47e7-ba9e-c30df8e2bb42"
  }
]]]></Value>
    </mainBanner>
    <paragraph1>
      <Value Culture="en-us"><![CDATA[<p>Through the utilization of smart controllers, high grade technology and integrated substations, power grids are digitized to offer elevated levels of control and safety.</p>]]></Value>
      <Value Culture="fr"><![CDATA[<p>Grâce à l'utilisation de contrôleurs intelligents, de technologies de haut niveau et de sous-stations intégrées, les réseaux électriques sont numérisés pour offrir des niveaux élevés de contrôle et de sécurité.</p>]]></Value>
    </paragraph1>
    <paragrpagh2>
      <Value><![CDATA[]]></Value>
    </paragrpagh2>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[Protection and Control System]]></Value>
      <Value Culture="fr"><![CDATA[Système de protection et de contrôle]]></Value>
    </title>
  </Properties>
</Content>