<?xml version="1.0" encoding="utf-8"?>
<Content Key="920def53-87e6-4ff5-85b5-53f940a31410" Alias="SCADA" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SCADA</Path>
    <Trashed>false</Trashed>
    <ContentType>sCADA</ContentType>
    <CreateDate>2022-10-17T21:06:28</CreateDate>
    <NodeName Default="SCADA">
      <Name Culture="en-us">SCADA</Name>
    </NodeName>
    <SortOrder>17</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="607ff72f-f874-4d81-93fb-188836bdf84a">SCADA</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[<table border="0" width="624" style="height: 85px;">
<tbody>
<tr style="height: 85px;">
<td width="624" style="height: 85px;">
<p style="text-align: left;"><strong>Supervisory control and data acquisition collecting operation data and relaying it to the supervisory level for proactive control or action then communicated back to controllers.</strong></p>
</td>
</tr>
</tbody>
</table>]]></Value>
    </description>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "9e31af46-b172-4206-8b81-87fc7af81e63",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "a294b176-c6ae-42ea-8e57-8eb6c81d4b01",
    "mediaKey": "e68117ea-e833-4ea6-a8d0-ab37d27f4685"
  },
  {
    "key": "9135e675-38b2-4cc1-9d6c-000cb8b34c60",
    "mediaKey": "51fd8510-e4b4-49ef-af77-4fbc6fb2bdf2"
  },
  {
    "key": "97280d5f-2391-41e7-965e-300fdb724a12",
    "mediaKey": "25e300d9-3118-4b31-8f47-2251b5933d46"
  }
]]]></Value>
    </images>
    <rich1>
      <Value Culture="en-us"><![CDATA[<ul>
<li style="text-align: left;">Analysis of needs and provisioning of suitable system.</li>
<li style="text-align: left;">Customization of features and configuration.</li>
<li style="text-align: left;">Integration with sensors for data acquisition.</li>
<li style="text-align: left;">Networked data communications of collected data with the ability to make communication via wireless networks.</li>
<li style="text-align: left;">HMI for data presentation and control.</li>
<li style="text-align: left;">Security strengthening of SCADA systems.</li>
</ul>]]></Value>
    </rich1>
    <rich2>
      <Value Culture="en-us"><![CDATA[<table border="0">
<tbody>
<tr>
<td>
<ul>
<li style="text-align: left;">Automation of new and upgraded Obour water network.</li>
<li style="text-align: left;">The new water plant should better meet the current demand future expansion for 10 years.</li>
<li style="text-align: left;">Supply, design, installation, and commissioning of instrumentation, SCADA.</li>
<li style="text-align: left;">Project management, documentation, development, and in-house engineering.</li>
<li style="text-align: left;">Start-up and commissioning services on-site with performance testing (FAT &amp; SAT).</li>
</ul>
</td>
</tr>
</tbody>
</table>]]></Value>
    </rich2>
    <rich3>
      <Value Culture="en-us"><![CDATA[<ul>
<li style="text-align: left;">Project includes two new water plants in Luxor Governate, and Assiut Governate with capacity of 17,000 m3/day and 25,000 m3/day.</li>
<li style="text-align: left;">Implemented by USAID IWSS</li>
<li style="text-align: left;">Supply, design, installation, and commissioning of instrumentation, SCADA, and DCS system.</li>
<li style="text-align: left;">Project management, documentation, development, and in-house engineering.</li>
<li style="text-align: left;">Start-up and commissioning services on-site with performance testing (FAT &amp; SAT).</li>
</ul>]]></Value>
    </rich3>
    <rich4>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich4>
    <richs>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bd49faf4591d4c908feb56db9c425e6c",
        "settingsUdi": "umb://element/c6d57197e2cf49fc919c1fdc262c307f"
      },
      {
        "contentUdi": "umb://element/beaa5960f7034c2eb01591d2015c6142",
        "settingsUdi": "umb://element/221c890a7c06419abf7ba8c84ff0cc4c"
      },
      {
        "contentUdi": "umb://element/63c241b1d4e640dfa3e77cc796e41ca7",
        "settingsUdi": "umb://element/4ffdadbf96eb44ed90f517f3774f8068"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/bd49faf4591d4c908feb56db9c425e6c",
      "content": "<table border=\"0\">\n<tbody>\n<tr>\n<td> </td>\n</tr>\n</tbody>\n</table>\n<ul></ul>"
    },
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/beaa5960f7034c2eb01591d2015c6142",
      "content": ""
    },
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/63c241b1d4e640dfa3e77cc796e41ca7",
      "content": "<table border=\"0\">\n<tbody>\n<tr>\n<td> </td>\n</tr>\n</tbody>\n</table>\n<p> </p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/c6d57197e2cf49fc919c1fdc262c307f"
    },
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/221c890a7c06419abf7ba8c84ff0cc4c"
    },
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/4ffdadbf96eb44ed90f517f3774f8068"
    }
  ]
}]]></Value>
    </richs>
    <strings>
      <Value><![CDATA[Projects
OBOUR CITY WATER NETWORK AND PUMP STATIONS
HANADY WATER PLANT ]]></Value>
    </strings>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <tblHeader>
      <Value><![CDATA[Main Banner ]]></Value>
    </tblHeader>
    <title>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>