<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0935d26-6754-492d-bd63-f382809ddb25" Alias="SCADA" Level="3">
  <Info>
    <Parent Key="a4ca40c8-cf0d-40de-82a2-9cc242542336">Industrial Automation</Parent>
    <Path>//IndustrialAutomation/SCADA</Path>
    <Trashed>false</Trashed>
    <ContentType>subContent</ContentType>
    <CreateDate>2022-10-23T19:09:40</CreateDate>
    <NodeName Default="SCADA">
      <Name Culture="en-us">SCADA</Name>
      <Name Culture="fr">SCADA</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="ebe2fa1a-5c4f-4309-8b60-9c83f1229fd3">SubContent</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "f6ca026a-410f-4860-89ad-bd5ca60d7d49",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "c697700e-5609-4472-ba6d-6852c741fbb0",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <imag1>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "a698e7f3-0c01-4cf7-b799-ebd3672206b7",
    "mediaKey": "3d865558-0b2f-4620-984c-a7b071676ee9"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "1aeaf086-279b-4ead-82b9-db56235422fe",
    "mediaKey": "3d865558-0b2f-4620-984c-a7b071676ee9"
  }
]]]></Value>
    </imag1>
    <imagelist1>
      <Value><![CDATA[]]></Value>
    </imagelist1>
    <imagelist2>
      <Value><![CDATA[]]></Value>
    </imagelist2>
    <imagelist3>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "6f875c7f-e53c-487c-8e4d-1d5a7d85ebdb",
    "name": "OBOUR CITY WATER NETWORK AND PUMP STATIONS",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"330dcc69-4a47-418d-b9af-0d26d38f26fa\",\r\n    \"mediaKey\": \"667cf1b5-8f97-482d-aa29-a9659d016587\"\r\n  }\r\n]",
    "title": "OBOUR CITY WATER NETWORK AND PUMP STATIONS",
    "textarea": "<ul>\n<li>Automation of new and upgraded Obour water network.</li>\n<li>The new water plant should better meet the current demand future expansion for 10 years.</li>\n<li>Supply, design, installation, and commissioning of instrumentation, SCADA.</li>\n<li>Project management, documentation, development, and in-house engineering.</li>\n<li>Start-up and commissioning services on-site with performance testing (FAT &amp; SAT).</li>\n</ul>",
    "link": null
  },
  {
    "key": "3bd4aa5f-ad32-41d5-9289-4c5221f2d3cc",
    "name": "HANADY WATER PLANT",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"2073869b-ad0f-4969-aa8a-f20f8ede09b6\",\r\n    \"mediaKey\": \"4143ec00-97c2-494c-8984-34e8d393ca3a\"\r\n  }\r\n]",
    "title": "HANADY WATER PLANT ",
    "textarea": "<ul>\n<li>Project includes two new water plants in Luxor Governate, and Assiut Governate with capacity of 17,000 m3/day and 25,000 m3/day.</li>\n<li>Implemented by USAID IWSS</li>\n<li>Supply, design, installation, and commissioning of instrumentation, SCADA, and DCS system. </li>\n<li>Project management, documentation, development, and in-house engineering.</li>\n<li>Start-up and commissioning services on-site with performance testing (FAT &amp; SAT).</li>\n</ul>",
    "link": null
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "1b3e47dd-e825-4b76-ad4a-cfbb4d1c9350",
    "name": "RÉSEAU D'EAU ET STATIONS DE POMPAGE DE LA VILLE D'OBOUR",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"330dcc69-4a47-418d-b9af-0d26d38f26fa\",\r\n    \"mediaKey\": \"667cf1b5-8f97-482d-aa29-a9659d016587\"\r\n  }\r\n]",
    "title": "RÉSEAU D'EAU ET STATIONS DE POMPAGE DE LA VILLE D'OBOUR",
    "textarea": "<ul>\n<li>Automatisation du nouveau réseau d'eau d'Obour et de sa modernisation</li>\n<li>La nouvelle station d'eau devrait mieux répondre à la demande actuelle et à l'expansion future pendant 10 ans.</li>\n<li>Fourniture, conception, installation et mise en service de l'instrumentation, SCADA.</li>\n<li>Gestion de projet, documentation, développement et ingénierie interne.</li>\n<li>Services de démarrage et de mise en service sur site avec tests de performance (FAT &amp; SAT).</li>\n</ul>",
    "link": null
  },
  {
    "key": "63e39846-9d54-40b9-a0e2-0b553877f716",
    "name": "STATION D'EAU DE HANADY",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"2073869b-ad0f-4969-aa8a-f20f8ede09b6\",\r\n    \"mediaKey\": \"4143ec00-97c2-494c-8984-34e8d393ca3a\"\r\n  }\r\n]",
    "title": "STATION D'EAU DE HANADY ",
    "textarea": "<ul>\n<li>Le projet comprend deux nouvelles usines d'eau dans le Gouvernorat de Louxor et le Gouvernorat d'Assiout avec une capacité de 17.000 m3/jour et 25.000 m3/jour.</li>\n<li> Mis en œuvre par USAID IWSS</li>\n<li> La fourniture, la conception, l'installation et la mise en service de l'instrumentation, du système SCADA et du système DCS. </li>\n<li>•Gestion de projet, documentation, développement et ingénierie interne.</li>\n<li>Services de démarrage et de mise en service sur site avec tests de performance (FAT &amp; SAT).</li>\n</ul>",
    "link": null
  }
]]]></Value>
    </imagelist3>
    <label1>
      <Value Culture="en-us"><![CDATA[Projects]]></Value>
      <Value Culture="fr"><![CDATA[Projets]]></Value>
    </label1>
    <label2>
      <Value><![CDATA[]]></Value>
    </label2>
    <label3>
      <Value><![CDATA[]]></Value>
    </label3>
    <list1>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/deca3c167e314e58a6c09744c76228fb",
        "settingsUdi": "umb://element/30ab363ee9eb48d99190d3b877a9488a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/deca3c167e314e58a6c09744c76228fb",
      "content": "<ul>\n<li>Analysis of needs and provisioning of suitable system.</li>\n<li>Customization of features and configuration.</li>\n<li>Integration with sensors for data acquisition.</li>\n<li>Networked data communications of collected data with the ability to make communication via wireless networks.</li>\n<li>HMI for data presentation and control.</li>\n<li>Security strengthening of SCADA systems.</li>\n</ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/30ab363ee9eb48d99190d3b877a9488a"
    }
  ]
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9beca3f04db048bab34851ef4a2a0854",
        "settingsUdi": "umb://element/a49475587ec24b20b2f445bed4bb2c1a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/9beca3f04db048bab34851ef4a2a0854",
      "content": "<ul>\n<li>Analyse des besoins et fourniture d'un système adapté.</li>\n<li>Personnalisation des fonctionnalités et de la configuration.</li>\n<li>Intégration avec des capteurs pour l'acquisition de données.</li>\n<li>Communication en réseau des données collectées avec la possibilité de communiquer via des réseaux sans fil.</li>\n<li>HMI pour la présentation et le contrôle des données.</li>\n<li>Renforcement de la sécurité des systèmes SCADA.</li>\n</ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/a49475587ec24b20b2f445bed4bb2c1a"
    }
  ]
}]]></Value>
    </list1>
    <list2>
      <Value><![CDATA[]]></Value>
    </list2>
    <mainBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "fefb2111-a5db-400d-b15b-caeeef7d10b6",
    "mediaKey": "4233f329-a2bd-435c-96b8-f3de0bb47132"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "e44dc00d-5b07-4c20-8a65-0352c7ce6200",
    "mediaKey": "4233f329-a2bd-435c-96b8-f3de0bb47132"
  }
]]]></Value>
    </mainBanner>
    <paragraph1>
      <Value Culture="en-us"><![CDATA[<p>Supervisory control and data acquisition collecting operation data and relaying it to the supervisory level for proactive control or action then communicated back to controllers.</p>]]></Value>
      <Value Culture="fr"><![CDATA[<p>Contrôle de surveillance et acquisition de données, collectant les données d'exploitation et les transmettant au niveau de supervision pour un contrôle proactif ou une action puis les communiquant en retour aux contrôleurs.</p>]]></Value>
    </paragraph1>
    <paragrpagh2>
      <Value><![CDATA[]]></Value>
    </paragrpagh2>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[SCADA]]></Value>
      <Value Culture="fr"><![CDATA[SCADA]]></Value>
    </title>
  </Properties>
</Content>