<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0935d26-6754-492d-bd63-f382809ddb25" Alias="SCADA" Level="3">
  <Info>
    <Parent Key="a4ca40c8-cf0d-40de-82a2-9cc242542336">Industrial Automation</Parent>
    <Path>//IndustrialAutomation/SCADA</Path>
    <Trashed>false</Trashed>
    <ContentType>subContent</ContentType>
    <CreateDate>2022-10-23T19:09:40</CreateDate>
    <NodeName Default="SCADA">
      <Name Culture="en-us">SCADA</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="ebe2fa1a-5c4f-4309-8b60-9c83f1229fd3">SubContent</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "f6ca026a-410f-4860-89ad-bd5ca60d7d49",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <imag1>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "a698e7f3-0c01-4cf7-b799-ebd3672206b7",
    "mediaKey": "3d865558-0b2f-4620-984c-a7b071676ee9"
  }
]]]></Value>
    </imag1>
    <imagelist1>
      <Value><![CDATA[]]></Value>
    </imagelist1>
    <imagelist2>
      <Value><![CDATA[]]></Value>
    </imagelist2>
    <imagelist3>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "6f875c7f-e53c-487c-8e4d-1d5a7d85ebdb",
    "name": "OBOUR CITY WATER NETWORK AND PUMP STATIONS",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"31f253bb-e1cf-4523-89f1-b3b842cfcd3d\",\r\n    \"mediaKey\": \"ddd434f0-2e81-42d1-b139-4326463779db\"\r\n  }\r\n]",
    "title": "OBOUR CITY WATER NETWORK AND PUMP STATIONS",
    "textarea": "<ul>\n<li>Automation of new and upgraded Obour water network.</li>\n<li>The new water plant should better meet the current demand future expansion for 10 years.</li>\n<li>Supply, design, installation, and commissioning of instrumentation, SCADA.</li>\n<li>Project management, documentation, development, and in-house engineering.</li>\n<li>Start-up and commissioning services on-site with performance testing (FAT &amp; SAT).</li>\n</ul>",
    "link": null
  },
  {
    "key": "3bd4aa5f-ad32-41d5-9289-4c5221f2d3cc",
    "name": "HANADY WATER PLANT",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"ee00ae77-6455-4b9f-8cc5-aca1a147f8cb\",\r\n    \"mediaKey\": \"f1ce0921-b234-4340-8d52-e3553ff7eef7\"\r\n  }\r\n]",
    "title": "HANADY WATER PLANT ",
    "textarea": "<ul>\n<li>Project includes two new water plants in Luxor Governate, and Assiut Governate with capacity of 17,000 m3/day and 25,000 m3/day.</li>\n<li>Implemented by USAID IWSS</li>\n<li>Supply, design, installation, and commissioning of instrumentation, SCADA, and DCS system. </li>\n<li>Project management, documentation, development, and in-house engineering.</li>\n<li>Start-up and commissioning services on-site with performance testing (FAT &amp; SAT).</li>\n</ul>",
    "link": null
  }
]]]></Value>
    </imagelist3>
    <label1>
      <Value Culture="en-us"><![CDATA[Projects]]></Value>
    </label1>
    <label2>
      <Value><![CDATA[]]></Value>
    </label2>
    <label3>
      <Value><![CDATA[]]></Value>
    </label3>
    <list1>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/deca3c167e314e58a6c09744c76228fb",
        "settingsUdi": "umb://element/30ab363ee9eb48d99190d3b877a9488a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/deca3c167e314e58a6c09744c76228fb",
      "content": "<ul>\n<li>Analysis of needs and provisioning of suitable system.</li>\n<li>Customization of features and configuration.</li>\n<li>Integration with sensors for data acquisition.</li>\n<li>Networked data communications of collected data with the ability to make communication via wireless networks.</li>\n<li>HMI for data presentation and control.</li>\n<li>Security strengthening of SCADA systems.</li>\n</ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/30ab363ee9eb48d99190d3b877a9488a"
    }
  ]
}]]></Value>
    </list1>
    <list2>
      <Value><![CDATA[]]></Value>
    </list2>
    <mainBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "337480ce-5d45-45ca-828a-4027f6b297b6",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </mainBanner>
    <paragraph1>
      <Value Culture="en-us"><![CDATA[Supervisory control and data acquisition collecting operation data and relaying it to the supervisory level for proactive control or action then communicated back to controllers.]]></Value>
    </paragraph1>
    <paragrpagh2>
      <Value><![CDATA[]]></Value>
    </paragrpagh2>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[SCADA]]></Value>
    </title>
  </Properties>
</Content>