<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea40ce06-e34d-454c-893a-23f1a6dc7354" Alias="Software solutions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SoftwareSolutions</Path>
    <Trashed>false</Trashed>
    <ContentType>softwareSolutions</ContentType>
    <CreateDate>2022-10-17T18:41:03</CreateDate>
    <NodeName Default="Software solutions">
      <Name Culture="en-us">Software solutions</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="35dd5e43-6c91-4d4d-a378-160021984672">SoftwareSolutions</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[<p> </p>
<table border="0" width="1300" style="float: left;">
<tbody>
<tr>
<td width="1300">
<p style="text-align: left;"><strong>Elsewedy Digital complements its infrastructure solutions with pivotal software solutions which magnify the business value of your IT investment. Over the past period, we have built specialties in multiple sectors with a special focus on financial and governmental sectors. It offers a plethora of software solutions that improves operational efficiency, enterprise collaboration, decision making, and reduces costs. With a rich network of partners, Elsewedy Digital offers the optimal solution for every enterprise challenge with no bias toward specific technologies. Their experience with complex government digitization projects has helped build invaluable deep domain knowledge and technology expertise.</strong></p>
</td>
</tr>
</tbody>
</table>
<p> </p>]]></Value>
    </description>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "640da113-6581-4b88-bd81-bd7982913036",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "4dced0f0-6e86-4da3-9d02-190247456175",
    "mediaKey": "9a117e28-dbc2-47bd-9a77-96abdb039040"
  },
  {
    "key": "6e2dc19b-72c6-4384-8b22-c78325c3b20b",
    "mediaKey": "f3327e22-8b7a-4437-87b4-4e3670139572"
  },
  {
    "key": "2b489c79-1b49-4548-92cb-92b587944a20",
    "mediaKey": "68c57f2b-c0db-4c53-843b-1642b95d666d"
  },
  {
    "key": "e6f6bc12-dd17-4d71-b3d2-8f1b44c34098",
    "mediaKey": "b8f8a263-6806-478b-a532-a1f8b095bbe7"
  },
  {
    "key": "5fe8a254-0dd5-4572-9b24-92aa63afcae7",
    "mediaKey": "cc702b80-4aa4-4435-9b07-dd1835d927cc"
  },
  {
    "key": "819591ab-7521-4b17-a025-d3ed65afa201",
    "mediaKey": "af2bd486-f9f8-4683-a869-42d4caa92b95"
  }
]]]></Value>
    </images>
    <rich1>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich1>
    <rich2>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich2>
    <rich3>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich3>
    <rich4>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </rich4>
    <richs>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </richs>
    <strings>
      <Value><![CDATA[Sub-Solutions
Digital Government Solutions (G2G/ G2B/ G2C)
GIS (Geographical Information System)
Custom Software Application
Partners in Success]]></Value>
    </strings>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <tblHeader>
      <Value><![CDATA[Main Banner ]]></Value>
    </tblHeader>
    <title>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>