<?xml version="1.0" encoding="utf-8"?>
<Content Key="e511e3cd-695f-427a-860b-1620ccf28159" Alias="Storage Infrastructure" Level="3">
  <Info>
    <Parent Key="63cf6a18-75d6-4bb7-bcde-49d0a1347a95">ICT Infrastructure</Parent>
    <Path>//ICTInfrastructure/StorageInfrastructure</Path>
    <Trashed>false</Trashed>
    <ContentType>subContent</ContentType>
    <CreateDate>2022-10-21T02:54:00</CreateDate>
    <NodeName Default="Storage Infrastructure">
      <Name Culture="en-us">Storage Infrastructure</Name>
      <Name Culture="fr">Storage Infrastructure</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="ebe2fa1a-5c4f-4309-8b60-9c83f1229fd3">SubContent</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "5d27e129-f3d7-4895-a76a-3388a0cd57e0",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "cdcc59c8-f634-40cf-ab47-5ff0974038c5",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <imag1>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "2d678248-80a6-41e3-af01-2b2ad08dcecb",
    "mediaKey": "8199ca7c-81d3-4db6-90b6-3e1a98c32ff1"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "f1c2fb14-5d67-4dc9-a4f2-47cd4e58ba9e",
    "mediaKey": "8199ca7c-81d3-4db6-90b6-3e1a98c32ff1"
  }
]]]></Value>
    </imag1>
    <imagelist1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </imagelist1>
    <imagelist2>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </imagelist2>
    <imagelist3>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </imagelist3>
    <label1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </label1>
    <label2>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </label2>
    <label3>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </label3>
    <list1>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/159a86a8740f4c2d86c67777dcb5d190",
        "settingsUdi": "umb://element/695454da36bb4a0388f730b4705c5db8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/159a86a8740f4c2d86c67777dcb5d190",
      "content": "<ul>\n<li>End-to-end design, and provisioning.</li>\n<li>Installation, testing, and commissioning.</li>\n<li>Integration with existing infrastructure.</li>\n<li>Disaster recovery plan.</li>\n</ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/695454da36bb4a0388f730b4705c5db8"
    }
  ]
}]]></Value>
      <Value Culture="fr"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6c6b8435de6342aebf062c6185ae7701",
        "settingsUdi": "umb://element/638bae3117c04ae18c078a6949108b24"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/6c6b8435de6342aebf062c6185ae7701",
      "content": "<p> </p>\n<ul>\n<li>Conception de bout en bout, et approvisionnement.</li>\n<li> Installation, tests et mise en service.</li>\n<li>  Intégration aux infrastructures existantes.</li>\n<li> Plan de reprise après catastrophe.</li>\n</ul>\n<p> </p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/638bae3117c04ae18c078a6949108b24"
    }
  ]
}]]></Value>
    </list1>
    <list2>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </list2>
    <mainBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "fd18f8cb-0c88-4e54-87e5-21a39f0b359b",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "f2f0bda2-992d-43d3-bcc1-77888baaadd6",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </mainBanner>
    <paragraph1>
      <Value Culture="en-us"><![CDATA[<p>Complete end-to-end design and provisioning of storage infrastructure solutions that includes the software component, servers, storage systems, and storage area networks. We follow best practices and standards for optimized resource utilization and maximized reliability. Elsewedy Digital also integrates with existing infrastructure and complements solutions with a disaster recovery plan.</p>]]></Value>
      <Value Culture="fr"><![CDATA[<p>Conception complète de bout en bout et mise en place de solutions d'infrastructures de stockage qui comprennent le composant logiciel, les serveurs, les systèmes de stockage et les réseaux de stockage. Nous suivons les meilleures pratiques et les normes pour optimiser l'utilisation des ressources et maximiser la fiabilité. Elsewedy Digital s’intègre également aux infrastructures existantes et complète les solutions par un plan de reprise après sinistre.</p>]]></Value>
    </paragraph1>
    <paragrpagh2>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </paragrpagh2>
    <subtitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="fr"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[Storage Infrastructure]]></Value>
      <Value Culture="fr"><![CDATA[Infrastructures de stockage]]></Value>
    </title>
  </Properties>
</Content>