<?xml version="1.0" encoding="utf-8"?>
<Content Key="d164fcc4-ba4f-438e-9e13-f57204c7a430" Alias="Substation and Grid Automation" Level="3">
  <Info>
    <Parent Key="0185b272-7367-4f9a-8a28-caaafe5b3f91">Grid Automation</Parent>
    <Path>//GridAutomation/SubstationAndGridAutomation</Path>
    <Trashed>false</Trashed>
    <ContentType>subContent</ContentType>
    <CreateDate>2022-10-23T19:31:25</CreateDate>
    <NodeName Default="Substation and Grid Automation">
      <Name Culture="en-us">Substation and Grid Automation</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="ebe2fa1a-5c4f-4309-8b60-9c83f1229fd3">SubContent</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "c0e09898-924a-4ba3-8ae5-14e98281c2c8",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <imag1>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "65bdafb0-16ae-491d-9dfb-aea4be15f307",
    "mediaKey": "5ce48567-f4f9-4e87-b450-9531178b266c"
  }
]]]></Value>
    </imag1>
    <imagelist1>
      <Value><![CDATA[]]></Value>
    </imagelist1>
    <imagelist2>
      <Value><![CDATA[]]></Value>
    </imagelist2>
    <imagelist3>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "e2d2882f-9390-48d2-850b-662fd4f36365",
    "name": "PORT SAID WEST 220KV SUBSTATION - EGYPT",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"416dfed1-02aa-4a7c-9a9e-3f3b8aa07e22\",\r\n    \"mediaKey\": \"f10e8804-387a-4c31-b35b-1dcdc09dd3fa\"\r\n  }\r\n]",
    "title": "PORT SAID WEST 220KV SUBSTATION - EGYPT",
    "textarea": "<ul>\n<li>Providing a turnkey solution for a substation automation system for Port Said East 220KV S/S</li>\n<li>The solution includes control, protection, measuring, metering, and substation automation system for twelve 220KV feeders, twelve 66KV feeder, four 22KV sections.</li>\n</ul>",
    "link": null
  },
  {
    "key": "8213f2c6-86fc-4e72-ac33-aae3ab71b969",
    "name": "DEWA 400/132KV SUBSTATION AT HORSE RACECOURSE - UAE",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"98eb90c0-bef3-4076-8a04-3062720ee16d\",\r\n    \"mediaKey\": \"58416315-a8a8-4a87-a354-65d5b9725967\"\r\n  }\r\n]",
    "title": "DEWA 400/132KV SUBSTATION AT HORSE RACECOURSE - UAE",
    "textarea": "<ul>\n<li>Project valued at $300,000</li>\n<li>The project aims to enhance the capacity of DEWA's grids of power transmission to the horse racecourse in Jebel Ali.</li>\n<li>Connected to a pair of similar stations nearby at Al Barsha and The Greens.</li>\n</ul>",
    "link": null
  }
]]]></Value>
    </imagelist3>
    <label1>
      <Value Culture="en-us"><![CDATA[Projects]]></Value>
    </label1>
    <label2>
      <Value><![CDATA[]]></Value>
    </label2>
    <label3>
      <Value><![CDATA[]]></Value>
    </label3>
    <list1>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ed920ad35a514b6fbe85ba2596062c7c",
        "settingsUdi": "umb://element/a969e567387a437bbc465fad406626cd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/ed920ad35a514b6fbe85ba2596062c7c",
      "content": "<ul>\n<li>Interactive on-site visualizations for quick check of plant status</li>\n<li>Easy link to external measuring equipment</li>\n<li>Connection of substation control and field devices to various control center with flexibility and customization features</li>\n<li>Strong substation cyber security standards</li>\n</ul>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/a969e567387a437bbc465fad406626cd"
    }
  ]
}]]></Value>
    </list1>
    <list2>
      <Value><![CDATA[]]></Value>
    </list2>
    <mainBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "a18e2066-2638-4e1c-b1af-7f30ba82d136",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </mainBanner>
    <paragraph1>
      <Value Culture="en-us"><![CDATA[Substation automation uses data collected from intelligent electronic devices, and controls from remote users to control power-system devices.]]></Value>
    </paragraph1>
    <paragrpagh2>
      <Value><![CDATA[]]></Value>
    </paragrpagh2>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[Substation and Grid Automation]]></Value>
    </title>
  </Properties>
</Content>