<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c5bf6ef-b6e9-4bde-af8e-367e4a77a0bc" Alias="Telecom Infrastructure" Level="2">
  <Info>
    <Parent Key="e2485701-bfec-4158-9bb1-77ac8a3ba706">الصفحة الرئيسية</Parent>
    <Path>//TelecomInfrastructure</Path>
    <Trashed>false</Trashed>
    <ContentType>telecomInfrastructure</ContentType>
    <CreateDate>2022-10-17T20:16:04</CreateDate>
    <NodeName Default="Telecom Infrastructure">
      <Name Culture="en-us">Telecom Infrastructure</Name>
      <Name Culture="fr">Telecom Infrastructure</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="e219791c-5dd0-44c8-8ecf-a647727c2867">TelecomInfrastructure</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "5b75a6b8-0f95-4029-970b-ea37107a95cc",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "3ccebdcc-f2fb-4664-a3c8-cb70156c575a",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <imag1>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
      <Value Culture="fr"><![CDATA[[]]]></Value>
    </imag1>
    <imagelist1>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "fe1083f0-9484-4fcb-8436-bac9319f745b",
    "name": "Backbone and Last Mile & Fiber Networks (FTTx)",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"2392f07a-2337-4eac-876c-f3aaa0132487\",\r\n    \"mediaKey\": \"96262d30-43a8-4de9-b2a4-b349d9f8cbc2\"\r\n  }\r\n]",
    "title": "Backbone and Last Mile & Fiber Networks (FTTx)",
    "link": "[{\"name\":\"Backbone and Last Mile & Fiber Networks (FTTx)\",\"udi\":\"umb://document/b427d9ac41aa44dfb85c08e117ffcc8d\"}]"
  },
  {
    "key": "27321b33-fe55-4661-a7d7-d6fcda2e5e28",
    "name": "GSM Network Rollout",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"75d56ebf-7d3d-4199-920c-ceb413ee06af\",\r\n    \"mediaKey\": \"abbf031a-3914-4b83-91b2-c09f68bce178\"\r\n  }\r\n]",
    "title": "GSM Network Rollout",
    "link": "[{\"name\":\"GSM Network Rollout\",\"udi\":\"umb://document/5f9800787b4741928180d3ee9b7af84c\"}]"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "e6a6bf73-7cc6-4c26-aced-83c8b99189be",
    "name": "Réseaux fédérateurs, réseaux du dernier kilomètre et réseaux de fibre optique (FTTx)",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"2392f07a-2337-4eac-876c-f3aaa0132487\",\r\n    \"mediaKey\": \"96262d30-43a8-4de9-b2a4-b349d9f8cbc2\"\r\n  }\r\n]",
    "title": "Réseaux fédérateurs, réseaux du dernier kilomètre et réseaux de fibre optique (FTTx)",
    "link": "[{\"name\":\"Backbone and Last Mile & Fiber Networks (FTTx)\",\"udi\":\"umb://document/b427d9ac41aa44dfb85c08e117ffcc8d\"}]"
  },
  {
    "key": "4646791f-68bf-4a60-a9bf-42530b2c1b16",
    "name": "Déploiement de réseaux GSM",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"75d56ebf-7d3d-4199-920c-ceb413ee06af\",\r\n    \"mediaKey\": \"abbf031a-3914-4b83-91b2-c09f68bce178\"\r\n  }\r\n]",
    "title": "Déploiement de réseaux GSM",
    "link": "[{\"name\":\"GSM Network Rollout\",\"udi\":\"umb://document/5f9800787b4741928180d3ee9b7af84c\"}]"
  }
]]]></Value>
    </imagelist1>
    <imagelist2>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "5a13a20b-70ea-4e55-9e78-4197ee20e0e3",
    "name": "Panduit",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"5e0664cc-14a9-4529-afa2-273674a463bf\",\r\n    \"mediaKey\": \"8fd13c24-2683-453c-a97b-22f4a64ab6bc\"\r\n  }\r\n]",
    "title": "Panduit",
    "link": null
  },
  {
    "key": "0ff102c9-8363-4ea5-9095-1c1984e6b462",
    "name": "comoscope",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"5743cf53-c765-4ded-969a-46f852bdcb6e\",\r\n    \"mediaKey\": \"90dd0e97-21d7-44dc-b3bb-8df0858d8759\"\r\n  }\r\n]",
    "title": "comoscope",
    "link": null
  },
  {
    "key": "3df7a93e-87be-4278-9d52-80dc4dd0e259",
    "name": "R&M",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"2e0e8fc6-9561-4995-8e11-e1b093c30d61\",\r\n    \"mediaKey\": \"a3fcf4f2-ca54-4544-9e9c-90a148189e0a\"\r\n  }\r\n]",
    "title": "R&M",
    "link": null
  },
  {
    "key": "4c69641f-2596-40e9-a996-05bf8847366d",
    "name": "FOLAN",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"4496c4ce-f8c8-4704-bcea-fdf04d63c6ac\",\r\n    \"mediaKey\": \"4a69484b-0ca8-4a86-9170-588280222553\"\r\n  }\r\n]",
    "title": "FOLAN",
    "link": null
  },
  {
    "key": "cb444ccf-641e-4c5a-9183-9faa594e33af",
    "name": "CORNING",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"e6ce21a6-7369-4e37-8709-2a44186c9ec8\",\r\n    \"mediaKey\": \"3eba1e29-306e-4b94-8340-cd8374ba9f41\"\r\n  }\r\n]",
    "title": "CORNING",
    "link": null
  },
  {
    "key": "293caecd-a220-4b26-a89e-4dfadfeab8da",
    "name": "ELSEWEDY CABLES",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"f62ba4b0-2ee8-4a8f-ab1f-4f0bfda991a9\",\r\n    \"mediaKey\": \"d66da55f-4ca7-4f54-a075-88965dc0c909\"\r\n  }\r\n]",
    "title": "ELSEWEDY CABLES",
    "link": null
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "19da1ef5-25e5-46c6-b758-dd24c794edb5",
    "name": "Panduit",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"5e0664cc-14a9-4529-afa2-273674a463bf\",\r\n    \"mediaKey\": \"8fd13c24-2683-453c-a97b-22f4a64ab6bc\"\r\n  }\r\n]",
    "title": "Panduit",
    "link": null
  },
  {
    "key": "c6a66129-03af-4e97-b816-b667eceb5d28",
    "name": "comoscope",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"5743cf53-c765-4ded-969a-46f852bdcb6e\",\r\n    \"mediaKey\": \"90dd0e97-21d7-44dc-b3bb-8df0858d8759\"\r\n  }\r\n]",
    "title": "comoscope",
    "link": null
  },
  {
    "key": "fdbeb17f-a48b-469a-b0b1-0cedaf5839ca",
    "name": "R&M",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"2e0e8fc6-9561-4995-8e11-e1b093c30d61\",\r\n    \"mediaKey\": \"a3fcf4f2-ca54-4544-9e9c-90a148189e0a\"\r\n  }\r\n]",
    "title": "R&M",
    "link": null
  },
  {
    "key": "b5bdcddc-665c-4c7c-85d8-35791e1c4d07",
    "name": "FOLAN",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"4496c4ce-f8c8-4704-bcea-fdf04d63c6ac\",\r\n    \"mediaKey\": \"4a69484b-0ca8-4a86-9170-588280222553\"\r\n  }\r\n]",
    "title": "FOLAN",
    "link": null
  },
  {
    "key": "6db82538-2ade-45cf-b22d-40a0c59721e0",
    "name": "CORNING",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"e6ce21a6-7369-4e37-8709-2a44186c9ec8\",\r\n    \"mediaKey\": \"3eba1e29-306e-4b94-8340-cd8374ba9f41\"\r\n  }\r\n]",
    "title": "CORNING",
    "link": null
  },
  {
    "key": "f18f229b-3ee2-4fef-9323-b6f8bb9c847c",
    "name": "ELSEWEDY CABLES",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"f62ba4b0-2ee8-4a8f-ab1f-4f0bfda991a9\",\r\n    \"mediaKey\": \"d66da55f-4ca7-4f54-a075-88965dc0c909\"\r\n  }\r\n]",
    "title": "ELSEWEDY CABLES",
    "link": null
  }
]]]></Value>
    </imagelist2>
    <imagelist3>
      <Value><![CDATA[]]></Value>
    </imagelist3>
    <label1>
      <Value Culture="en-us"><![CDATA[Sub-Solutions]]></Value>
      <Value Culture="fr"><![CDATA[Solutions secondaires]]></Value>
    </label1>
    <label2>
      <Value Culture="en-us"><![CDATA[Partners in Success]]></Value>
      <Value Culture="fr"><![CDATA[Partenaires dans la réussite]]></Value>
    </label2>
    <label3>
      <Value Culture="en-us"><![CDATA[Find Out More]]></Value>
      <Value Culture="fr"><![CDATA[En savoir plus]]></Value>
    </label3>
    <list1>
      <Value><![CDATA[]]></Value>
    </list1>
    <list2>
      <Value><![CDATA[]]></Value>
    </list2>
    <mainBanner>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "043f5c14-0de7-4c16-ab62-e4d84658781e",
    "mediaKey": "b096c856-579d-4cd7-8258-1e684166e468"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "16d9950c-9ae7-412e-a45e-ce21fe025a65",
    "mediaKey": "b096c856-579d-4cd7-8258-1e684166e468"
  }
]]]></Value>
    </mainBanner>
    <paragraph1>
      <Value Culture="en-us"><![CDATA[<p>Our Telecom Infrastructure solutions provides end-to-end telecom infrastructure deployment, maintenance, and enhancement solutions for carriers, governments, and enterprises throughout the Middle East and Africa. We deliver end-to-end communication technologies to support the network needs of today and tomorrow. All cabling used in our projects are produced by Elsewedy Electric, guaranteeing high-speed communications, advanced security, and credible reliability.</p>]]></Value>
      <Value Culture="fr"><![CDATA[<p>Nos solutions d'infrastructures de télécommunications fournissent des solutions de déploiement, de maintenance et d'amélioration des infrastructures de télécommunications de bout en bout pour les opérateurs, les gouvernements et les entreprises du Moyen-Orient et d'Afrique. Nous fournissons des technologies de communication de bout en bout pour répondre aux besoins des réseaux d'aujourd'hui et de demain. Tous les câblages utilisés dans nos projets sont produits par Elsewedy Electric, garantissent des communications à haut débit, une sécurité avancée et une fiabilité crédible.</p>]]></Value>
    </paragraph1>
    <paragrpagh2>
      <Value><![CDATA[]]></Value>
    </paragrpagh2>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[Telecom Infrastructure]]></Value>
      <Value Culture="fr"><![CDATA[Infrastructures de télécommunications]]></Value>
    </title>
  </Properties>
</Content>