<?xml version="1.0" encoding="utf-8"?>
<Content Key="5fa31ed9-3b9a-448a-bcdd-4b1eb188d8cb" Alias="السويدى للكنولوجيا" Level="2">
  <Info>
    <Parent Key="e2485701-bfec-4158-9bb1-77ac8a3ba706">الصفحة الرئيسية</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>subhome</ContentType>
    <CreateDate>2022-10-17T02:38:26</CreateDate>
    <NodeName Default="السويدى للكنولوجيا">
      <Name Culture="en-us">Elsewedy Technology</Name>
      <Name Culture="ar-eg">السويدى للكنولوجيا</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="b54451f3-4ba0-4475-9ad8-27ad5c5553c1">subhome</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "fade9682-47ec-482e-8af8-8abd70d80c6b",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
      <Value Culture="ar-eg"><![CDATA[[
  {
    "key": "79afe1da-8000-460c-ab6d-68c92befaaae",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </headerImage>
    <imageheader>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "1f8a0365-1b26-4697-9b60-218251fb33ff",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
      <Value Culture="ar-eg"><![CDATA[[
  {
    "key": "6f43478c-358b-44cb-83ae-28bed31d63ee",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
    </imageheader>
    <maintitle>
      <Value Culture="en-us"><![CDATA[Elsewedy Technology]]></Value>
      <Value Culture="ar-eg"><![CDATA[Elsewedy Technology]]></Value>
    </maintitle>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <textarea>
      <Value Culture="en-us"><![CDATA[Elsewedy Technology is a subsidiary of Elsewedy Digital. It is a technology-based contractor and systems integrator primarily involved in providing integrated IT solutions. The company offers its clients a comprehensive range of complete turnkey solutions to suit customer needs in the field of IT. Elsewedy Technology is partnered with a number of leading vendors to provide the ‘best fit’ solution for its customers.

Elsewedy Technology offers end-to-end solutions with optimum prices and unmatched quality. Our business model, design and seamless implementation services guarantee the best return on IT investment. Elsewedy Technology provides global industry-standards project management, detailed design and engineering, supply, installation, testing & commissioning operations to monitor systems, processes, and workflows used in the day-to-day operations.
]]></Value>
      <Value Culture="ar-eg"><![CDATA[Elsewedy Technology هي شركة تابعة لشركة   Elsewedy Digital  تعمل ك مقاول للتكنولوجيا وتكامل الأنظمة وتشارك بشكل أساسي في توفير حلول تكنولوجيا المعلومات. تقدم الشركة لعملائها مجموعة شاملة من الحلول الكاملة الجاهزة لتناسب احتياجات العملاء في مجال تكنولوجيا المعلومات. تتعاون Elsewedy Technology مع عدد من الشركاء من الأسماء الرائدة لتقديم أفضل الحلول لعملائها.

تقدم Elsewedy Technology حلولاً شاملة بأسعار تنافسية وجودة لا مثيل لها. يضمن نموذج أعمالنا وتصميمنا وخدمات التنفيذ السلس لدينا أفضل عائد على الاستثمار في تكنولوجيا المعلومات. توفر Elsewedy Technology إدارة مشاريع عالمية وفقًا لمعايير الصناعة والتصميم التفصيلي والهندسة والتوريد والتركيب والاختبار والتكليف بمراقبة الأنظمة والعمليات ومهام سير العمل المستخدمة في العمليات اليومية.
]]></Value>
    </textarea>
    <title>
      <Value Culture="en-us"><![CDATA[Elsewedy Technology]]></Value>
      <Value Culture="ar-eg"><![CDATA[Elsewedy Technology]]></Value>
    </title>
  </Properties>
</Content>