<?xml version="1.0" encoding="utf-8"?>
<Content Key="e2485701-bfec-4158-9bb1-77ac8a3ba706" Alias="الصفحة الرئيسية" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-10-09T12:58:53</CreateDate>
    <NodeName Default="الصفحة الرئيسية">
      <Name Culture="en-us">Home</Name>
      <Name Culture="ar-eg">الصفحة الرئيسية</Name>
      <Name Culture="fr">domicile</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
      <Published Culture="fr">true</Published>
    </Published>
    <Schedule />
    <Template Key="1c7982cb-76ba-42dd-8440-d1ebf3fd96d2">HomePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </bodyText>
    <cloudname>
      <Value Culture="en-us"><![CDATA[CLOUD SERVICES]]></Value>
    </cloudname>
    <clouds>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "49b92001-1683-47c3-8234-8b5313f0cffb",
    "name": "aws",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"8db1d608-ade1-45b5-853e-30a44e7670f0\",\r\n    \"mediaKey\": \"b39dea0c-786a-4436-b1e7-0aff9c1ac716\"\r\n  }\r\n]",
    "title": "aws",
    "link": "[{\"name\":\"aws\",\"url\":\"https://aws.amazon.com/\"}]"
  },
  {
    "key": "0bc61649-4d01-4e79-87dc-88d402a67431",
    "name": "AZURE",
    "ncContentTypeAlias": "singleimagewithurl",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"e9370d35-cdda-4f2a-a9a5-dee7a9d1853c\",\r\n    \"mediaKey\": \"a653e416-7ea8-44b1-98f0-d7663c45c8f3\"\r\n  }\r\n]",
    "title": "AZURE",
    "link": "[{\"name\":\"AZURE\",\"url\":\"https://azure.microsoft.com/en-gb/free/\"}]"
  }
]]]></Value>
    </clouds>
    <companies>
      <Value Culture="en-us"><![CDATA[Our Companies]]></Value>
    </companies>
    <companiesList>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "657c1b7f-98bb-4470-887f-bf135761d994",
    "name": "Elsewedy Technology",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"a78463ee-f6d5-4ef1-a9a5-6d97492fc66f\",\r\n    \"mediaKey\": \"4ba61dde-99b5-4809-8d31-440f269fd26f\"\r\n  }\r\n]",
    "title": "Elsewedy Technology",
    "textarea": "Elsewedy Technology is a subsidiary of,.....\n",
    "link": null
  },
  {
    "key": "6ab16cc1-c3cb-4ad1-9ac9-d507983c1a48",
    "name": "3W Networks",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"3cc653b8-02ac-47f0-b2ea-a73cb14487da\",\r\n    \"mediaKey\": \"d25e8450-7245-4fdb-b744-1d747edc1fec\"\r\n  }\r\n]",
    "title": "3W Networks",
    "textarea": "3W Networks Head Office and Engineering,....",
    "link": null
  },
  {
    "key": "1d528d62-567d-4182-a371-97da644b35db",
    "name": "Elsewedy Industrial & Grid Solutions",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"bc98aa12-591b-409f-9bdf-b365a06d58ce\",\r\n    \"mediaKey\": \"9e5052f4-eff0-4a41-b9de-2be8606d3942\"\r\n  }\r\n]",
    "title": "Elsewedy Industrial & Grid Solutions",
    "textarea": "Elsewedy Industrial and Grid Solutions is,...",
    "link": null
  },
  {
    "key": "3c9090ee-8499-4cb9-9e2b-d4c85aab0f5d",
    "name": "Iskraemeco",
    "ncContentTypeAlias": "multiinfo",
    "PropType": null,
    "image": "[\r\n  {\r\n    \"key\": \"a6e61f1b-ccac-471b-afd2-510410fb61ca\",\r\n    \"mediaKey\": \"98d9332b-0ee6-4040-8765-3091d260b515\"\r\n  }\r\n]",
    "title": "Iskraemeco",
    "textarea": "Iskraemco provides smart energy,...",
    "link": null
  }
]]]></Value>
    </companiesList>
    <companyname1>
      <Value Culture="en-us"><![CDATA[Elsewedy]]></Value>
    </companyname1>
    <companyname2>
      <Value Culture="en-us"><![CDATA[Technology]]></Value>
    </companyname2>
    <dataCintres>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "334b81c5-ab40-4590-8b5c-5136817ade3a",
    "name": "DATA CENTERS",
    "ncContentTypeAlias": "multiimage",
    "PropType": null,
    "multiimagpicker": "[\r\n  {\r\n    \"key\": \"42b92ed7-74d6-45c7-85c7-818d9800dcf4\",\r\n    \"mediaKey\": \"f8ae3849-80c6-4319-add9-bbd39a52bdfe\"\r\n  }\r\n]",
    "title": "DATA CENTERS"
  },
  {
    "key": "b2974019-ba6f-4e50-8bb1-62df22fc4f9f",
    "name": "TELECOM INFRASTRUCTURE",
    "ncContentTypeAlias": "multiimage",
    "PropType": null,
    "multiimagpicker": "[\r\n  {\r\n    \"key\": \"65320bc6-63a4-4974-9d76-972c5f1e0d94\",\r\n    \"mediaKey\": \"f896d5ee-fb96-4aa2-927e-be946e2c201a\"\r\n  }\r\n]",
    "title": "TELECOM INFRASTRUCTURE"
  },
  {
    "key": "888df30c-7114-4e2a-a1c2-f6da6829a0d6",
    "name": "ICT INFRASTRUCTURE",
    "ncContentTypeAlias": "multiimage",
    "PropType": null,
    "multiimagpicker": "[\r\n  {\r\n    \"key\": \"e171de22-200b-40a9-8be1-84acf997ef1c\",\r\n    \"mediaKey\": \"f4429737-422b-4f8d-be56-f2208e83321f\"\r\n  }\r\n]",
    "title": " ICT INFRASTRUCTURE"
  },
  {
    "key": "944a6116-a634-493a-b14b-ede476d95ccd",
    "name": "ELV & WIRELESS COMMUNICATIONS",
    "ncContentTypeAlias": "multiimage",
    "PropType": null,
    "multiimagpicker": "[\r\n  {\r\n    \"key\": \"f6bf1df8-c04b-44ea-b98a-9e6ae65e0826\",\r\n    \"mediaKey\": \"7a783c94-ce0a-4498-92b1-c9a1d547004e\"\r\n  }\r\n]",
    "title": "ELV & WIRELESS COMMUNICATIONS"
  },
  {
    "key": "8bf8055b-baca-4956-b5cb-e66d1f02faa4",
    "name": "IOT & SMART  SOLUTIONS",
    "ncContentTypeAlias": "multiimage",
    "PropType": null,
    "multiimagpicker": "[\r\n  {\r\n    \"key\": \"9b2089ad-2737-4b4a-ad24-7d07a8bda9f0\",\r\n    \"mediaKey\": \"dfd828e1-e216-4249-9018-d3067bfd9c44\"\r\n  }\r\n]",
    "title": "IOT & SMART  SOLUTIONS"
  },
  {
    "key": "aa81aae5-71ef-4646-a604-508fed24ec38",
    "name": "SOFTWARE  SOLUTIONS",
    "ncContentTypeAlias": "multiimage",
    "PropType": null,
    "multiimagpicker": "[\r\n  {\r\n    \"key\": \"2247d6e5-bb6e-4d29-8923-da409ee4185c\",\r\n    \"mediaKey\": \"495b472a-e735-4c14-9768-ee1dae29df05\"\r\n  }\r\n]",
    "title": " SOFTWARE  SOLUTIONS"
  },
  {
    "key": "279fe43d-83d0-4d47-b2f3-3d7c2afa8316",
    "name": "INDUSTRIAL & GRID  SOLUTIONS",
    "ncContentTypeAlias": "multiimage",
    "PropType": null,
    "multiimagpicker": "[\r\n  {\r\n    \"key\": \"db18902f-6b6e-4ee3-98f2-fcd4aae316d0\",\r\n    \"mediaKey\": \"7be1c4bd-7ff8-4262-a54b-5315a5577674\"\r\n  }\r\n]",
    "title": "INDUSTRIAL & GRID  SOLUTIONS"
  },
  {
    "key": "c355c773-bd77-483b-9f9c-b2452efa4545",
    "name": "CLOUD SERVICES",
    "ncContentTypeAlias": "multiimage",
    "PropType": null,
    "multiimagpicker": "[\r\n  {\r\n    \"key\": \"29275c42-e49b-4e1d-b840-f05a2d13830c\",\r\n    \"mediaKey\": \"b39dea0c-786a-4436-b1e7-0aff9c1ac716\"\r\n  },\r\n  {\r\n    \"key\": \"ff88570b-0b34-4be9-a1b2-7b2576db3d06\",\r\n    \"mediaKey\": \"a653e416-7ea8-44b1-98f0-d7663c45c8f3\"\r\n  },\r\n  {\r\n    \"key\": \"f8a9b4cc-5e83-41b8-9baf-150daff90750\",\r\n    \"mediaKey\": \"4862504c-d407-4ddb-98ee-a0d9288687e9\"\r\n  },\r\n  {\r\n    \"key\": \"d9fc0c94-cf27-4ebd-bd09-f8c4272773cd\",\r\n    \"mediaKey\": \"40406cd9-f7eb-4853-b477-a32a74c1f040\"\r\n  },\r\n  {\r\n    \"key\": \"2ff0f957-b114-4d53-a3d7-72d302ede6e3\",\r\n    \"mediaKey\": \"6cd0bb9b-963c-483c-bb38-11590d044436\"\r\n  },\r\n  {\r\n    \"key\": \"74b58f04-3544-4963-b435-08b1b58ceece\",\r\n    \"mediaKey\": \"3bd6f283-d2a6-47a8-aed9-dc1e8a98b574\"\r\n  },\r\n  {\r\n    \"key\": \"763d2e8a-bc19-4089-baf7-230e6567623c\",\r\n    \"mediaKey\": \"264cb21a-85d1-4750-8bda-ad923e8b277b\"\r\n  }\r\n]",
    "title": "CLOUD SERVICES"
  }
]]]></Value>
    </dataCintres>
    <footerSocialLinks>
      <Value Culture="en-us"><![CDATA[[
  {
    "network": "facebook",
    "name": "Facebook",
    "url": "https://facebook.com/ElsewedyElectric"
  },
  {
    "network": "twitter",
    "name": "Twitter",
    "url": "https://twitter.com/elsewedyelec"
  },
  {
    "network": "youtube",
    "name": "YouTube",
    "url": "https://www.youtube.com/channel/UCsRZVlsQ8tFyWCNOREMus0g"
  },
  {
    "network": "linkedin",
    "name": "LinkedIn",
    "url": "https://linkedin.com/company/elsewedyelectric/"
  }
]]]></Value>
      <Value Culture="ar-eg"><![CDATA[[
  {
    "network": "facebook",
    "name": "Facebook",
    "url": "https://facebook.com/ElsewedyElectric/"
  },
  {
    "network": "instagram",
    "name": "Instagram",
    "url": "https://instagram.com/elsewedy_electric"
  },
  {
    "network": "twitter",
    "name": "Twitter",
    "url": "https://twitter.com/elsewedyelec"
  },
  {
    "network": "youtube",
    "name": "YouTube",
    "url": "https://www.youtube.com/c/ElsewedyElectric"
  },
  {
    "network": "linkedin",
    "name": "LinkedIn",
    "url": "https://linkedin.com/company/elsewedyelectric/"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "network": "facebook",
    "name": "Facebook",
    "url": "https://facebook.com/ElsewedyElectric"
  },
  {
    "network": "twitter",
    "name": "Twitter",
    "url": "https://twitter.com/elsewedyelec"
  },
  {
    "network": "youtube",
    "name": "YouTube",
    "url": "https://www.youtube.com/channel/UCsRZVlsQ8tFyWCNOREMus0g"
  },
  {
    "network": "linkedin",
    "name": "LinkedIn",
    "url": "https://linkedin.com/company/elsewedyelectric/"
  }
]]]></Value>
    </footerSocialLinks>
    <headerImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "6373d32e-6a62-43b0-b68c-20e9e513a85a",
    "mediaKey": "fa1fdb6e-4b1e-44df-874f-3c065c621433"
  }
]]]></Value>
      <Value Culture="ar-eg"><![CDATA[[
  {
    "key": "6a071021-f591-4f0f-b332-d0953e79b269",
    "mediaKey": "5a236c6e-14fe-47be-be7e-2368e5675616"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "d6d7be1a-b98a-4bd1-9ccf-ec0b73710dd4",
    "mediaKey": "5a236c6e-14fe-47be-be7e-2368e5675616"
  }
]]]></Value>
    </headerImage>
    <keyFigures>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7d61cc0f4fba45a38b4ddb82448116ac"
      },
      {
        "contentUdi": "umb://element/6a87d745212646489068e161eb281649"
      },
      {
        "contentUdi": "umb://element/3c1e457192bf43a1804f563a22f05c3f"
      },
      {
        "contentUdi": "umb://element/d21d7583d8e847e58ba143635f41a607"
      },
      {
        "contentUdi": "umb://element/c2f6c6fc953b4bd4b3800892d3dc34bb"
      },
      {
        "contentUdi": "umb://element/42898e26e6354e92ad891d5638324ac1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "4e1708bb-e0e8-490d-bcb5-de80b7febbdd",
      "udi": "umb://element/7d61cc0f4fba45a38b4ddb82448116ac",
      "image": "[\r\n  {\r\n    \"key\": \"3cf76919-e4b4-49fc-b62d-464857ff10f2\",\r\n    \"mediaKey\": \"8e20b88b-11cf-47cd-aefe-ead1237dcb76\"\r\n  }\r\n]",
      "caption": "25+",
      "caption2": "years of experience"
    },
    {
      "contentTypeKey": "4e1708bb-e0e8-490d-bcb5-de80b7febbdd",
      "udi": "umb://element/6a87d745212646489068e161eb281649",
      "image": "[\r\n  {\r\n    \"key\": \"e8ad814d-38dd-4533-98de-b5b658e69613\",\r\n    \"mediaKey\": \"cb2716af-273b-45b8-8341-fcd0a47ba02e\"\r\n  }\r\n]",
      "caption": "3000",
      "caption2": "employees"
    },
    {
      "contentTypeKey": "4e1708bb-e0e8-490d-bcb5-de80b7febbdd",
      "udi": "umb://element/3c1e457192bf43a1804f563a22f05c3f",
      "image": "[\r\n  {\r\n    \"key\": \"abf9b984-5da9-4663-8b6d-7eebe69d5e89\",\r\n    \"mediaKey\": \"000b42b8-0539-4d00-8c71-5b18d89879b8\"\r\n  }\r\n]",
      "caption": "1000+",
      "caption2": "successful implementations"
    },
    {
      "contentTypeKey": "4e1708bb-e0e8-490d-bcb5-de80b7febbdd",
      "udi": "umb://element/d21d7583d8e847e58ba143635f41a607",
      "image": "[\r\n  {\r\n    \"key\": \"9c8b23f4-773b-4d49-9d57-28c61597634a\",\r\n    \"mediaKey\": \"e6cea00f-2c4d-4960-ad9c-ca3a00bc4e62\"\r\n  }\r\n]",
      "caption": "$500 ",
      "caption2": "million annual revenue"
    },
    {
      "contentTypeKey": "4e1708bb-e0e8-490d-bcb5-de80b7febbdd",
      "udi": "umb://element/c2f6c6fc953b4bd4b3800892d3dc34bb",
      "image": "[\r\n  {\r\n    \"key\": \"d3648b4f-f895-40da-8bd7-1073e9eee0c7\",\r\n    \"mediaKey\": \"84fd0374-457c-4c3d-8e37-f960a45eb059\"\r\n  }\r\n]",
      "caption": "17",
      "caption2": "operation countries"
    },
    {
      "contentTypeKey": "4e1708bb-e0e8-490d-bcb5-de80b7febbdd",
      "udi": "umb://element/42898e26e6354e92ad891d5638324ac1",
      "image": "[\r\n  {\r\n    \"key\": \"3797719b-1647-4c15-b995-c95f94711ff4\",\r\n    \"mediaKey\": \"259acdb1-5744-4531-97bd-209fa7011a1c\"\r\n  }\r\n]",
      "caption": "100M",
      "caption2": "meters installed"
    }
  ],
  "settingsData": []
}]]></Value>
    </keyFigures>
    <keyFiguresLabel>
      <Value Culture="en-us"><![CDATA[Key Figures]]></Value>
    </keyFiguresLabel>
    <mainContent>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/93ba35cd058c45558652680b79320000",
        "settingsUdi": "umb://element/77668b13a93d4bb98f6856d97415f4a3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "34398e02-f7be-4b77-8c1b-d40f0651f54a",
      "udi": "umb://element/93ba35cd058c45558652680b79320000",
      "content": "<p>Elsewedy Digital is a global system integrator and solutions provider offering end-to-end turnkey solutions for multiple sectors through a network of companies and business units.</p>\n<p>Elsewedy Digital brings together the expertise of different companies: 3W Networks, Elsewedy Technology, and Elsewedy Industrial and Grid Solutions.</p>\n<p>Our solutions combine hardware and software applications utilizing the latest technologies that enable the smart digital transformation of enterprises, utilities, governments, and cities.</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "57cef3b6-b5a9-4310-8ae9-ca09d3a89c76",
      "udi": "umb://element/77668b13a93d4bb98f6856d97415f4a3"
    }
  ]
}]]></Value>
    </mainContent>
    <mainNavigation>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "00dce6af-f9da-4215-8f27-a08d02e97f9e",
    "name": "Home",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Home",
    "link": "[{\"name\":\"Home\",\"udi\":\"umb://document/e2485701bfec41589bb177ac8a3ba706\"}]",
    "childrenLinks": null
  },
  {
    "key": "48c9df7a-ef30-4e88-bff0-953e28203d89",
    "name": "about",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "about",
    "link": "[{\"name\":\"About\",\"udi\":\"umb://document/9d191db4ed68471fa736ba317cd6279c\"}]",
    "childrenLinks": null
  },
  {
    "key": "613b40f9-ce1c-493a-a933-defcb3ce4f5c",
    "name": "Contact Us",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Contact Us",
    "link": "[{\"name\":\"Contacts\",\"udi\":\"umb://document/700daf436758446db3d8b3ad9ddc02fd\"}]",
    "childrenLinks": null
  },
  {
    "key": "8a79e45f-1db2-4965-a5e2-3c1e527d8a39",
    "name": "Blog",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Blog",
    "link": null,
    "childrenLinks": "[{\"name\":\"Second Item\",\"url\":\"https://github.com/\"},{\"name\":\"Search for elsewedy\",\"url\":\"https://www.elsewedyelectric.com/en/home/\",\"queryString\":\"#thirdpage\"}]"
  }
]]]></Value>
      <Value Culture="ar-eg"><![CDATA[[
  {
    "key": "478eeb57-666b-45af-9589-4f2ec8725302",
    "name": "الصفحة الرئيسية",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "الصفحة الرئيسية",
    "link": "[{\"name\":\"Home\",\"udi\":\"umb://document/e2485701bfec41589bb177ac8a3ba706\"}]",
    "childrenLinks": null
  },
  {
    "key": "8581cb02-4d12-44a7-84d1-a9b9f5d3ed12",
    "name": "عنا",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "عنا",
    "link": "[{\"name\":\"About\",\"udi\":\"umb://document/9d191db4ed68471fa736ba317cd6279c\"}]",
    "childrenLinks": null
  },
  {
    "key": "8df5c493-94b7-4185-8164-04ae95b975c3",
    "name": "الاتصال بنا",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "الاتصال بنا",
    "link": "[{\"name\":\"Contacts\",\"udi\":\"umb://document/700daf436758446db3d8b3ad9ddc02fd\"}]",
    "childrenLinks": null
  },
  {
    "key": "b9c01d53-5fbc-4f61-9488-796b0e624875",
    "name": "المذكرة",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "المذكرة",
    "link": null,
    "childrenLinks": "[{\"name\":\"المذكرة\",\"udi\":\"umb://document/111168a9d0dc4cfa972d70a3f5ef258e\",\"queryString\":\"#firstlink\"},{\"name\":\"الغرض الثانى\",\"target\":\"_blank\",\"url\":\"https://startbootstrap.com/\",\"queryString\":\"\"},{\"name\":\"الاتصال\",\"target\":\"_blank\",\"udi\":\"umb://document/700daf436758446db3d8b3ad9ddc02fd\",\"queryString\":\"\"}]"
  }
]]]></Value>
      <Value Culture="fr"><![CDATA[[
  {
    "key": "9253529b-c05c-4eef-8252-be66f7b24aa3",
    "name": "domicile",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "domicile",
    "link": "[{\"name\":\"domicile\",\"udi\":\"umb://document/e2485701bfec41589bb177ac8a3ba706\"}]",
    "childrenLinks": null
  },
  {
    "key": "93365568-9dc9-4c2b-8b98-8bfc76cec4a8",
    "name": "à propos de nous",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "à propos de nous",
    "link": "[{\"name\":\"à propos de nous\",\"udi\":\"umb://document/9d191db4ed68471fa736ba317cd6279c\"}]",
    "childrenLinks": null
  },
  {
    "key": "55842019-ef19-4658-9f94-96fc43f28c55",
    "name": "Contacts",
    "ncContentTypeAlias": "navigationItem",
    "PropType": null,
    "title": "Contacts",
    "link": "[{\"name\":\"Contacts\",\"udi\":\"umb://document/700daf436758446db3d8b3ad9ddc02fd\"}]",
    "childrenLinks": null
  }
]]]></Value>
    </mainNavigation>
    <partners>
      <Value Culture="en-us"><![CDATA[Partners]]></Value>
    </partners>
    <partnersList>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </partnersList>
    <subtitle>
      <Value Culture="ar-eg"><![CDATA[an advertising Website for Elsewedy Company]]></Value>
      <Value Culture="fr"><![CDATA[plus à ce sujet]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="en-us"><![CDATA[Home -Elsewedy WebSite]]></Value>
      <Value Culture="ar-eg"><![CDATA[Elsewedy Site]]></Value>
      <Value Culture="fr"><![CDATA[Elsewedy Site]]></Value>
    </title>
  </Properties>
</Content>