<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6981d551-b436-4556-989b-c6a42720b4ac" Alias="Footer.CopyrightTitle" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="ar-EG">حقوق النشر السويدى إليكتريك</Translation>
    <Translation Language="en-US">Copyright</Translation>
  </Translations>
</Dictionary>