<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0199340-1328-4a7f-82cb-3729525f8b1e" Alias="101" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-23T17:19:08</CreateDate>
    <NodeName Default="101" />
    <SortOrder>142</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/i0jbtibi/101.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>