<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf9d11e3-1716-4e8a-8109-69788f332546" Alias="112" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-23T18:04:09</CreateDate>
    <NodeName Default="112" />
    <SortOrder>153</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2uij1pyw/112.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>