<?xml version="1.0" encoding="utf-8"?>
<Media Key="878ed2fb-4a37-447f-ad53-cf9f2d63acc1" Alias="117" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-23T18:15:30</CreateDate>
    <NodeName Default="117" />
    <SortOrder>157</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5xji3bzx/117.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>