<?xml version="1.0" encoding="utf-8"?>
<Media Key="4891211e-a945-451b-b0ce-45c04e36c4c7" Alias="1200Px Infor Logo.Svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PxInforLogoSvg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T04:32:07</CreateDate>
    <NodeName Default="1200Px Infor Logo.Svg" />
    <SortOrder>267</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/daqjcscf/1200px-infor_logosvg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>