<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9464385-7459-4e29-aec0-fab53ade498f" Alias="1280Px Schneider Electric 2007" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PxSchneiderElectric2007</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T06:48:33</CreateDate>
    <NodeName Default="1280Px Schneider Electric 2007" />
    <SortOrder>308</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qnbfn0kz/1280px-schneider_electric_2007.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>