<?xml version="1.0" encoding="utf-8"?>
<Media Key="90dd0e97-21d7-44dc-b3bb-8df0858d8759" Alias="1280Px Commscope Logo.Svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PxCommscopeLogoSvg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T18:18:20</CreateDate>
    <NodeName Default="1280Px Commscope Logo.Svg" />
    <SortOrder>191</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sehn1egx/1280px-commscope_logosvg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>