<?xml version="1.0" encoding="utf-8"?>
<Media Key="84f84798-7ec4-4e4c-86ba-b2cba5ca02ec" Alias="131 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T07:07:19</CreateDate>
    <NodeName Default="131 (1)" />
    <SortOrder>318</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tzdprbge/131-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>