<?xml version="1.0" encoding="utf-8"?>
<Media Key="571e7129-b60b-4598-9e97-227654b87c18" Alias="1519901376562" Level="2">
  <Info>
    <Parent Key="7d2b1fac-e2d2-4d77-b8ca-d0da82d144ea">res</Parent>
    <Path>/res/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T16:13:35</CreateDate>
    <NodeName Default="1519901376562" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/f3yb2vyl/1519901376562.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>