<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f6af02f-f15c-4c88-a561-50d7784138d5" Alias="1620562192 1620562192 P7g21cw0tpuc (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/P7g21cw0tpuc1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T06:40:55</CreateDate>
    <NodeName Default="1620562192 1620562192 P7g21cw0tpuc (1)" />
    <SortOrder>306</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fhygu102/1620562192-1620562192-p7g21cw0tpuc.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>