<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d49d430-907d-4ce5-8a8d-917fbc9b91b1" Alias="170807073319QFNQ (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/QFNQ1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T03:28:11</CreateDate>
    <NodeName Default="170807073319QFNQ (1)" />
    <SortOrder>239</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/g1kesxl3/170807073319qfnq.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>