<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb2716af-273b-45b8-8341-fcd0a47ba02e" Alias="1869679" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-16T18:04:48</CreateDate>
    <NodeName Default="1869679" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/velcpsz1/1869679.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>