<?xml version="1.0" encoding="utf-8"?>
<Media Key="eba6b37f-32f4-4e3a-945f-c930dff60b6d" Alias="193 1933650 First Red Hat Logo Png Transparent Png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FirstRedHatLogoPngTransparentPng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T19:35:06</CreateDate>
    <NodeName Default="193 1933650 First Red Hat Logo Png Transparent Png" />
    <SortOrder>216</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pgzln05u/193-1933650_first-red-hat-logo-png-transparent-png.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>