<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ecfa96b-2afe-49f5-b6e5-8c8cd4078ffa" Alias="35" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T20:15:28</CreateDate>
    <NodeName Default="35" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nwun4dx4/35.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>