<?xml version="1.0" encoding="utf-8"?>
<Media Key="f38058a3-481f-46b6-8ca0-4c8330d305a0" Alias="40" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-21T02:39:29</CreateDate>
    <NodeName Default="40" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uvmib2y5/40.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>