<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3fcf4f2-ca54-4544-9e9c-90a148189e0a" Alias="532 5320561 R M Logo Png Transparent R M Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RMLogoPngTransparentRMLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T18:22:57</CreateDate>
    <NodeName Default="532 5320561 R M Logo Png Transparent R M Logo" />
    <SortOrder>192</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4t0pzi0u/532-5320561_r-m-logo-png-transparent-r-m-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>