<?xml version="1.0" encoding="utf-8"?>
<Media Key="8199ca7c-81d3-4db6-90b6-3e1a98c32ff1" Alias="60" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-21T02:49:24</CreateDate>
    <NodeName Default="60" />
    <SortOrder>58</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/plfjtaot/60.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>