<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b0f0a83-8288-4b09-932a-0953c65f694f" Alias="71" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-21T15:00:33</CreateDate>
    <NodeName Default="71" />
    <SortOrder>70</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qufa402i/71.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>