<?xml version="1.0" encoding="utf-8"?>
<Media Key="52386916-b196-4cdd-b0cd-e98fe23e0890" Alias="72" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-21T15:03:31</CreateDate>
    <NodeName Default="72" />
    <SortOrder>71</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cbudquuw/72.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>