<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2c33a83-2806-4125-ac08-23f928ce099e" Alias="73" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-21T15:05:30</CreateDate>
    <NodeName Default="73" />
    <SortOrder>72</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qu3mhiqg/73.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>