<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a484bf6-3285-4dc3-9b98-43c2e257f7e1" Alias="8390 Ea Dg Substation Automation Protection Communication 190314" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EaDgSubstationAutomationProtectionCommunication190314</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T07:05:59</CreateDate>
    <NodeName Default="8390 Ea Dg Substation Automation Protection Communication 190314" />
    <SortOrder>317</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4bffqkuf/8390-ea-dg-substation-automation-protection-communication-190314.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>