<?xml version="1.0" encoding="utf-8"?>
<Media Key="07f96ce6-f52a-4132-90a7-2c918d4bd25b" Alias="90 904393 Installation And Maintenance Comments Installation Icon Png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/InstallationAndMaintenanceCommentsInstallationIconPng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-16T18:31:15</CreateDate>
    <NodeName Default="90 904393 Installation And Maintenance Comments Installation Icon Png" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2bwpsbzk/90-904393_installation-and-maintenance-comments-installation-icon-png.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>