<?xml version="1.0" encoding="utf-8"?>
<Media Key="b661d2e6-449d-498a-ab7f-af69e4295e2f" Alias="924749 Commscope Logo" Level="2">
  <Info>
    <Parent Key="7d2b1fac-e2d2-4d77-b8ca-d0da82d144ea">res</Parent>
    <Path>/res/CommscopeLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T16:13:34</CreateDate>
    <NodeName Default="924749 Commscope Logo" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2djgdnu3/924749-commscope-logo.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>