<?xml version="1.0" encoding="utf-8"?>
<Media Key="910db2e2-692d-4731-938d-8af870df84d1" Alias="A (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/A</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T18:56:18</CreateDate>
    <NodeName Default="A (1)" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2sza1ejn/a.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>