<?xml version="1.0" encoding="utf-8"?>
<Media Key="f3327e22-8b7a-4437-87b4-4e3670139572" Alias="A" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/A</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T18:40:13</CreateDate>
    <NodeName Default="A" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/er5df210/a.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>