<?xml version="1.0" encoding="utf-8"?>
<Media Key="fcd909b4-7491-4150-9a53-349a04532850" Alias="Aa Aperio PR KS100 1000X665" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AaAperioPRKS1001000X665</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T03:17:01</CreateDate>
    <NodeName Default="Aa Aperio PR KS100 1000X665" />
    <SortOrder>231</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wient5er/aa_aperio_pr_ks100_1000x665.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>