<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb162e50-46e1-4850-9b37-4f1c69a1284c" Alias="About Asset Monotoring Solution" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutAssetMonotoringSolution</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T06:54:02</CreateDate>
    <NodeName Default="About Asset Monotoring Solution" />
    <SortOrder>313</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kyxbn05b/about-asset-monotoring-solution.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>