<?xml version="1.0" encoding="utf-8"?>
<Media Key="65ec7507-7a7d-4067-ab99-455164f94667" Alias="Aerial View City Night Social Media Connection Concept Photo Manipulation" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AerialViewCityNightSocialMediaConnectionConceptPhotoManipulation</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T15:54:23</CreateDate>
    <NodeName Default="Aerial View City Night Social Media Connection Concept Photo Manipulation" />
    <SortOrder>177</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/af0pyzl3/aerial-view-city-night-social-media-connection-concept-photo-manipulation.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>