<?xml version="1.0" encoding="utf-8"?>
<Media Key="018e948b-45fe-4436-8ab6-238bb04c8bc9" Alias="Am Bpa Tools 1200X628 0" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AmBpaTools1200X6280</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T06:49:28</CreateDate>
    <NodeName Default="Am Bpa Tools 1200X628 0" />
    <SortOrder>309</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rwki2ap4/am-bpa-tools-1200x628_0.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>