<?xml version="1.0" encoding="utf-8"?>
<Media Key="7518ccfb-a9b0-401d-a225-d39039fbc8d4" Alias="ATT COW" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ATTCOW</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T18:31:02</CreateDate>
    <NodeName Default="ATT COW" />
    <SortOrder>199</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5xgbq3nq/att-cow.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>