<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f94539e-4800-4bf5-aa5f-5f2a7e3bfb95" Alias="AUB Logo 570X180 C" Level="2">
  <Info>
    <Parent Key="7d2b1fac-e2d2-4d77-b8ca-d0da82d144ea">res</Parent>
    <Path>/res/AUBLogo570X180C</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T16:13:36</CreateDate>
    <NodeName Default="AUB Logo 570X180 C" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tbjjidya/aub-logo-570x180_c.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>