<?xml version="1.0" encoding="utf-8"?>
<Media Key="e00ffd6f-d7d6-40c9-8f30-feae5882acce" Alias="Aveva Schneider" Level="2">
  <Info>
    <Parent Key="7d2b1fac-e2d2-4d77-b8ca-d0da82d144ea">res</Parent>
    <Path>/res/AvevaSchneider</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T16:13:36</CreateDate>
    <NodeName Default="Aveva Schneider" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nh4b5ygw/aveva_schneider.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>