<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab1cd579-16e4-4291-b0bb-df90c1cf822b" Alias="B (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/B</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T18:56:18</CreateDate>
    <NodeName Default="B (1)" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/p5kbzk5e/b.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>