<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a117e28-dbc2-47bd-9a77-96abdb039040" Alias="B" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/B</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T18:40:14</CreateDate>
    <NodeName Default="B" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fz5bdgwc/b.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>