<?xml version="1.0" encoding="utf-8"?>
<Media Key="95873739-1272-4292-92bb-5e60c26229be" Alias="Bank20muscat20logo" Level="2">
  <Info>
    <Parent Key="7d2b1fac-e2d2-4d77-b8ca-d0da82d144ea">res</Parent>
    <Path>/res/Bank20muscat20logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T16:13:36</CreateDate>
    <NodeName Default="Bank20muscat20logo" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/h21jpfls/bank20muscat20logo.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>