<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b196848-cb51-4642-ad2c-bf03fd4acf97" Alias="Bbb" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bbb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T21:22:20</CreateDate>
    <NodeName Default="Bbb" />
    <SortOrder>78</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jzubsk0r/bbb.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>