<?xml version="1.0" encoding="utf-8"?>
<Media Key="bcee5270-0473-4164-8387-b16599f3c7b5" Alias="C (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/C</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T18:56:18</CreateDate>
    <NodeName Default="C (1)" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ozjo3pdt/c.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>