<?xml version="1.0" encoding="utf-8"?>
<Media Key="68c57f2b-c0db-4c53-843b-1642b95d666d" Alias="C" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/C</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T18:40:14</CreateDate>
    <NodeName Default="C" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fv5nk0g1/c.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>