<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3618120-71fc-40d1-a3e5-7e4fd5c6d43f" Alias="Cc" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cc</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T20:32:22</CreateDate>
    <NodeName Default="Cc" />
    <SortOrder>52</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/e0ahdq52/cc.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>