<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebe5695e-1e16-41e2-942f-3b0a6c604424" Alias="CIB Smart" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CIBSmart</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T16:04:37</CreateDate>
    <NodeName Default="CIB Smart" />
    <SortOrder>184</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lbupl0yw/cib-smart.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>