<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6240795-b43d-4846-915f-ed6ca6ba6c63" Alias="CIB Smart (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CIBSmart1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T06:30:43</CreateDate>
    <NodeName Default="CIB Smart (1)" />
    <SortOrder>302</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/smddjvr3/cib-smart.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>