<?xml version="1.0" encoding="utf-8"?>
<Media Key="374a2d95-cfd5-484b-9dac-edc56839b779" Alias="Cloud Technology With Futuristic Hologram Smartwatch" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CloudTechnologyWithFuturisticHologramSmartwatch</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T16:02:51</CreateDate>
    <NodeName Default="Cloud Technology With Futuristic Hologram Smartwatch" />
    <SortOrder>182</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/smwfun4v/cloud-technology-with-futuristic-hologram-smartwatch.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>