<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b820b79-e3ba-4320-af9f-158958179731" Alias="COLOURBOX29810242" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/COLOURBOX29810242</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T04:09:01</CreateDate>
    <NodeName Default="COLOURBOX29810242" />
    <SortOrder>263</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/p2fje430/colourbox29810242.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>