<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a6ce43a-7231-442f-b05a-786f087a91b5" Alias="CSIRO Scienceimage 7247 The Radio Telescope At Parkes" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CSIROScienceimage7247TheRadioTelescopeAtParkes</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T03:58:58</CreateDate>
    <NodeName Default="CSIRO Scienceimage 7247 The Radio Telescope At Parkes" />
    <SortOrder>256</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/htsgzcrr/csiro_scienceimage_7247_the_radio_telescope_at_parkes.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>