<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c64b4cd-fac5-4bab-9f23-0eb1b2021bb6" Alias="D (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/D</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T19:03:02</CreateDate>
    <NodeName Default="D (1)" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zo0gi1gf/d.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>