<?xml version="1.0" encoding="utf-8"?>
<Media Key="08ab68e8-f30e-4986-8b72-38fa5d977c58" Alias="Dark Servers Center Room With Computers Storage Systems" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DarkServersCenterRoomWithComputersStorageSystems</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T18:55:10</CreateDate>
    <NodeName Default="Dark Servers Center Room With Computers Storage Systems" />
    <SortOrder>204</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3zukwcao/dark-servers-center-room-with-computers-storage-systems.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>