<?xml version="1.0" encoding="utf-8"?>
<Media Key="dad04932-06ae-49b5-b6ef-741bd713f3fe" Alias="Data Center Generator" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DataCenterGenerator</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T03:16:00</CreateDate>
    <NodeName Default="Data Center Generator" />
    <SortOrder>230</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/grenbwvo/data-center-generator.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>