<?xml version="1.0" encoding="utf-8"?>
<Media Key="a1eafc66-c3d8-4f1c-9480-e62fa18ed884" Alias="Dd" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dd</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T20:32:22</CreateDate>
    <NodeName Default="Dd" />
    <SortOrder>53</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/md4ovioy/dd.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>