<?xml version="1.0" encoding="utf-8"?>
<Media Key="13f862e1-1537-4a5d-b34c-ce15486d8660" Alias="DH8N6JOL 42 Noor Bank" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DH8N6JOL42NoorBank</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T06:31:10</CreateDate>
    <NodeName Default="DH8N6JOL 42 Noor Bank" />
    <SortOrder>303</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/23rpqezx/dh8n6jol-42-noor-bank.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>