<?xml version="1.0" encoding="utf-8"?>
<Media Key="3fcceef9-edd7-49cc-9bc7-09f07ddf3b64" Alias="Digital Government Adobe" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DigitalGovernmentAdobe</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T04:38:44</CreateDate>
    <NodeName Default="Digital Government Adobe" />
    <SortOrder>274</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/55xmyp4x/digital_government_adobe.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>