<?xml version="1.0" encoding="utf-8"?>
<Media Key="db798758-940f-42fa-95a0-b93deb1b79be" Alias="DMP Fire" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DMPFire</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T03:37:02</CreateDate>
    <NodeName Default="DMP Fire" />
    <SortOrder>246</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/l0dhtwyp/dmp-fire.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>