<?xml version="1.0" encoding="utf-8"?>
<Media Key="922e02da-d7b1-4a1f-9594-13dd451ed7b2" Alias="Download 1" Level="2">
  <Info>
    <Parent Key="7d2b1fac-e2d2-4d77-b8ca-d0da82d144ea">res</Parent>
    <Path>/res/Download1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T16:58:41</CreateDate>
    <NodeName Default="Download 1" />
    <SortOrder>64</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1qbc3evr/download-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>