<?xml version="1.0" encoding="utf-8"?>
<Media Key="d66da55f-4ca7-4f54-a075-88965dc0c909" Alias="Download (4)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Download4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T18:26:04</CreateDate>
    <NodeName Default="Download (4)" />
    <SortOrder>195</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lgsh1vvh/download.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>