<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3dd4d4b-9520-4e59-b07c-88e8a48c9629" Alias="Download (2)" Level="2">
  <Info>
    <Parent Key="7d2b1fac-e2d2-4d77-b8ca-d0da82d144ea">res</Parent>
    <Path>/res/Download2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T16:13:39</CreateDate>
    <NodeName Default="Download (2)" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jvgn1qza/download-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>