<?xml version="1.0" encoding="utf-8"?>
<Media Key="4cfaa810-8247-45dd-bdbc-0147021d1e92" Alias="Download (6)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Download6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T04:06:35</CreateDate>
    <NodeName Default="Download (6)" />
    <SortOrder>261</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/c0uputch/download.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>