<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb6f0d28-c123-4635-872d-2bed10798e86" Alias="Download (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Download2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T16:10:52</CreateDate>
    <NodeName Default="Download (2)" />
    <SortOrder>188</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fygh54zd/download-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>