<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc702b80-4aa4-4435-9b07-dd1835d927cc" Alias="E" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/E</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T18:40:14</CreateDate>
    <NodeName Default="E" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qyvhbtfe/e.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>