<?xml version="1.0" encoding="utf-8"?>
<Media Key="d02b500f-2913-4999-a5e3-6bdd4192314f" Alias="Enterprise Resource Management Erp Software System Business Resources Plan (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EnterpriseResourceManagementErpSoftwareSystemBusinessResourcesPlan1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T16:03:49</CreateDate>
    <NodeName Default="Enterprise Resource Management Erp Software System Business Resources Plan (1)" />
    <SortOrder>183</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bficxuat/enterprise-resource-management-erp-software-system-business-resources-plan-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>