<?xml version="1.0" encoding="utf-8"?>
<Media Key="e26ab747-5948-40c5-94fd-cdee0130e09e" Alias="Enterprise Performance Management System 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EnterprisePerformanceManagementSystem2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T05:24:26</CreateDate>
    <NodeName Default="Enterprise Performance Management System 2" />
    <SortOrder>285</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ig1hvysi/enterprise-performance-management-system-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>