<?xml version="1.0" encoding="utf-8"?>
<Media Key="73794087-2db2-4f21-9ef5-ad446986bad4" Alias="EPM Explained Infographic" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EPMExplainedInfographic</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T06:15:21</CreateDate>
    <NodeName Default="EPM Explained Infographic" />
    <SortOrder>294</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qfahs23s/epm-explained-infographic.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>