<?xml version="1.0" encoding="utf-8"?>
<Media Key="23228af1-e5b2-4e3e-8b47-a595b6222ae9" Alias="Esri Logo.Svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EsriLogoSvg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T04:32:08</CreateDate>
    <NodeName Default="Esri Logo.Svg" />
    <SortOrder>269</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/44fcei3s/esri_logosvg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>