<?xml version="1.0" encoding="utf-8"?>
<Media Key="26e56f22-2fc5-47b3-99df-5daf1f4ef7f3" Alias="Evolution Of Data Centre Cooling Header Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EvolutionOfDataCentreCoolingHeaderImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T03:14:08</CreateDate>
    <NodeName Default="Evolution Of Data Centre Cooling Header Image" />
    <SortOrder>229</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/erxpkjwf/evolution-of-data-centre-cooling-header-image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>