<?xml version="1.0" encoding="utf-8"?>
<Media Key="85721caf-d31c-409c-81f9-78c8456e9dcc" Alias="F5 Networks Logo.Wine" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/F5NetworksLogoWine</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T19:35:44</CreateDate>
    <NodeName Default="F5 Networks Logo.Wine" />
    <SortOrder>217</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/veohfbi2/f5_networks-logowine.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>