<?xml version="1.0" encoding="utf-8"?>
<Media Key="10818a6c-73ad-497b-80d5-31b66833d93b" Alias="Fiber Optic Future Cable Technology Dark Background" Level="2">
  <Info>
    <Parent Key="7d2b1fac-e2d2-4d77-b8ca-d0da82d144ea">res</Parent>
    <Path>/res/FiberOpticFutureCableTechnologyDarkBackground</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T17:18:12</CreateDate>
    <NodeName Default="Fiber Optic Future Cable Technology Dark Background" />
    <SortOrder>73</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nkficefn/fiber-optic-future-cable-technology-dark-background.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>