<?xml version="1.0" encoding="utf-8"?>
<Media Key="795fac51-3e1d-45d4-b63e-4ace40585eea" Alias="Gg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Gg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T20:50:59</CreateDate>
    <NodeName Default="Gg" />
    <SortOrder>62</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/k4wf44i3/gg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>