<?xml version="1.0" encoding="utf-8"?>
<Media Key="4789ef71-fd0b-48bc-a31c-9ff177561ad6" Alias="GIS Blog Header" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GISBlogHeader</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T04:39:42</CreateDate>
    <NodeName Default="GIS Blog Header" />
    <SortOrder>275</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/o5xjsryl/gis-blog-header.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>