<?xml version="1.0" encoding="utf-8"?>
<Media Key="4143ec00-97c2-494c-8984-34e8d393ca3a" Alias="Gurgaon Hindustan Gurgaon Parveen Treatment Budhera Chandu 71621B26 Ff71 11E6 97Dc 08322D33dfd3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GurgaonHindustanGurgaonParveenTreatmentBudheraChandu71621B26Ff7111E697Dc08322D33dfd3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T06:59:14</CreateDate>
    <NodeName Default="Gurgaon Hindustan Gurgaon Parveen Treatment Budhera Chandu 71621B26 Ff71 11E6 97Dc 08322D33dfd3" />
    <SortOrder>315</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/a1wegqoc/gurgaon-hindustan-gurgaon-parveen-treatment-budhera-chandu_71621b26-ff71-11e6-97dc-08322d33dfd3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>