<?xml version="1.0" encoding="utf-8"?>
<Media Key="af2bd486-f9f8-4683-a869-42d4caa92b95" Alias="H" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/H</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T19:11:19</CreateDate>
    <NodeName Default="H" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qdkcxl5y/h.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>