<?xml version="1.0" encoding="utf-8"?>
<Media Key="ddb0c7db-9c84-4596-b820-7aa7d542d7ef" Alias="Hh" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Hh</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T20:50:59</CreateDate>
    <NodeName Default="Hh" />
    <SortOrder>63</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1xdlbxme/hh.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>