<?xml version="1.0" encoding="utf-8"?>
<Media Key="04b53ebf-909b-484c-adcb-5706cdf87de8" Alias="Huawei Logo 512X512" Level="2">
  <Info>
    <Parent Key="7d2b1fac-e2d2-4d77-b8ca-d0da82d144ea">res</Parent>
    <Path>/res/HuaweiLogo512X512</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T16:13:41</CreateDate>
    <NodeName Default="Huawei Logo 512X512" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xe5lkbe1/huawei-logo-512x512.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>