<?xml version="1.0" encoding="utf-8"?>
<Media Key="c19402e1-d1ea-42fd-b0dd-b44ad95326f0" Alias="IBM Logo In" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IBMLogoIn</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T04:32:09</CreateDate>
    <NodeName Default="IBM Logo In" />
    <SortOrder>270</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/22bjjqpk/ibm_logo_in.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>