<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa1fdb6e-4b1e-44df-874f-3c065c621433" Alias="IMG 20200417 WA0033" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG20200417WA0033</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-16T14:01:58</CreateDate>
    <NodeName Default="IMG 20200417 WA0033" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ndnb54q4/img-20200417-wa0033.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>