<?xml version="1.0" encoding="utf-8"?>
<Media Key="11cdcc47-b576-4f74-83fc-6fb7294316a7" Alias="IMG 5427" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG5427</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T06:52:17</CreateDate>
    <NodeName Default="IMG 5427" />
    <SortOrder>311</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ihgm0elw/img_5427.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>