<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca1dad3e-2198-4613-94e1-f16dc53bdabd" Alias="Interior Ministry City Stars Civil Registry Facebook" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/InteriorMinistryCityStarsCivilRegistryFacebook</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T04:42:27</CreateDate>
    <NodeName Default="Interior Ministry City Stars Civil Registry Facebook" />
    <SortOrder>278</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hcwb1suy/interior-ministry-city-stars-civil-registry-facebook.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>