<?xml version="1.0" encoding="utf-8"?>
<Media Key="11fa9cb1-5814-4bb1-9511-e0bd3eb2ab5a" Alias="Jpt 2020 Adnoc Panorama Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Jpt2020AdnocPanoramaHero</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T04:01:26</CreateDate>
    <NodeName Default="Jpt 2020 Adnoc Panorama Hero" />
    <SortOrder>257</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/w4opueiu/jpt-2020-adnoc-panorama-hero.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>