<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb9fc0e7-ae50-4611-8bbe-adc5a34d9b81" Alias="K" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/K</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T19:17:28</CreateDate>
    <NodeName Default="K" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2haj5s0q/k.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>