<?xml version="1.0" encoding="utf-8"?>
<Media Key="f673a98e-18bd-4500-9360-98fe2b91c85d" Alias="Kaspersky 0" Level="2">
  <Info>
    <Parent Key="7d2b1fac-e2d2-4d77-b8ca-d0da82d144ea">res</Parent>
    <Path>/res/Kaspersky0</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T16:13:42</CreateDate>
    <NodeName Default="Kaspersky 0" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rcuhh3v3/kaspersky_0.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>