<?xml version="1.0" encoding="utf-8"?>
<Media Key="ead4ab56-70ed-4efc-9ace-0b5e4ed30933" Alias="L" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/L</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T19:17:28</CreateDate>
    <NodeName Default="L" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kcvnj0xn/l.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>