<?xml version="1.0" encoding="utf-8"?>
<Media Key="08ea9d3d-fd67-4b4b-904f-34cc50fd9193" Alias="Ll" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ll</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T20:56:39</CreateDate>
    <NodeName Default="Ll" />
    <SortOrder>66</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hoopucdh/ll.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>