<?xml version="1.0" encoding="utf-8"?>
<Media Key="07071aa2-1dce-4275-884b-7f2a3d954130" Alias="Logo Folan Fr" Level="2">
  <Info>
    <Parent Key="7d2b1fac-e2d2-4d77-b8ca-d0da82d144ea">res</Parent>
    <Path>/res/LogoFolanFr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T16:13:43</CreateDate>
    <NodeName Default="Logo Folan Fr" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uqnaob4o/logo-folan-fr.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>