<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6934855-a7d3-473b-b7c4-147b7a5aade3" Alias="M" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/M</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T19:28:22</CreateDate>
    <NodeName Default="M" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/knejhjwt/m.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>