<?xml version="1.0" encoding="utf-8"?>
<Media Key="c87d7795-5c4b-4a30-8dcb-721773acf098" Alias="Maxresdefault Copy (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MaxresdefaultCopy1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T05:30:37</CreateDate>
    <NodeName Default="Maxresdefault Copy (1)" />
    <SortOrder>290</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sn1h1scl/maxresdefault-copy.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>