<?xml version="1.0" encoding="utf-8"?>
<Media Key="295ede68-6dd2-4d37-a482-e9596498acc8" Alias="Microsoft Logo 2012 Present" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MicrosoftLogo2012Present</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T04:32:09</CreateDate>
    <NodeName Default="Microsoft Logo 2012 Present" />
    <SortOrder>271</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/n1pf2kos/microsoft-logo-2012-present.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>