<?xml version="1.0" encoding="utf-8"?>
<Media Key="9911d9c6-d3f4-4e8e-b5b6-a4fd19f35532" Alias="Microsoft Logo 2012 Present" Level="2">
  <Info>
    <Parent Key="7d2b1fac-e2d2-4d77-b8ca-d0da82d144ea">res</Parent>
    <Path>/res/MicrosoftLogo2012Present</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T16:13:43</CreateDate>
    <NodeName Default="Microsoft Logo 2012 Present" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ydmbdgpu/microsoft-logo-2012-present.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>