<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e00951f-ff72-4329-b102-9f5ffa5aeb46" Alias="Mm" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mm</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T20:56:39</CreateDate>
    <NodeName Default="Mm" />
    <SortOrder>67</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dgkba1ts/mm.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>