<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ef98ff2-3919-4a97-90ac-ab3950c576fd" Alias="Multidiscipline Engineering" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MultidisciplineEngineering</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T06:50:43</CreateDate>
    <NodeName Default="Multidiscipline Engineering" />
    <SortOrder>310</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4shpsdqz/multidiscipline-engineering.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>