<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee922c01-c1a3-4197-9d02-101b88ff9197" Alias="N" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/N</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T19:28:22</CreateDate>
    <NodeName Default="N" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/a2wjf1vd/n.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>