<?xml version="1.0" encoding="utf-8"?>
<Media Key="5555818a-f5b5-4c1c-85ae-f2f960e0d432" Alias="Nn" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Nn</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T20:59:09</CreateDate>
    <NodeName Default="Nn" />
    <SortOrder>68</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rsafkvnv/nn.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>