<?xml version="1.0" encoding="utf-8"?>
<Media Key="288beef4-6be0-4d2f-803c-c95d2aa7e98a" Alias="O" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/O</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T19:29:55</CreateDate>
    <NodeName Default="O" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4lxiwkha/o.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>