<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0c5e460-3a04-400e-b5b5-3e1fb2c85acb" Alias="Oo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Oo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T20:59:09</CreateDate>
    <NodeName Default="Oo" />
    <SortOrder>69</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m1smliae/oo.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>