<?xml version="1.0" encoding="utf-8"?>
<Media Key="9aef96c4-3ba8-4be3-aec3-985d2c23d596" Alias="Oracle Logo" Level="2">
  <Info>
    <Parent Key="7d2b1fac-e2d2-4d77-b8ca-d0da82d144ea">res</Parent>
    <Path>/res/OracleLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T16:13:44</CreateDate>
    <NodeName Default="Oracle Logo" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yklo5gvi/oracle-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>