<?xml version="1.0" encoding="utf-8"?>
<Media Key="748a3138-2f28-4386-9a09-97dfd897daa9" Alias="Parent Logo (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ParentLogo1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T19:13:23</CreateDate>
    <NodeName Default="Parent Logo (1)" />
    <SortOrder>210</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hyyju3bi/parent-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>