<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa2a0757-9b98-49bd-bc5a-7b1b5bf9ac7f" Alias="Pelco Ip Cameras Video Management System Intersec 2020 920X533" Level="2">
  <Info>
    <Parent Key="7d2b1fac-e2d2-4d77-b8ca-d0da82d144ea">res</Parent>
    <Path>/res/PelcoIpCamerasVideoManagementSystemIntersec2020920X533</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T16:13:45</CreateDate>
    <NodeName Default="Pelco Ip Cameras Video Management System Intersec 2020 920X533" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/keddvkuy/pelco-ip-cameras-video-management-system-intersec-2020-920x533.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>