<?xml version="1.0" encoding="utf-8"?>
<Media Key="264cb21a-85d1-4750-8bda-ad923e8b277b" Alias="Picture15" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Picture15</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-16T22:36:03</CreateDate>
    <NodeName Default="Picture15" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dszeyjwr/picture15.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>