<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e40b948-92cb-4405-baa7-597d2e3f61c0" Alias="Picture2 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Picture21</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T05:34:31</CreateDate>
    <NodeName Default="Picture2 (1)" />
    <SortOrder>291</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/j02fahwl/picture2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>