<?xml version="1.0" encoding="utf-8"?>
<Media Key="4862504c-d407-4ddb-98ee-a0d9288687e9" Alias="Picture13" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Picture13</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-16T22:36:06</CreateDate>
    <NodeName Default="Picture13" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jjigesah/picture13.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>