<?xml version="1.0" encoding="utf-8"?>
<Media Key="87cf5430-34e8-4442-8fe1-90b4cf281979" Alias="Png Transparent Logo Huawei Customer Service Centre 华为 Huawei Y 6 2018 Dual Sim 4G 16Gb Blue Hardware Electronic Logo Oppo Emblem Text Logo" Level="2">
  <Info>
    <Parent Key="7d2b1fac-e2d2-4d77-b8ca-d0da82d144ea">res</Parent>
    <Path>/res/PngTransparentLogoHuaweiCustomerServiceCentreHuaweiY62018DualSim4G16GbBlueHardwareElectronicLogoOppoEmblemTextLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T16:13:45</CreateDate>
    <NodeName Default="Png Transparent Logo Huawei Customer Service Centre 华为 Huawei Y 6 2018 Dual Sim 4G 16Gb Blue Hardware Electronic Logo Oppo Emblem Text Logo" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gzkm5b5i/png-transparent-logo-huawei-customer-service-centre-华为-huawei-y-6-2018-dual-sim-4g-16gb-blue-hardware-electronic-logo-oppo-emblem-text-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>