<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c745431-6794-47e7-ba9e-c30df8e2bb42" Alias="Power System Protection – Past Present Future" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PowerSystemProtectionPastPresentFuture</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T07:08:20</CreateDate>
    <NodeName Default="Power System Protection – Past Present Future" />
    <SortOrder>320</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/g3khipeu/power-system-protection-past-present-future.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>