<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f57f8fd-3748-4e6a-875c-dc54af913aac" Alias="Premier Partner Logo Removebg Preview" Level="2">
  <Info>
    <Parent Key="7d2b1fac-e2d2-4d77-b8ca-d0da82d144ea">res</Parent>
    <Path>/res/PremierPartnerLogoRemovebgPreview</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T16:47:09</CreateDate>
    <NodeName Default="Premier Partner Logo Removebg Preview" />
    <SortOrder>60</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5p2fod0i/premier_partner_logo-removebg-preview.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>