<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba0b61a9-5bb3-4060-bd26-ee489e630af2" Alias="Public Address And General Alarm System" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PublicAddressAndGeneralAlarmSystem</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T03:34:58</CreateDate>
    <NodeName Default="Public Address And General Alarm System" />
    <SortOrder>244</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/v3qbxovt/public-address-and-general-alarm-system.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>