<?xml version="1.0" encoding="utf-8"?>
<Media Key="22bc131c-a9dc-4884-9051-f941704367d2" Alias="Q" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Q</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T20:32:23</CreateDate>
    <NodeName Default="Q" />
    <SortOrder>56</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dijlyiw2/q.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>