<?xml version="1.0" encoding="utf-8"?>
<Media Key="51fd8510-e4b4-49ef-af77-4fbc6fb2bdf2" Alias="Qq" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Qq</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T21:04:01</CreateDate>
    <NodeName Default="Qq" />
    <SortOrder>71</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/c0cp0unu/qq.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>