<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d2b1fac-e2d2-4d77-b8ca-d0da82d144ea" Alias="res" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/res</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2022-11-07T16:13:22</CreateDate>
    <NodeName Default="res" />
    <SortOrder>190</SortOrder>
  </Info>
  <Properties />
</Media>