<?xml version="1.0" encoding="utf-8"?>
<Media Key="c02b41aa-af5a-4855-bc72-6bef146c273e" Alias="Rittal Logo 2010.Svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RittalLogo2010Svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-22T04:46:04</CreateDate>
    <NodeName Default="Rittal Logo 2010.Svg (1)" />
    <SortOrder>128</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vradxqc0/rittal-logo_2010svg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>