<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4a9f862-0ffa-4920-b087-69446c17edff" Alias="Rittal Logo 2010.Svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RittalLogo2010Svg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-22T04:05:21</CreateDate>
    <NodeName Default="Rittal Logo 2010.Svg" />
    <SortOrder>87</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mt2ktjh0/rittal-logo_2010svg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>