<?xml version="1.0" encoding="utf-8"?>
<Media Key="0863bba0-1a57-40e6-9857-aba82c2b813a" Alias="Shutterstock 1225629670 845X321" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Shutterstock1225629670845X321</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T03:55:05</CreateDate>
    <NodeName Default="Shutterstock 1225629670 845X321" />
    <SortOrder>254</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/u03hgccx/shutterstock_1225629670-845x321.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>