<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce58f6b7-80aa-4c80-9c52-9ab94f441216" Alias="SKU GTC Train Comms 300" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SKUGTCTrainComms300</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T03:35:35</CreateDate>
    <NodeName Default="SKU GTC Train Comms 300" />
    <SortOrder>245</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wh1frtvk/sku-gtc-train-comms_300.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>