<?xml version="1.0" encoding="utf-8"?>
<Media Key="22949155-980f-425d-bbf5-6788b42039b9" Alias="Slide19" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Slide19</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T03:57:12</CreateDate>
    <NodeName Default="Slide19" />
    <SortOrder>255</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/koijiiqp/slide19.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>