<?xml version="1.0" encoding="utf-8"?>
<Media Key="504f45da-f63e-40b8-ac3d-67f04b3a7161" Alias="Slide24" Level="2">
  <Info>
    <Parent Key="7d2b1fac-e2d2-4d77-b8ca-d0da82d144ea">res</Parent>
    <Path>/res/Slide24</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T17:12:16</CreateDate>
    <NodeName Default="Slide24" />
    <SortOrder>70</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1rcf4ub4/slide24.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>