<?xml version="1.0" encoding="utf-8"?>
<Media Key="acdb38d5-3502-439d-b0c7-59af2a67455d" Alias="Software Developer Getty Rosshelen" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SoftwareDeveloperGettyRosshelen</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T04:40:33</CreateDate>
    <NodeName Default="Software Developer Getty Rosshelen" />
    <SortOrder>276</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0m2nxlac/software_developer_getty_rosshelen.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>