<?xml version="1.0" encoding="utf-8"?>
<Media Key="b096c856-579d-4cd7-8258-1e684166e468" Alias="Telecommunications Antenna Radio Television Telephone With Cloud Blue Sky" Level="2">
  <Info>
    <Parent Key="7d2b1fac-e2d2-4d77-b8ca-d0da82d144ea">res</Parent>
    <Path>/res/TelecommunicationsAntennaRadioTelevisionTelephoneWithCloudBlueSky</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T17:19:50</CreateDate>
    <NodeName Default="Telecommunications Antenna Radio Television Telephone With Cloud Blue Sky" />
    <SortOrder>74</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kdejnme3/telecommunications-antenna-radio-television-telephone-with-cloud-blue-sky.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>