<?xml version="1.0" encoding="utf-8"?>
<Media Key="c413ca60-b767-4b47-8b5f-e5e9add0f8da" Alias="Tt" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Tt</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T04:15:58</CreateDate>
    <NodeName Default="Tt" />
    <SortOrder>266</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m1fbhrdh/tt.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>