<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e49e809-608b-48a1-b3eb-f273fe18073e" Alias="Union National Bank Egypt 16862 372X400" Level="2">
  <Info>
    <Parent Key="7d2b1fac-e2d2-4d77-b8ca-d0da82d144ea">res</Parent>
    <Path>/res/UnionNationalBankEgypt16862372X400</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T16:13:47</CreateDate>
    <NodeName Default="Union National Bank Egypt 16862 372X400" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/b5ues5ul/union-national-bank-egypt-16862-372x400.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>