<?xml version="1.0" encoding="utf-8"?>
<Media Key="678f2b1d-ae41-4dd9-8564-48a8dd487e16" Alias="United Bank Of Egypt" Level="2">
  <Info>
    <Parent Key="7d2b1fac-e2d2-4d77-b8ca-d0da82d144ea">res</Parent>
    <Path>/res/UnitedBankOfEgypt</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T16:13:47</CreateDate>
    <NodeName Default="United Bank Of Egypt" />
    <SortOrder>49</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dmvj4z0b/united-bank-of-egypt.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>