<?xml version="1.0" encoding="utf-8"?>
<Media Key="e68117ea-e833-4ea6-a8d0-ab37d27f4685" Alias="Uu" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Uu</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T21:04:01</CreateDate>
    <NodeName Default="Uu" />
    <SortOrder>72</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3qljdzrt/uu.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>