<?xml version="1.0" encoding="utf-8"?>
<Media Key="22bd6d9d-5a9f-406d-bb85-5888add218f3" Alias="Vmware Logo" Level="2">
  <Info>
    <Parent Key="7d2b1fac-e2d2-4d77-b8ca-d0da82d144ea">res</Parent>
    <Path>/res/VmwareLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T16:13:48</CreateDate>
    <NodeName Default="Vmware Logo" />
    <SortOrder>51</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tnwl0iu5/vmware-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>