<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d003de0-c89f-4c00-a190-dc6854009026" Alias="Warehouse Management System Copy" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WarehouseManagementSystemCopy</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T05:28:54</CreateDate>
    <NodeName Default="Warehouse Management System Copy" />
    <SortOrder>289</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2y4balm5/warehouse-management-system-copy.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>