<?xml version="1.0" encoding="utf-8"?>
<Media Key="9727c3ea-6fb2-4248-a882-5c4ac603cb49" Alias="Weathertilesbg1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Weathertilesbg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T03:39:33</CreateDate>
    <NodeName Default="Weathertilesbg1" />
    <SortOrder>248</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3tbdpf3s/weathertilesbg1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>