<?xml version="1.0" encoding="utf-8"?>
<Media Key="400ed9cd-3ccc-4f26-bb5a-45fa86762835" Alias="Whatsapp Image 2022 10 22 At 4.28.38 AM" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WhatsappImage20221022At42838AM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-22T04:46:01</CreateDate>
    <NodeName Default="Whatsapp Image 2022 10 22 At 4.28.38 AM" />
    <SortOrder>111</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zpmb2qgm/whatsapp-image-2022-10-22-at-42838-am.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>