<?xml version="1.0" encoding="utf-8"?>
<Media Key="6dd4cd1b-805f-49a8-a104-a59bcd234851" Alias="Whatsapp Image 2022 10 22 At 42838 Am" Level="2">
  <Info>
    <Parent Key="7d2b1fac-e2d2-4d77-b8ca-d0da82d144ea">res</Parent>
    <Path>/res/WhatsappImage20221022At42838Am</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-07T16:44:43</CreateDate>
    <NodeName Default="Whatsapp Image 2022 10 22 At 42838 Am" />
    <SortOrder>59</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dxgni1k5/whatsapp-image-2022-10-22-at-42838-am.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>