<?xml version="1.0" encoding="utf-8"?>
<Media Key="a378b926-86d7-48a3-a21d-5c6617dfe712" Alias="Whatsapp Image 2022 10 22 At 4.23.04 AM" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WhatsappImage20221022At42304AM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-22T04:46:01</CreateDate>
    <NodeName Default="Whatsapp Image 2022 10 22 At 4.23.04 AM" />
    <SortOrder>114</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ec2hri4x/whatsapp-image-2022-10-22-at-42304-am.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>