<?xml version="1.0" encoding="utf-8"?>
<Media Key="9866d92b-8f5c-4d7c-896d-fca3cca464ec" Alias="Whatsapp Image 2022 10 22 At 4.28.40 AM" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WhatsappImage20221022At42840AM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-22T04:45:59</CreateDate>
    <NodeName Default="Whatsapp Image 2022 10 22 At 4.28.40 AM" />
    <SortOrder>104</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fxmhngc2/whatsapp-image-2022-10-22-at-42840-am.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>