<?xml version="1.0" encoding="utf-8"?>
<Media Key="79daf550-4ff7-453b-8e21-51273a9d3e12" Alias="White Servers Center Room With Computers Storage Systems 3D Rendering" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WhiteServersCenterRoomWithComputersStorageSystems3DRendering</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-11-08T03:09:22</CreateDate>
    <NodeName Default="White Servers Center Room With Computers Storage Systems 3D Rendering" />
    <SortOrder>225</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/k10nu4px/white-servers-center-room-with-computers-storage-systems-3d-rendering.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>