<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c2b072b-af87-4afc-8813-f66e3c0756ec" Alias="X" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/X</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T20:32:23</CreateDate>
    <NodeName Default="X" />
    <SortOrder>58</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fuddxheh/x.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>