<?xml version="1.0" encoding="utf-8"?>
<Media Key="16501e4a-9c49-4aa9-849e-a46084266603" Alias="Xx" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Xx</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T21:08:11</CreateDate>
    <NodeName Default="Xx" />
    <SortOrder>73</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jqpfafsj/xx.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>