<?xml version="1.0" encoding="utf-8"?>
<Media Key="6edec15a-2926-460e-bebb-8462b5289a78" Alias="Xxx" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Xxx</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T21:16:15</CreateDate>
    <NodeName Default="Xxx" />
    <SortOrder>75</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ltan21rg/xxx.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>