<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f9fc545-5474-4f5e-923e-7c816af32844" Alias="Yyy" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Yyy</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T21:16:15</CreateDate>
    <NodeName Default="Yyy" />
    <SortOrder>76</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ipcj5h1u/yyy.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>