<?xml version="1.0" encoding="utf-8"?>
<Media Key="bcb78349-288b-46a7-ba93-5a199db69a03" Alias="Zz" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Zz</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T21:11:53</CreateDate>
    <NodeName Default="Zz" />
    <SortOrder>74</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/j4blppel/zz.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>