<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd838584-de42-4270-84a0-2fb09403c59b" Alias="Zzz" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Zzz</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-17T21:16:15</CreateDate>
    <NodeName Default="Zzz" />
    <SortOrder>77</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qkcjhpkc/zzz.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>