<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3a4ba5c9-d6df-419a-ac1f-7cf804eeafdf" Alias="arabicHome" Level="2">
  <Info>
    <Name>arabic home</Name>
    <Icon>icon-home color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b7cab42c-8205-474e-9f0a-1cd3b9185f1f">contentProperties</Composition>
      <Composition Key="7f9db417-9be4-48d6-8d76-a42c3eb5ff72">footerProperties</Composition>
      <Composition Key="9288ed09-625d-42df-a602-f0a71eb7dabb">headerProperties</Composition>
      <Composition Key="ff517493-55ed-43df-a801-a648f37e609f">siteNavigationPage</Composition>
    </Compositions>
    <DefaultTemplate>ArabicHome</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="40e94cce-311e-4bb0-9bc0-6dbb53afbed8">ArabicHome</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9ba417a4-a19d-4ed4-b363-e7fb1cc5c1cb" SortOrder="0">arabicdataCenters</ContentType>
    <ContentType Key="29b3bf45-265c-4bf4-88c7-e12ba6eecdac" SortOrder="1">arabiceLVSystem</ContentType>
    <ContentType Key="0dd7a140-22b5-45eb-8bad-5351e90e5cb8" SortOrder="2">arabicenterpriseSolutions</ContentType>
    <ContentType Key="5ba602b8-12c0-46b8-803a-e9831383cd6c" SortOrder="3">arabicfinancialSolutions</ContentType>
    <ContentType Key="8ec35ca0-0f81-4b3c-b6d3-b14b0741fac1" SortOrder="4">arabicgridAutomation</ContentType>
    <ContentType Key="fd366eff-d64a-4b92-8034-1765440fc58c" SortOrder="5">arabiciCTInfrastructure</ContentType>
    <ContentType Key="041dbd10-7feb-4d30-a206-7ce6a6965686" SortOrder="6">arabicindustrialAutomation</ContentType>
    <ContentType Key="9d9cdba7-ebdc-45bc-b76b-6e9c754964e8" SortOrder="7">arabiciOTSmartSolutions</ContentType>
    <ContentType Key="f391ee86-8c00-43c1-a3ce-2ed5de9d8b84" SortOrder="8">arabicsoftwareSolutions</ContentType>
    <ContentType Key="90eb1411-39fa-4ac3-a209-7a3ceb26049c" SortOrder="9">arabictelecomInfrastructure</ContentType>
    <ContentType Key="f9f1cba4-cb3b-434c-948d-2d1373500eb8" SortOrder="10">arabicsubhome</ContentType>
    <ContentType Key="ef54a4ce-d5bd-4004-a912-348f8a3629fa" SortOrder="11">arabiccontentPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>3fd968f8-c2e7-495e-8f81-7dca1f319754</Key>
      <Name>cloudname</Name>
      <Alias>cloudname</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>15</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>82c6620e-7160-485e-b560-173a9b4fda32</Key>
      <Name>clouds</Name>
      <Alias>clouds</Alias>
      <Definition>d60bf79d-4fd2-4a45-9710-86cbb08d872e</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>14</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>11767170-2dd2-4a45-8efa-77cbb7fb8018</Key>
      <Name>Companies</Name>
      <Alias>companies</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>11</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0ded409d-b1f4-427e-9d7a-c9680d1c8658</Key>
      <Name>CompaniesList</Name>
      <Alias>companiesList</Alias>
      <Definition>dfb16779-f7fa-4286-be3b-3db3a338b31f</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>12</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8a342a6d-9601-4ce3-8b00-db9a896fd7b6</Key>
      <Name>companyname1</Name>
      <Alias>companyname1</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f2c9f0b5-a607-4c6b-aefc-8de6a4d8d1b3</Key>
      <Name>companyname2</Name>
      <Alias>companyname2</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>65f054fe-5ed3-4408-add7-15b8cc2350b6</Key>
      <Name>curosellist</Name>
      <Alias>curosellist</Alias>
      <Definition>04deef63-255c-40cb-b1ea-d1d0a197d88e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>16</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>97b0c40c-7b4f-4f13-a3cc-34c1ba39fbc7</Key>
      <Name>DataCintres</Name>
      <Alias>dataCintres</Alias>
      <Definition>5ba674ec-4d31-4da6-94cb-46740b22afda</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>13</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0df236de-272e-4566-9d4c-a5846bd7b9dc</Key>
      <Name>homepagelink</Name>
      <Alias>homepagelink</Alias>
      <Definition>5198aae0-321e-4835-b5d9-45800479ae8b</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>75b4aa79-f95f-4191-a027-e7c1594e049b</Key>
      <Name>KeyFigures</Name>
      <Alias>keyFigures</Alias>
      <Definition>04deef63-255c-40cb-b1ea-d1d0a197d88e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8196dc10-2052-4f8a-b157-77c285f40a89</Key>
      <Name>keyFiguresLabel</Name>
      <Alias>keyFiguresLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>aa05bb3e-aff3-4330-941b-32c28af59f29</Key>
      <Name>Partners</Name>
      <Alias>partners</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>24ac3e2c-2c55-4ca6-a3cb-248d73a0a931</Key>
      <Name>PartnersList</Name>
      <Alias>partnersList</Alias>
      <Definition>04deef63-255c-40cb-b1ea-d1d0a197d88e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>06d0124d-2e63-4dcb-b6f1-337e900039d8</Key>
      <Caption>Navigation</Caption>
      <Alias>navigation</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>441b32cf-e1c2-4631-807c-514f8c70eaf9</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>20</SortOrder>
    </Tab>
  </Tabs>
</ContentType>