<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="96681b1b-fc21-470e-bbbe-d1c1ab82af52" Alias="arabichome" Level="2">
  <Info>
    <Name>arabichome</Name>
    <Icon>icon-home color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b7cab42c-8205-474e-9f0a-1cd3b9185f1f">contentProperties</Composition>
      <Composition Key="7f9db417-9be4-48d6-8d76-a42c3eb5ff72">footerProperties</Composition>
      <Composition Key="9288ed09-625d-42df-a602-f0a71eb7dabb">headerProperties</Composition>
      <Composition Key="ff517493-55ed-43df-a801-a648f37e609f">siteNavigationPage</Composition>
    </Compositions>
    <DefaultTemplate>arabichome</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e89fe2f7-7fde-4c37-b005-7d1fbf2b9c6d">arabichome</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>017ca83e-aeff-4cba-aada-1b6962a7629c</Key>
      <Name>homepagelink</Name>
      <Alias>homepagelink</Alias>
      <Definition>5198aae0-321e-4835-b5d9-45800479ae8b</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f59817a0-b275-4efd-92af-c5262d30e4d3</Key>
      <Caption>Navigation</Caption>
      <Alias>navigation</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>