<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0dd7a140-22b5-45eb-8bad-5351e90e5cb8" Alias="arabicenterpriseSolutions" Level="3">
  <Info>
    <Name>arabicEnterprise Solutions</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Enterprise+Solutions</Folder>
    <Compositions>
      <Composition Key="9288ed09-625d-42df-a602-f0a71eb7dabb">headerProperties</Composition>
      <Composition Key="82137667-047b-44c9-8c9c-c7eb7ec01a39">siteinfoProperties</Composition>
    </Compositions>
    <DefaultTemplate>arabicEnterpriseSolutions</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="701fc571-01fe-4477-9b91-2c559274a499">arabicEnterpriseSolutions</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3f2887ed-f57b-4408-ac00-abcabb424f89" SortOrder="0">arabicsubContent</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>