<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9d9cdba7-ebdc-45bc-b76b-6e9c754964e8" Alias="arabiciOTSmartSolutions" Level="3">
  <Info>
    <Name>arabicIOT &amp; Smart Solutions</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/IOT+%26+Smart+Solutions</Folder>
    <Compositions>
      <Composition Key="9288ed09-625d-42df-a602-f0a71eb7dabb">headerProperties</Composition>
      <Composition Key="82137667-047b-44c9-8c9c-c7eb7ec01a39">siteinfoProperties</Composition>
    </Compositions>
    <DefaultTemplate>arabicIOTSmartSolutions</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6c88d830-0774-4706-978d-ad3dbb8803f3">arabicIOTSmartSolutions</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3f2887ed-f57b-4408-ac00-abcabb424f89" SortOrder="0">arabicsubContent</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>