<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9af25806-1ab0-4e97-8b79-a563026aa496" Alias="assetMonitoringAndManagement" Level="4">
  <Info>
    <Name>Asset Monitoring and Management</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="e75f4baf-8bc6-419c-90c5-ebd540c69544">industrialAutomation</Parent>
    <Compositions>
      <Composition Key="e75f4baf-8bc6-419c-90c5-ebd540c69544">industrialAutomation</Composition>
    </Compositions>
    <DefaultTemplate>AssetMonitoringAndManagement</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e9e23cbf-10ca-4068-84de-e33927ac2f5f">AssetMonitoringAndManagement</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>