<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="afc094fc-3ab0-4a6a-905a-1e481385cb1a" Alias="coreBankingSolution" Level="4">
  <Info>
    <Name>Core Banking solution</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="addcc5f2-98a6-41db-820e-409588301ab5">financialSolutions</Parent>
    <Compositions>
      <Composition Key="addcc5f2-98a6-41db-820e-409588301ab5">financialSolutions</Composition>
    </Compositions>
    <DefaultTemplate>CoreBankingSolution</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6b80c7bc-d9e5-4185-8045-855df36d2bc2">CoreBankingSolution</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>