<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="67eda882-d753-415a-a9bc-af3d9c65d9be" Alias="distributionAndTransmissionControlSystem" Level="4">
  <Info>
    <Name>Distribution and Transmission Control System</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="9fc6c570-05f2-49e8-a811-ab6c30a4a213">utilityAutomation</Parent>
    <Compositions>
      <Composition Key="9fc6c570-05f2-49e8-a811-ab6c30a4a213">utilityAutomation</Composition>
    </Compositions>
    <DefaultTemplate>DistributionAndTransmissionControlSystem</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b0024364-120d-4850-a411-c448e0532d71">DistributionAndTransmissionControlSystem</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>