<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1568b55c-5df6-41a7-9159-e74db4088a3a" Alias="enterprisePerformanceManagementEPM" Level="4">
  <Info>
    <Name>Enterprise Performance Management (EPM)</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="e3eb4fe3-0b24-4daf-8e39-108d7aa63efc">enterpriseSolutions</Parent>
    <Compositions>
      <Composition Key="e3eb4fe3-0b24-4daf-8e39-108d7aa63efc">enterpriseSolutions</Composition>
    </Compositions>
    <DefaultTemplate>EnterprisePerformanceManagementEPM</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6bd596a0-ef5c-4a7f-a77e-028c6998fcf4">EnterprisePerformanceManagementEPM</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>