<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="56438a24-e590-4f6f-a16d-d28d01d698cb" Alias="enterpriseContentManagementECM" Level="4">
  <Info>
    <Name>Enterprise Content Management (ECM)</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="e3eb4fe3-0b24-4daf-8e39-108d7aa63efc">enterpriseSolutions</Parent>
    <Compositions>
      <Composition Key="e3eb4fe3-0b24-4daf-8e39-108d7aa63efc">enterpriseSolutions</Composition>
    </Compositions>
    <DefaultTemplate>EnterpriseContentManagementECM</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f296785c-10e5-4fd1-b387-c0b56eda4b30">EnterpriseContentManagementECM</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>