<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="61fe0e9e-fd5a-4227-bf6f-34032601aaf3" Alias="enterpriseResourcePlanningERP" Level="4">
  <Info>
    <Name>Enterprise Resource Planning (ERP)</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="e3eb4fe3-0b24-4daf-8e39-108d7aa63efc">enterpriseSolutions</Parent>
    <Compositions>
      <Composition Key="e3eb4fe3-0b24-4daf-8e39-108d7aa63efc">enterpriseSolutions</Composition>
    </Compositions>
    <DefaultTemplate>EnterpriseResourcePlanningERP</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="68456399-313f-4062-a2fa-cbc6ddbc62f5">EnterpriseResourcePlanningERP</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>