<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="addcc5f2-98a6-41db-820e-409588301ab5" Alias="financialSolutions" Level="3">
  <Info>
    <Name>Financial solutions</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Solutions</Folder>
    <Compositions>
      <Composition Key="c359032c-6379-4ad6-b6b0-e97e0474b68a">content</Composition>
      <Composition Key="9288ed09-625d-42df-a602-f0a71eb7dabb">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>FinancialSolutions</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7bc597d4-2966-4dee-bb88-1da7983d4aad">FinancialSolutions</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>