<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f06ba860-77b6-4f7c-9552-ee3888ef22e3" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="7f9db417-9be4-48d6-8d76-a42c3eb5ff72">footerProperties</Composition>
      <Composition Key="9288ed09-625d-42df-a602-f0a71eb7dabb">headerProperties</Composition>
      <Composition Key="ff517493-55ed-43df-a801-a648f37e609f">siteNavigationPage</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1c7982cb-76ba-42dd-8440-d1ebf3fd96d2">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e50dfc1f-74d5-4f13-bb06-139d3a88e060" SortOrder="0">contentPage</ContentType>
    <ContentType Key="f31df7e5-1725-4409-8294-a23a9910a6ce" SortOrder="1">contactPage</ContentType>
    <ContentType Key="bed932e6-8e52-473d-99ec-6a512ea69ce3" SortOrder="2">articleList</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>