<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a2caa662-8184-4ce9-bf86-790b3ba6d377" Alias="iCTInfrastructure" Level="3">
  <Info>
    <Name>ICT Infrastructure</Name>
    <Icon>icon-app color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/ICT+Infrastructure</Folder>
    <Compositions>
      <Composition Key="9288ed09-625d-42df-a602-f0a71eb7dabb">headerProperties</Composition>
      <Composition Key="82137667-047b-44c9-8c9c-c7eb7ec01a39">siteinfoProperties</Composition>
    </Compositions>
    <DefaultTemplate>ICTInfrastructure</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="66f6363b-84dc-4a95-84ff-6a8750d714b3">ICTInfrastructure</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4c857be5-b777-4248-bfc6-f59377c53345" SortOrder="0">subContent</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>