<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e75f4baf-8bc6-419c-90c5-ebd540c69544" Alias="industrialAutomation" Level="3">
  <Info>
    <Name>Industrial Automation</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Solutions</Folder>
    <Compositions>
      <Composition Key="c359032c-6379-4ad6-b6b0-e97e0474b68a">content</Composition>
      <Composition Key="9288ed09-625d-42df-a602-f0a71eb7dabb">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>IndustrialAutomation</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2ab3efc9-ef54-4183-969f-07d4b2997b44">IndustrialAutomation</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9af25806-1ab0-4e97-8b79-a563026aa496" SortOrder="0">assetMonitoringAndManagement</ContentType>
    <ContentType Key="8e8852c9-f315-4c9d-99a9-f9881d558957" SortOrder="1">instrumentation</ContentType>
    <ContentType Key="06a3b010-c22f-4746-85e2-bfabf7874cde" SortOrder="2">pLCAndDC</ContentType>
    <ContentType Key="4e09045a-ff37-46ab-be69-e571381f4b84" SortOrder="3">processAutomation</ContentType>
    <ContentType Key="89fa016c-9ee1-4ac0-834b-a645ae1506ee" SortOrder="4">sCADA</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>