<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8e8852c9-f315-4c9d-99a9-f9881d558957" Alias="instrumentation" Level="4">
  <Info>
    <Name>Instrumentation</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="e75f4baf-8bc6-419c-90c5-ebd540c69544">industrialAutomation</Parent>
    <Compositions>
      <Composition Key="e75f4baf-8bc6-419c-90c5-ebd540c69544">industrialAutomation</Composition>
    </Compositions>
    <DefaultTemplate>Instrumentation</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bd2aab6e-4ca7-4715-9125-022317ee28bf">Instrumentation</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>