<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="56e9ec14-eb33-4aba-9c16-2505a34a986d" Alias="iOTSmartSolutions" Level="3">
  <Info>
    <Name>IOT &amp; Smart Solutions</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/IOT+%26+Smart+Solutions</Folder>
    <Compositions>
      <Composition Key="9288ed09-625d-42df-a602-f0a71eb7dabb">headerProperties</Composition>
      <Composition Key="82137667-047b-44c9-8c9c-c7eb7ec01a39">siteinfoProperties</Composition>
    </Compositions>
    <DefaultTemplate>IOTSmartSolutions</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="951eac97-8d20-4555-8150-dd1191124981">IOTSmartSolutions</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4c857be5-b777-4248-bfc6-f59377c53345" SortOrder="0">subContent</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>