<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="06a3b010-c22f-4746-85e2-bfabf7874cde" Alias="pLCAndDC" Level="4">
  <Info>
    <Name>PLC and DC</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="e75f4baf-8bc6-419c-90c5-ebd540c69544">industrialAutomation</Parent>
    <Compositions>
      <Composition Key="e75f4baf-8bc6-419c-90c5-ebd540c69544">industrialAutomation</Composition>
    </Compositions>
    <DefaultTemplate>PLCAndDC</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6cb122a3-0cf1-4cc6-a778-a69e90649254">PLCAndDC</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>