<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4e09045a-ff37-46ab-be69-e571381f4b84" Alias="processAutomation" Level="4">
  <Info>
    <Name>Process Automation</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="e75f4baf-8bc6-419c-90c5-ebd540c69544">industrialAutomation</Parent>
    <Compositions>
      <Composition Key="e75f4baf-8bc6-419c-90c5-ebd540c69544">industrialAutomation</Composition>
    </Compositions>
    <DefaultTemplate>ProcessAutomation</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="de15d6a2-6b7c-486a-be41-488e3b578d67">ProcessAutomation</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>