<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="89fa016c-9ee1-4ac0-834b-a645ae1506ee" Alias="sCADA" Level="4">
  <Info>
    <Name>SCADA</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="e75f4baf-8bc6-419c-90c5-ebd540c69544">industrialAutomation</Parent>
    <Compositions>
      <Composition Key="e75f4baf-8bc6-419c-90c5-ebd540c69544">industrialAutomation</Composition>
    </Compositions>
    <DefaultTemplate>SCADA</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="607ff72f-f874-4d81-93fb-188836bdf84a">SCADA</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>