<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e19a6628-ad6e-4e4f-9714-c0e255affb5d" Alias="substationAndGridAutomation" Level="4">
  <Info>
    <Name>Substation and Grid Automation</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="9fc6c570-05f2-49e8-a811-ab6c30a4a213">utilityAutomation</Parent>
    <Compositions>
      <Composition Key="9fc6c570-05f2-49e8-a811-ab6c30a4a213">utilityAutomation</Composition>
    </Compositions>
    <DefaultTemplate>SubstationAndGridAutomation</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f3f18870-ecc4-4c46-bec1-d5dbdd0d16d4">SubstationAndGridAutomation</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>