<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="70d9e801-600d-4aef-bbf4-13977a9afc4a" Alias="telecomInfrastructure" Level="3">
  <Info>
    <Name>Telecom Infrastructure</Name>
    <Icon>icon-satellite-dish color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Telecom+Infrastructure</Folder>
    <Compositions>
      <Composition Key="9288ed09-625d-42df-a602-f0a71eb7dabb">headerProperties</Composition>
      <Composition Key="82137667-047b-44c9-8c9c-c7eb7ec01a39">siteinfoProperties</Composition>
    </Compositions>
    <DefaultTemplate>TelecomInfrastructure</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e219791c-5dd0-44c8-8ecf-a647727c2867">TelecomInfrastructure</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4c857be5-b777-4248-bfc6-f59377c53345" SortOrder="0">subContent</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>