<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9fc6c570-05f2-49e8-a811-ab6c30a4a213" Alias="utilityAutomation" Level="3">
  <Info>
    <Name>Utility Automation</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Solutions</Folder>
    <Compositions>
      <Composition Key="c359032c-6379-4ad6-b6b0-e97e0474b68a">content</Composition>
      <Composition Key="9288ed09-625d-42df-a602-f0a71eb7dabb">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>UtilityAutomation</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="25ae1ab1-e935-4b82-8679-7a2d3c0634d7">UtilityAutomation</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>