<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="92789c01-9154-42ee-890c-a0e3dfa5038f" Alias="warehouseManagementSystemWMS" Level="4">
  <Info>
    <Name>Warehouse Management System (WMS)</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="e3eb4fe3-0b24-4daf-8e39-108d7aa63efc">enterpriseSolutions</Parent>
    <Compositions>
      <Composition Key="e3eb4fe3-0b24-4daf-8e39-108d7aa63efc">enterpriseSolutions</Composition>
    </Compositions>
    <DefaultTemplate>WarehouseManagementSystemWMS</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1f9528c5-d3c4-4f67-84ad-d2a128a63b19">WarehouseManagementSystemWMS</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>