@inherits UmbracoViewPage<IHeaderProperties>

 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>@Model.Title</title>

    <!-- Basic SEO -->
    <meta name="description"
        content="Elsewedy Electric is a world leader in products and services for energy, digital and infrastructure. We specialise in Engineering, Procurement & Construction (EPC) projects that deliver maximum efficiency and sustainability.">
    <meta name="keywords" content="HTML5, CSS3, JQuery, Bootstrap, Web Design, Web Development, Elsewedy, Egypt">
    <style>
        .column .inner-inner-link {
            line-height:15px;
        }
    </style>
@* <title>@Model.Title  - Start Bootstrap Theme</title> *@