<?xml version="1.0" encoding="utf-8"?>
<DataType Key="66403fa3-80c6-4b40-b8c1-fa20bacf1981" Alias="[Blocklist] curosel items" Level="1">
  <Info>
    <Name>[Blocklist] curosel items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "78515b27-14a6-480b-a8c7-7d75b3d2aeb2",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "i{{ 'curosalitem ' + $index }} {{ $settings.hide =='1' ? '[HIDDEN]' :'' }}",
      "settingsElementTypeKey": "1acc637b-23e0-49d3-9e4c-ec66602366af",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>