<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9ab8a64f-bf9a-4ddf-aba8-858538be971e" Alias="[Dropdown] Colours" Level="1">
  <Info>
    <Name>[Dropdown] Colours</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "red"
    },
    {
      "id": 2,
      "value": "orange"
    },
    {
      "id": 3,
      "value": "blue"
    },
    {
      "id": 4,
      "value": "green"
    },
    {
      "id": 5,
      "value": "black"
    },
    {
      "id": 6,
      "value": "brown"
    },
    {
      "id": 7,
      "value": "violet"
    },
    {
      "id": 8,
      "value": "pink"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>