<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5ba674ec-4d31-4da6-94cb-46740b22afda" Alias="[Nested] newimagepicker" Level="1">
  <Info>
    <Name>[Nested] newimagepicker</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ConfirmDeletes": true,
  "ContentTypes": [
    {
      "nameTemplate": "{{title}}",
      "ncAlias": "multiimage",
      "ncTabAlias": "Content"
    }
  ],
  "ExpandsOnLoad": true,
  "HideLabel": false,
  "MaxItems": null,
  "MinItems": null,
  "ShowIcons": true
}]]></Config>
</DataType>