<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ba8b9a82-43d0-4452-b28d-f8e9b9e8247e" Alias="singleimage" Level="1">
  <Info>
    <Name>singleimage</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": 1
  }
}]]></Config>
</DataType>