@inherits UmbracoViewPage<BlockListItem>

@{
    var row = (StringRow)Model.Content;
      var settings =(StringRowSettings)Model.Settings;
    if(settings?.Hide ?? false) {return;}
    if (row.Image==null)return;
}

 
                         <div class="col-sm-4 list-threeInRow-topIcon-downDesc-number wow fadeInLeft row-eq-height" data-wow-duration="1s" data-wow-delay=".3s">
                            <div class="one-topIcon-downDesc-number">
                                <div class="one-topIcon-downDesc-number-inner">
                                    <img src="@row.Image.Url()" width = "80" height = "80" class="img-responsive" alt="@row.Caption2">
                                    <h4><span class="number-count counter">@row.Caption</span></h4>
                                    <p>@row.Caption2</p>
                                </div>
                            </div>
                        </div> 

 @* <div class="col-sm-4 list-threeInRow-topIcon-downDesc-number wow fadeInRight row-eq-height" data-wow-duration="1s" data-wow-delay=".3s">
                            <div class="one-topIcon-downDesc-number">
                                <div class="one-topIcon-downDesc-number-inner">
                                    <img src="../../img/num-pic3.png" class="img-responsive" alt="Transmission and Distribution">
                                    <h4><span class="number-count counter">23</span> K KM</h4>
                                    <p>Transmission and Distribution</p>
                                </div>
                            </div>
                        </div> *@





